<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		我的工作台<small>Control panel</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
		<li class="active">我的工作台</li>
	</ol>
</section>
<br/>

<!-- Main content -->
<section class="content">


</section>
<!-- echarts -->
 <script src="${basePath}/assets/adminlte/plugins/echarts/theme/vintage.js"></script> 
 <script src="${basePath}/assets/adminlte/plugins/echarts/theme/macarons.js"></script>
 <script src="${basePath}/assets/adminlte/plugins/echarts/theme/dark.js"></script>
 <script src="${basePath}/assets/adminlte/plugins/echarts/echarts.js"></script> 
<script>
$(function(){ 
   $("a[data-url]").click(function(evt){
	   loadPage($(this).data("url"));
   });
});

$(function(){
	var userType = ${user.type};
	if(userType==2||userType==3){
		$("#cardDiv").hide();
		$("#noticeDiv").hide();
		$("#userDiv").hide();
	}
	if(userType==4){
		$("#adDiv").hide();
		$("#comDiv").hide();
		$("#machineDiv").hide();
	}
}); 

var myChart = echarts.init($("#echartsDiv")[0],'vintage');
option = {
	    title : {
	        text: '今日开门方式占比',
	        subtext: '',
	        x:'center'
	    },
	    tooltip : {
	        trigger: 'item',
	        formatter: "{a} <br/>{b} : {c} ({d}%)"
	    },
	    toolbox: {
	        show: true,
	        feature: {
	            saveAsImage: {}
	        }
	    },
	    legend: {
	        orient: 'vertical',
	        left: 'left',
	        data: ['APP','分享钥匙','身份证','物管后台','刷脸']
	    },
	    series : [
	        {
	            name: '开门方式',
	            type: 'pie',
	            radius : '55%',
	            center: ['50%', '60%'],
	            /* data:[
	                {value:335, name:'APP'},
	                {value:310, name:'分享钥匙'},
	                {value:234, name:'身份证'},
	                {value:135, name:'物管后台'}
	                {value:135, name:'刷脸'}
	            ], */ 
	            data:(function(){
                    var arr=[];
                    //var curdata = new Date();
                    //alert(JSON.stringify(curdata));
                    ajaxPost("machine/countOpenTimes", {
					}, function(data){
						//alert(JSON.stringify(data[0]));
						//for(var i=0;i<data.length;i++){
							arr.push({name: "APP",value: data[0].app});
							arr.push({name: "刷脸",value: data[0].face});
							//arr.push({name: "门禁卡",value: data[0].accard});
							arr.push({name: "物管后台",value: data[0].est});
							arr.push({name: "身份证",value: data[0].idcard});
							arr.push({name: "分享钥匙",value: data[0].sharekey});
                         // }         
					});
                    
              		return arr;
       			 })(),
         
	            itemStyle: {
	                emphasis: {
	                    shadowBlur: 10,
	                    shadowOffsetX: 0,
	                    shadowColor: 'rgba(0, 0, 0, 0.5)'
	                }
	            }
	        }
	    ]
	};

myChart.setOption(option);


var myChart1 = echarts.init($("#echartsDiv1")[0],'vintage');
var serie=[];
var xAxi=[];
ajaxPost("machine/countEachHourOpenTimes", null, function(data){
    for(var i=data.length-1;i >= 0;i--){
  	  //alert(JSON.stringify(data[i][0].sum));
        serie.push(data[i][0].sum);
        xAxi.push(data[i][1].legends);
    }
});
var xAxis =xAxi;
var series=serie;

option = {
	    title: {
	        text: '今日开门时段分布',
	        subtext: '',
	        x:'center'
	    },
	    tooltip: {
	        trigger: 'axis',
	        axisPointer: {
	            type: 'cross'
	        }
	    },
	    toolbox: {
	        show: true,
	        feature: {
	            saveAsImage: {}
	        }
	    },
	    /* legend: {
	    	data:[]  
	    }, */
	    lineStyle:{
            normal:{
                width:10,  //连线粗细
                color: "#00CD00"  //连线颜色
            }
        },
	    xAxis:  {
	        type: 'category',
	        boundaryGap: false,
	        data:xAxis
	    },
	    yAxis: {
	        type: 'value',
	        axisLabel: {
	            formatter: '{value} 次'
	        },
	        axisPointer: {
	            snap: true
	        }
	    },
	     /* visualMap: {
	        show: false,
	        dimension: 0,
	        pieces: [{
	            lte: 6,
	            color: 'green'
	        }, {
	            gt: 6,
	            lte: 8,
	            color: 'red'
	        }, {
	            gt: 8,
	            lte: 14,
	            color: 'green'
	        }, {
	            gt: 14,
	            lte: 17,
	            color: 'red'
	        }, {
	            gt: 17,
	            color: 'green'
	        }] 
	    },  */
	    series: [
	         {
	            name:'开门次数',
	            type:'line',
	            smooth: true,
	            //data: [300, 280, 250, 260, 270, 300, 550, 500, 400, 390, 380, 390, 400, 500, 600, 750, 800, 700, 600, 400],
	            data:series
	        } 
	    ]
	};
	
	

myChart1.setOption(option);

</script>