<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		我的工作台<small>Control panel</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="${basePath}/main"><i class="fa fa-dashboard"></i> 首页</a></li>
		<li class="active">我的工作台</li>
	</ol>
</section>
<br/>

<!-- Main content -->
<section class="content">


</section>
<!-- echarts  
 <script src="${basePath}/assets/adminlte/plugins/echarts/theme/vintage.js"></script> 
 <script src="${basePath}/assets/adminlte/plugins/echarts/theme/macarons.js"></script>
 <script src="${basePath}/assets/adminlte/plugins/echarts/theme/dark.js"></script>
 <script src="${basePath}/assets/adminlte/plugins/echarts/echarts.js"></script>--> 
<script>
$(function(){ 
   $("a[data-url]").click(function(evt){
	   loadPage($(this).data("/web/picture"));
   });
});

</script>