<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		我的工作台<small>Control panel</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="${basePath}/main"><i class="fa fa-dashboard"></i> 首页</a></li>
		<li class="active">我的工作台</li>
	</ol>
</section>
<br/>

<!-- Main content -->
<section class="content">
	<div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title"><b>排版效果展示图</b></h3>
			 <div class="btn-group pull-right">
				<a href="" id="excelAddress" class="btn btn-default"><i class="fa fa-download"></i>订单详情（excel）</a>
				<a href="javascript:void(0)" id="dxfAddress" class="btn btn-warning"><i class="fa fa-download"></i>排版图（dxf）</a>
						
					</div>
			  </div>

 <div class="box-body">

	 <div class="row">
        <div class="col-md-6 col-xs-6">
          <!-- AREA CHART -->
			  <img src="${basePath}/assets/common/images/1.jpg" id="pictureAddress" onclick="showphoto(pictureAddress)" alt="First slide"> 

			</div>

		<div class="col-md-6 col-xs-6">
			<div class="form-group">
				<label class="col-sm-4 control-label" >纸质价格：</label>
				<div class="col-sm-6">
					<input id="paperPrice" name="paperPrice" readonly type="text" class="form-control" >
				</div>
				<label class="col-sm-2 control-label" >元</label>
			</div>

			<div class="form-group">
				<label class="col-sm-4 control-label" >印刷价格：</label>
				<div class="col-sm-6">
					<input id="colorPrice" name="colorPrice" readonly type="text" class="form-control" >
				</div>
				<label class="col-sm-2 control-label" >元</label>
			</div>

			<div class="form-group">
				<label class="col-sm-4 control-label" >表面价格：</label>
				<div class="col-sm-6">
					<input id="surfacePrice" name="surfacePrice" readonly type="text" class="form-control" >
				</div>
				<label class="col-sm-2 control-label" >元</label>
			</div>

			<div class="form-group">
				<label class="col-sm-4 control-label" >烫金价格：</label>
				<div class="col-sm-6">
					<input id="bronzingPrice" name="bronzingPrice" readonly type="text" class="form-control" >
				</div>
				<label class="col-sm-2 control-label" >元</label>
			</div>

			<div class="form-group">
				<label class="col-sm-4 control-label" >击凸价格：</label>
				<div class="col-sm-6">
					<input id="convexPrice" name="convexPrice" readonly type="text" class="form-control" >
				</div>
				<label class="col-sm-2 control-label" >元</label>
			</div>

			<div class="form-group">
				<label class="col-sm-4 control-label" >PVC价格：</label>
				<div class="col-sm-6">
					<input id="pvcPrice" name="pvcPrice" readonly type="text" class="form-control" >
				</div>
				<label class="col-sm-2 control-label" >元</label>
			</div>

			<div class="form-group">
				<label class="col-sm-4 control-label" >UV价格：</label>
				<div class="col-sm-6">
					<input id="uvPrice" name="uvPrice" readonly type="text" class="form-control" >
				</div>
				<label class="col-sm-2 control-label" >元</label>
			</div>
			
			<div class="form-group">
				<label class="col-sm-4 control-label" >磨砂价格：</label>
				<div class="col-sm-6">
					<input id="moshaPrice" name="moshaPrice" readonly type="text" class="form-control" >
				</div>
				<label class="col-sm-2 control-label" >元</label>
			</div>
			
			<div class="form-group">
				<label class="col-sm-4 control-label" >皱纹价格：</label>
				<div class="col-sm-6">
					<input id="zhouwenPrice" name="zhouwenPrice" readonly type="text" class="form-control" >
				</div>
				<label class="col-sm-2 control-label" >元</label>
			</div>
			
			<div class="form-group">
				<label class="col-sm-4 control-label" >压纹价格：</label>
				<div class="col-sm-6">
					<input id="yawenPrice" name="yawenPrice" readonly type="text" class="form-control" >
				</div>
				<label class="col-sm-2 control-label" >元</label>
			</div>
			
			<div class="form-group">
				<label class="col-sm-4 control-label" >模切价格：</label>
				<div class="col-sm-6">
					<input id="moqiePrice" name="moqiePrice" readonly type="text" class="form-control" >
				</div>
				<label class="col-sm-2 control-label" >元</label>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" >粘盒价格：</label>
				<div class="col-sm-6">
					<input id="zhanhePrice" name="zhanhePrice" readonly type="text" class="form-control" >
				</div>
				<label class="col-sm-2 control-label" >元</label>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" >包装价格：</label>
				<div class="col-sm-6">
					<input id="baozhuangPrice" name="baozhuangPrice" readonly type="text" class="form-control" >
				</div>
				<label class="col-sm-2 control-label" >元</label>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" >运输费：</label>
				<div class="col-sm-6">
					<input id="transportPrice" name="transportPrice" readonly type="text" class="form-control" >
				</div>
				<label class="col-sm-2 control-label" >元</label>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" >税费：</label>
				<div class="col-sm-6">
					<input id="taxPrice" name="taxPrice" readonly type="text" class="form-control" >
				</div>
				<label class="col-sm-2 control-label" >元</label>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" >管理费：</label>
				<div class="col-sm-6">
					<input id="managementPrice" name="managementPrice" readonly type="text" class="form-control" >
				</div>
				<label class="col-sm-2 control-label" >元</label>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" >单价：</label>
				<div class="col-sm-6">
					<input id="unitPrice" name="unitPrice" readonly type="text" class="form-control" >
				</div>
				<label class="col-sm-2 control-label" >元</label>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" >单价：</label>
				<div class="col-sm-6">
					<input id="printNumber" name="printNumber" readonly type="text" class="form-control" >
				</div>
				<label class="col-sm-2 control-label" >元</label>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" >总价：</label>
				<div class="col-sm-6">
					<input id="totalPrice" name="totalPrice" readonly type="text" class="form-control" >
				</div>
				<label class="col-sm-2 control-label" >元</label>
			</div>

		</div>
     </div>
</div>
</div>
	
	
</section>

<!-- 查看图片的弹窗 -->
	<!-- <div class="modal-dialog">
		<div class="modal-content">
			<form class="form-horizontal" action="" id="form" method="post">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h4 class="modal-title" id="modalPhotoLabel">查看图片</h4>
				</div>
				
				<div class="modal-body">
					<div class="form-group" id="userImage">
						
						<div class="col-sm-8">
							<img id="imageId" src="" height="300" width="300" >
						</div>
					</div>
			   	</div>			
			</form>
		</div>
	</div> -->
</div>

<script src="${basePath}/assets/adminlte/plugins/bootstrap-table/bootstrap-table.js"></script>
<script src="${basePath}/assets/common/js/base.js"></script>

<script type="text/javascript">

$(function(){
	var shoppingId=sessionStorage.getItem("shoppingId");
	var params={"shoppingId":shoppingId};
	ajaxPost(basePath+"/web/getShopping", {
		params:JSON.stringify(params)
		}, function(data) {
			if(data!=null){
				$("#paperPrice").val(data.paperPrice);
				$("#colorPrice").val(data.colorPrice);
				$("#surfacePrice").val(data.surfacePrice);
				$("#bronzingPrice").val(data.bronzingPrice);
				$("#convexPrice").val(data.convexPrice);
				$("#uvPrice").val(data.uvPrice);
				$("#pvcPrice").val(data.pvcPrice);
				$("#moshaPrice").val(data.moshaPrice);
				$("#zhouwenPrice").val(data.zhouwenPrice);
				$("#yawenPrice").val(data.yawenPrice);
				$("#moqiePrice").val(data.moqiePrice);
				$("#zhanhePrice").val(data.zhanhePrice);
				$("#baozhuangPrice").val(data.baozhuangPrice);
				$("#taxPrice").val(data.taxPrice);
				$("#managementPrice").val(data.managementPrice);
				$("#transportPrice").val(data.transportPrice);
				$("#totalPrice").val(data.totalPrice);
				$("#printNumber").val(data.printNumber);
				$("#unitPrice").val(data.unitPrice);
				sessionStorage.setItem("layoutId",data.layoutId);
				$("#excelAddress").attr("href","http://139.199.159.121:8080/images/LayoutDetail/"+data.layoutId+"/excel/"+data.excelAddress);
				}
			});
	var layoutId=sessionStorage.getItem("layoutId");
	var params1={"layoutId":layoutId};
	ajaxPost(basePath+"/web/getLayout", {
		params:JSON.stringify(params1)
		}, function(data) {
			if(data!=null){
			$("#pictureAddress").attr("src","http://139.199.159.121:8080/images/LayoutDetail/"+data.id+"/previewimageadress/"+data.pictureAddress);
			//$("#dxfAddress").attr("href","${basePath}/res/dxf/"+data.id+"/"+data.dxfAddress);
				}
		});
});
/**
 * tab页面加载
 * @param tabsId
 * @param url
 * @returns
 */
function showTabs(tabsId,url) {
    $("a[href='#"+tabsId+"']").tab('show');
    var $tabContent = $('#'+tabsId);
    if($tabContent.length < 100) {
        $tabContent.load(url);
    }
}
function showphoto(urlId){
	 var imagePath = $("#"+urlId).src;
	 $("#imageId").attr('src',imagePath);
	 $('#modal-image').modal('toggle');
} 

</script>
</body>

</html>