<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		我的工作台<small>Control panel</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="${basePath}/main"><i class="fa fa-dashboard"></i> 首页</a></li>
		<li class="active">我的工作台</li>
	</ol>
</section>
<br/>
<!-- Main content -->
<section class="content">
	<div class="box">
        <div class="box-header">
              <h3 class="box-title">盒型选择</h3>
        </div>
		<div class="box box-primary">

		   <div class="box-body">
	        <form id="picture-form" action="" class="form-horizontal" method="post">
           
			  <div class="row">
	          	<div class="col-sm-3">
	          		<div class="form-group">
						<label class="col-sm-4 control-label">盒型选择：</label>
						<div class="col-sm-8">
							<select name="search-box" id="search-box" class="form-control">
							</select>
						</div>
					</div>
			    </div>
		          <div class="col-sm-3">
		       		<div class="form-group" id="divgroupid0" style="display:none">
						<label class="col-sm-4 control-label" id="detail0"></label>
						<div class="col-sm-8">
							<select name="search-detail0" id="search-detail0" class="form-control">
								</select>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group" id="divgroupid1" style="display:none">
						<label class="col-sm-4 control-label" id="detail1"></label>
						<div class="col-sm-8">
							<select name="search-detail1" id="search-detail1" class="form-control">
							</select>
						</div>
					</div>
				</div> 
	           <div class="col-sm-3">
	         	<div class="form-group" id="divgroupid2" style="display:none">
					<label class="col-sm-4 control-label" id="detail2"></label>
					<div class="col-sm-8">
						<select name="search-detail2" id="search-detail2" class="form-control">
						</select>
					</div>
				</div>
	           </div>
			</div>
			<div class="row">
	           <button type="button" data-btn-type="search" class="btn btn-warning"><i class="fa fa-search"></i>查询</button>  
			   <button type="button" data-btn-type="reset" class="btn btn-default"><i class="fa fa-reply"></i>重置</button>
			</div>
 		</form>
		</div>
		<div class="row">
		 <div class="alert alert-warning alert-dismissible" id="alert" style="display:none">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-warning"></i> 提示!</h4>
               		 查询不到任何信息，请重新搜索！
              </div>
        </div>
		<div class="row">	
          <div class="col-xs-6 col-sm-3 col-md-3" id="box0" value="" style="display:none">
			<div class="box-header with-border">
				  <h3 class="box-title" id="boxName0"></h3>
				</div>
				<a href="javascript:void(0);" class="thumbnail" onclick="xiadan(0)">
				<img src="${basePath}/assets/common/images/1.jpg" id="img0" alt="First slide" class="img-thumbnail"> 
		
				</a>
		 </div>
		<div class="col-xs-6 col-sm-3 col-md-3" id="box1" value="" style="display:none">
			<div class="box-header with-border">
			  <h3 class="box-title" id="boxName1"></h3>
			</div>
			<a href="javascript:void(0);" class="thumbnail" onclick="xiadan(1)">
			<img src="${basePath}/assets/common/images/1.jpg" id="img1" alt="First slide" class="img-thumbnail"> 
			</a>
		</div>

		<div class="col-xs-6 col-sm-3 col-md-3" id="box2" value="" style="display:none">
			<div class="box-header with-border">
			  <h3 class="box-title" id="boxName2"></h3>
			</div>
			<a href="javascript:void(0);" class="thumbnail" onclick="xiadan(2)">
			<img src="${basePath}/assets/common/images/1.jpg" id="img2" alt="First slide" class="img-thumbnail"> 
			</a> 
		</div>

		<div class="col-xs-6 col-sm-3 col-md-3" id="box3" value="" style="display:none">
			<div class="box-header with-border">
			  <h3 class="box-title" id="boxName3"></h3>
			</div>
			<a href="javascript:void(0);" class="thumbnail" onclick="xiadan(3)">
			<img src="${basePath}/assets/common/images/1.jpg" id="img3" alt="First slide" class="img-thumbnail"> 
			</a>
		</div>
      </div>
     </div>
   
		<div class="row">	
         	<div class="col-xs-6 col-sm-3 col-md-3" id="box4" value="" style="display:none">
				<div class="box-header with-border">
					  <h3 class="box-title" id="boxName4"></h3>
					</div>
				<a href="javascript:void(0);" class="thumbnail" onclick="xiadan(4)">
					<img src="${basePath}/assets/common/images/1.jpg" id="img4" id="img" alt="First slide" class="img-thumbnail"> 
				</a>
		 	</div>

			<div class="col-xs-6 col-sm-3 col-md-3" id="box5" value="" style="display:none">
				<div class="box-header with-border">
				  <h3 class="box-title" id="boxName5"></h3>
				</div>
				<a href="javascript:void(0);" class="thumbnail" value="" onclick="xiadan(5)">
					<img src="${basePath}/assets/common/images/1.jpg" id="img5" alt="First slide" class="img-thumbnail"> 
				</a>
			</div>

			<div class="col-xs-6 col-sm-3 col-md-3" id="box6" value="" style="display:none">
				<div class="box-header with-border">
				  <h3 class="box-title" id="boxName6"></h3>
				</div>
				<a href="javascript:void(0);" class="thumbnail" onclick="xiadan(6)">
					<img src="${basePath}/assets/common/images/1.jpg" id="img6" alt="First slide" class="img-thumbnail"> 
				</a>
			</div>

			<div class="col-xs-6 col-sm-3 col-md-3" id="box7" value="" style="display:none">
				<div class="box-header with-border">
				  <h3 class="box-title" id="boxName7"></h3>
				</div>
				<a href="javascript:void(0);" class="thumbnail" onclick="xiadan(7)">
					<img src="${basePath}/assets/common/images/1.jpg" id="img7" alt="First slide" class="img-thumbnail"> 
				</a>
			</div>

			</div>
			<div class="row">	
         	<div class="col-xs-6 col-sm-3 col-md-3" id="box8" value="" style="display:none">
				<div class="box-header with-border">
					  <h3 class="box-title" id="boxName8"></h3>
					</div>
				<a href="javascript:void(0);" class="thumbnail" onclick="xiadan(8)">
					<img src="${basePath}/assets/common/images/1.jpg" id="img8" alt="First slide" class="img-thumbnail"> 
				</a>
		 	</div>

			<div class="col-xs-6 col-sm-3 col-md-3" id="box9" value="" style="display:none">
				<div class="box-header with-border">
				  <h3 class="box-title" id="boxName9"></h3>
				</div>
				<a href="javascript:void(0);" class="thumbnail" onclick="xiadan(9)">
					<img src="${basePath}/assets/common/images/1.jpg" id="img9" alt="First slide" class="img-thumbnail"> 
				</a>
			</div>

			<div class="col-xs-6 col-sm-3 col-md-3" id="box10" value="" style="display:none">
				<div class="box-header with-border">
				  <h3 class="box-title" id="boxName10"></h3>
				</div>
				<a href="javascript:void(0);" class="thumbnail" onclick="xiadan(10)">
					<img src="${basePath}/assets/common/images/1.jpg" id="img10" alt="First slide" class="img-thumbnail"> 
				</a>
			</div>

			<div class="col-xs-6 col-sm-3 col-md-3" id="box11" value="" style="display:none">
				<div class="box-header with-border">
				  <h3 class="box-title" id="boxName11"></h3>
				</div>
				<a href="javascript:void(0);" class="thumbnail" onclick="xiadan(11)">
					<img src="${basePath}/assets/common/images/1.jpg" id="img11" alt="First slide" class="img-thumbnail"> 
				</a>
			</div>

			</div>
     </div>
     </div>
	 <div class="fydiv">
      <ul class="fenye">
      </ul>
    </div>
</section>
 <link rel="stylesheet" href="${basePath}/assets/common/css/fenye-style.css">
<script src="${basePath}/assets/adminlte/plugins/bootstrap-table/bootstrap-table.js"></script>
<script src="${basePath}/assets/common/js/base.js"></script>

<!-- 加入页面的的脚本 -->
<script type="text/javascript">
$(function(){
	//查询默认所有列表
	//var page=1;
	//var dataImg=null;
	//查询全部图片
	pictureList();
	setBox("search-box");
	$("#alert").hide();
	pictureForm = $("#picture-form").form();
	//userSearchForm = $("#admin-search-form").form();
	//-------------button event begin----------------
	$('button[data-btn-type]').click(function() {
		//var selected = $('#admin-table').bootstrapTable('getSelections');
		var action = $(this).attr('data-btn-type');
		switch (action) {
		
		case 'search':
			//var formParams = $("#picture-form").serializeJSON();
			var classid = $("#search-box option:selected").val();
			var detail0 = $("#search-detail0 option:selected").val();
			var detail1 = $("#search-detail1 option:selected").val();
			var detail2 = $("#search-detail2 option:selected").val();
			var params={"search-box":classid,"search-detail0":detail0,"search-detail1":detail1,
					"search-detail2":detail2}
			//console.log(JSON.stringify(params));
			ajaxPost(basePath + "/web/pictureList", {
				params:JSON.stringify(params)
				
			}, function(data) {
				//console.log(JSON.stringify(data));
				//dataImg=data;
				getPage(data,1);
			});	
			break;
		case 'reset':
			pictureForm.clearForm();
			//重置按钮重新加载页面
		    pictureList();
			break;
	}

	});
	//-------------button event end----------------
	
	//-------------Validator from begin----------------
	//查询表单box下拉改变事件
	$("#search-box").change(function(){
		 var boxId=$("#search-box").val();
		 $("#divgroupid0").hide();
		 $("#divgroupid1").hide();
		 $("#divgroupid2").hide();
		
		$("#search-detail0").empty();
		$("#search-detail1").empty();  
		$("#search-detail2").empty(); 
		setBoxType(boxId); 
	});
	//-------------Validator from end----------------
	
});
/**
 * 默认查询所有列表
 */
 function pictureList(){
	 var basePath="${basePath}";
	 //var params={"page":page}
	  
	//查询全部图表列表
		ajaxPost(basePath + "/web/pictureList", null, function(data) {
				//console.log(JSON.stringify(data));
				//dataImg=data;
				getPage(data,1);
				});	
	 }
/**
 * 设置纸盒选择下拉类型
 * @param selectid
 * @param 
 * @returns
 */
function setBox(selectid){
	var basePath="${basePath}";
	ajaxPost(basePath+"/web/boxTree", null, function(data) {
		//console.log("查询下拉列表"+JSON.stringify(data));
		var $select = $('#'+selectid);  
		$select.empty();
		if(data.length==0){
			 $select.val("");
		}
		if(data.length>0){
			 $select.append('<option value="">请选择...</option>'); 
		}
		for(var i=0,len27 = data.length;i<len27;i++){
			var c=data[i]; 
		 	var cid=c.id
		 	var ctext=c.text;
		   	$select.append('<option value="'+cid+'">'+ctext+'</option>'); 
				
		} 
	});
}
/**
 * 根据纸盒类型
 */
function setBoxType(boxId){
	//alert(JSON.stringify(universityId));
	var basePath="${basePath}";
	ajaxPost(basePath+"/web/boxTree", null, function(data) {
		
		$('#search-detail0').empty();
		$('#search-detail1').empty();
		$('#search-detail2').empty();
		
		for(var i=0,len28 = data.length;i<len28;i++){
			var c=data[i]; 
			 var a = c.nodes;
			   if(c.id==boxId){
				   //console.log(JSON.stringify(a));
				   
				   for(var j=0,len29 = a.length;j<len29;j++){
					   if(a.length==0){
						   $("#search-detail"+j).val("");
						
						}
						if(a.length>0){
							$("#search-detail"+j).append('<option value="">请选择...</option>'); 
						}
					   var d=a[j]; 
					   var dtext=d.text;
					   $("#divgroupid"+j).show();
					   $("#detail"+j).text(dtext);
					   if(d.nodes!=null&&d.nodes.length>0){
						   //console.log(JSON.stringify(d.nodes));
						   var e = d.nodes;
						   for(var k=0,len30 = e.length;k<len30;k++){
							   var f=e[k];
							   var fid=f.id;
							   var ftext=f.text;
							   $("#search-detail"+j).append('<option value="'+fid+'">'+ftext+'</option>');
							}
					 
						}
						  
					   }
					}
				} 
	});
}

	function resetForm(){
		userForm.clearForm();
		
	}
	
	/*
	 * 得到所有选中行
	 */
	function xiadan(n) {
		var basePath="${basePath}";
		var boxId = $("#box"+n).val();
		var params={"boxId":boxId}
		var boxid = sessionStorage.setItem("boxId",boxId);
		loadPage("${basePath}/web/xiadan");
	}
	//绘制页码
	  function paintPage(dataImg,number,currNum)  //number 总页数,currNum 当前页  
	  {
	    var pageUl=$(".fenye");
	    pageUl.empty();
	    var ulDetail="";

	    if(number==1){
	     ulDetail= "<li class=\"prev\"><a href=\"javascript:void(0)\">上一页</a></li>"+
	     "<li class=\"numb choose\"><a href=\"javascript:getPage("+dataImg+",1)\">1</a></li>"+
	     "<li class=\"next\"><a href=\"javascript:void(0)\">下一页</a></li>";
	   }else if(number==2){
	     ulDetail= "<li class=\"prev\"><a href=\"javascript:getPage("+dataImg+",1)\">上一页</a></li>"+
	     "<li class=\"numb"+choosele(currNum,1)+"\"><a href=\"javascript:getPage("+dataImg+",1)\">1</a></li>"+
	     "<li class=\"numb"+choosele(currNum,2)+"\"><a href=\"javascript:getPage("+dataImg+",2)\">2</a></li>"+
	     "<li class=\"next\"><a href=\"javascript:getPage("+dataImg+",2)\">下一页</a></li>";
	   }else if(number==3){
	     ulDetail= "<li class=\"prev\"><a href=\"javascript:getPage("+dataImg+","+parseInt(currNum-1)+")\">上一页</a></li>"+
	     "<li class=\"numb"+choosele(currNum,1)+"\"><a href=\"javascript:getPage("+dataImg+",1)\">1</a></li>"+
	     "<li class=\"numb"+choosele(currNum,2)+"\"><a href=\"javascript:getPage("+dataImg+",2)\">2</a></li>"+
	     "<li class=\"numb"+choosele(currNum,3)+"\"><a href=\"javascript:getPage("+dataImg+",3)\">3</a></li>"+
	     "<li class=\"next\"><a href=\"javascript:getPage("+dataImg+","+parseInt(currNum+1)+")\">下一页</a></li>";
	   }else if(number==currNum&&currNum>3){
	     ulDetail= "<li class=\"prev\"><a href=\"javascript:getPage("+dataImg+","+parseInt(currNum-1)+")\">上一页</a></li>"+
	     "<li class=\"numb\"><a href=\"javascript:getPage("+dataImg+","+parseInt(currNum-2)+")\">"+parseInt(currNum-2)+"</a></li>"+
	     "<li class=\"numb\"><a href=\"javascript:getPage("+dataImg+","+parseInt(currNum-1)+")\">"+parseInt(currNum-1)+"</a></li>"+
	     "<li class=\"numb choose\"><a href=\"javascript:getPage("+dataImg+","+currNum+")\">"+currNum+"</a></li>"+
	     "<li class=\"next\"><a href=\"javascript:getPage("+dataImg+","+currNum+")\">下一页</a></li>";
	   }else if(currNum==1&&number>3){
	     ulDetail= "<li class=\"prev\"><a href=\"javascript:void(0)\">上一页</a></li>"+
	     "<li class=\"numb choose\"><a href=\"javascript:void(0)\">1</a></li>"+
	     "<li class=\"numb\"><a href=\"javascript:getPage("+dataImg+",2)\">2</a></li>"+
	     "<li class=\"numb\"><a href=\"javascript:getPage("+dataImg+",3)\">3</a></li>"+
	     "<li class=\"next\"><a href=\"javascript:getPage("+dataImg+",2)\">下一页</a></li>";
	   }else{
	     ulDetail= "<li class=\"prev\"><a href=\"javascript:getPage("+dataImg+","+parseInt(currNum-1)+")\">上一页</a></li>"+
	     "<li class=\"numb\"><a href=\"javascript:getPage("+dataImg+","+parseInt(currNum-1)+")\">"+parseInt(currNum-1)+"</a></li>"+
	     "<li class=\"numb choose\"><a href=\"javascript:getPage("+dataImg+","+currNum+")\">"+currNum+"</a></li>"+
	     "<li class=\"numb\"><a href=\"javascript:getPage("+dataImg+","+parseInt(currNum+1)+")\">"+parseInt(currNum+1)+"</a></li>"+
	     "<li class=\"next\"><a href=\"javascript:getPage("+dataImg+","+parseInt(currNum+1)+")\">下一页</a></li>";
	   }

	   $(".fenye").append(ulDetail);

	 }
	//翻页
	  function getPage(dataImg,pn){
		//console.log(JSON.stringify(dataImg));
	    var dataCount=dataImg.length;//总数据条数
	    var pageSize=12;//每页显示条数
	    var pageCount= Math.ceil(dataCount / pageSize);//总页数
	    if(pn==0){
	      return;
	    }
	    paintPage(dataImg,pageCount,pn);   //绘制页码
	    var page=(pn-1)*pageSize;
	    if(dataImg==null||dataImg.length==0){
			$("#alert").show();
			for(var i=0;i<11;i++){
				$("#box"+i).hide();
			}
			}else {
				
				$("#alert").hide();
				if(pn==1&&dataImg.length<12){
					for(var i=0, len22 = dataImg.length;i<len22;i++){
						$("#box"+i).show();
						$("#box"+i).val(dataImg[i].boxId);
						$("#boxName"+i).html(dataImg[i].name);
						var imgUrl="../images/BoxType/"+dataImg[i].boxId+"/plan/"+dataImg[i].plan;
						//console.log(imgUrl);
						$("#img"+i).attr("src",imgUrl);
						/* $("#img"+i).attr("src",data[i].pla); */
						}
					}else if(pn==pageCount&&(dataCount%pageSize)<12){
						var a=dataCount%pageSize;
						for(var i=0, len23 = a;i<len23;i++){
							$("#box"+i).show();
							$("#box"+i).val(dataImg[i+page].boxId);
							$("#boxName"+i).html(dataImg[i+page].name);
							var imgUrl="../images/BoxType/"+dataImg[i+page].boxId+"/plan/"+dataImg[i+page].plan;
							//console.log(imgUrl);
							$("#img"+i).attr("src",imgUrl);
							/* $("#img"+i).attr("src",data[i].pla); */
							}
						}else{
							for(var i=0, len24 = 12;i<len24;i++){
								$("#box"+i).show();
								$("#box"+i).val(dataImg[i+page].boxId);
								$("#boxName"+i).html(dataImg[i+page].name);
								var imgUrl="../images/BoxType/"+dataImg[i+page].boxId+"/plan/"+dataImg[i+page].plan;
								//console.log(imgUrl);
								$("#img"+i).attr("src",imgUrl);
								/* $("#img"+i).attr("src",data[i].pla); */
								}
							}

				}
	   
	  }
</script>