<!-- Content Header (Page header) -->
<style>  
  
.thumbnail-item {   
    /* position relative so that we can use position absolute for the tooltip */  
    position: relative;   
    float: left;    
    margin: 0px 5px;   
}  
  
.thumbnail-item a {   
    display: block;   
}  
  
.thumbnail-item img.thumbnail {  
    border:3px solid #ccc;    
}  
          
.tooltip {   
    /* by default, hide it */  
    display: none;   
    /* allow us to move the tooltip */  
    position: absolute;   
    /* align the image properly */  
    padding: 8px 0 0 8px;   
}  
  
    </style>  
<section class="content-header">
	<h1>
		我的工作台<small>Control panel</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="${basePath}/main"><i class="fa fa-dashboard"></i> 首页</a></li>
		<li class="active">我的工作台</li>
	</ol>
</section>
<br/>

<!-- Main content -->
<section class="content">
	<div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title" id="title"></h3>
			  </div>

 <div class="box-body">

	 <div class="row">
        <div class="col-md-3 col-xs-3" id="box0">
          <!-- AREA CHART -->
			  <img src="${basePath}/assets/common/images/1.jpg" id="img0" onclick="showphoto(img0)" data-toggle="tooltip"
        data-placement="bottom" title="底部的 Tooltip" alt="First slide"> 
			  <div class="row" >
					<div class="thumbnail-item"> 
						<a href="#">
							<img src="${basePath}/assets/common/images/1.jpg" id="img1" width="80" height="80" border="0"
							 class="thumbnail" alt="First slide">
						</a>
						<div class="tooltip">  
  							<img src="${basePath}/assets/common/images/1.jpg" alt="" width="225" height="431" />  
  							 
						</div>   
					</div>
					<div class="thumbnail-item"> 
						<a href="#">
							<img src="${basePath}/assets/common/images/1.jpg" id="img2"  width="80" height="80" border="0"
							 class="thumbnail" alt="First slide">
						</a>
						<div class="tooltip">  
   							<img src="${basePath}/assets/common/images/1.jpg" alt="" width="225" height="431" />  
   							
						</div>					
					</div>
					<div class="thumbnail-item"> 
						<a href="#">
							<img src="${basePath}/assets/common/images/1.jpg" id="img3"  width="80" height="80" border="0"
						 class="thumbnail" alt="First slide">
						</a>
						<div class="tooltip">  
   							<img src="${basePath}/assets/common/images/1.jpg" alt="" width="225" height="431" />  
   							 
						</div>						
			        </div>
					
				</div>

			</div>

		<div class="col-md-9 col-xs-9">
			<form id="xiadan-form" action="" class="form-horizontal" method="post">
			
			<div class="form-group">
				<label class="col-sm-4 control-label" >成品尺寸：</label> 
				<label class="col-sm-2 control-label" >长：</label>
				<div class="col-sm-4">
					<input id="boxLength" name="boxLength" type="text" class="form-control" >
					</div>
					<div class="col-sm-2">
					<select name="boxUnit" id="boxUnit" class="form-control">
						<option value="0">mm</option>
						<option value="1">cm</option>
						<option value="2">dm</option>
						<option value="3">m</option>
					</select>
					</div>
					</div>
            <div class="form-group" >
	          <label class="col-sm-12 control-label" ></label>
             </div>
				<div class="form-group">
				    <label class="col-sm-4 control-label" ></label> 
					<label class="col-sm-2 control-label" >宽：</label>
					<div class="col-sm-4">
					<input id="boxWidth" name="boxWidth"  type="text" class="form-control" >
					</div>
					<div class="col-sm-2">
					<select name="boxUnit0" id="boxUnit0" class="form-control">
						<option value="0">mm</option>
						<option value="1">cm</option>
						<option value="2">dm</option>
						<option value="3">m</option>
					</select>
					</div>
					</div>
			<div class="form-group" >
				<label class="col-sm-12 control-label" ></label>
			</div>
			<div class="form-group">
				    <label class="col-sm-4 control-label" ></label> 
					<label class="col-sm-2 control-label" >高：</label>
					<div class="col-sm-4">
					<input id="boxHeight" name="boxHeight" type="text" class="form-control" >
					</div>
					<div class="col-sm-2">
					<select name="boxUnit1" id="boxUnit1" class="form-control">
						<option value="0">mm</option>
						<option value="1">cm</option>
						<option value="2">dm</option>
						<option value="3">m</option>
					</select>
					</div>
				</div> 
			
<div class="form-group" >
	<label class="col-sm-12 control-label" ></label>
</div>
            <label class="col-sm-4 control-label" >纸张材质：</label>
			<div class="form-group dowebok" id="printPaperId">

			</div> 
<div class="form-group" >
	<label class="col-sm-12 control-label" ></label>
</div>
            <label class="col-sm-4 control-label" >纸张克数：</label>
			<div class="form-group dowebok" id="paperGramsId">
	

				</div>
<div class="form-group" >
	<label class="col-sm-12 control-label" ></label>
</div>			
			
				<label class="col-sm-4 control-label" >纸张颜色：</label>
				<div class="form-group dowebok" id="printColorId">
				
				</div>
<div class="form-group" >
	<label class="col-sm-12 control-label" ></label>
</div>
			
				<label class="col-sm-2 control-label" ></label>
				<div class="form-group dowebok" id="papercolortype0" style="display:none">	
				</div>

				<label class="col-sm-4 control-label" ></label>
					<div class="form-group " id="papercolortype1" style="display:none">
							
					<label class="col-sm-2 control-label" >专色数量：</label> 
					<div class="col-sm-4">
					<select name="colorNumber" id="colorNumber" class="form-control">
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
					</select>
					</div>
					
				</div>
				
				<div class="form-group dowebok" id="pantoneId" style="display:none">
					<label class="col-sm-2 control-label" ></label>
				
					<label class="col-sm-2 control-label" >请填写PANTONE色号：</label>
					<div class="col-sm-2">
						<input id="attr1" name="attr1" type="text" class="form-control" >
					</div>
					<div class="col-sm-2">
						<input id="attr2" name="attr2" type="text" class="form-control" style="display:none">
					</div>
					<div class="col-sm-2">
						<input id="attr3" name="attr3" type="text" class="form-control" style="display:none">
					</div>
				</div>
<div class="form-group" >
	<label class="col-sm-12 control-label" ></label>
</div>
			
				<label class="col-sm-4 control-label" >印刷保护：</label>
				<div class="form-group dowebok" id="surfaceTreatmentId">
				</div>
<div class="form-group" >
	<label class="col-sm-12 control-label" ></label>
</div>
			
				<label class="col-sm-4 control-label" >增加其他工艺：</label>
				<div class="form-group dowebok" id="technology">
					
			</div>
<div class="form-group" >
	<label class="col-sm-12 control-label" ></label>
</div>

			<div class="form-group dowebok" id="bronzing" style="display:none">
				<label class="col-sm-4 control-label" >烫金：</label>
				<label class="col-sm-1 control-label" >长：</label>
				<div class="col-sm-1">
					<input id="bronzingLength" name="bronzingLength" type="text" class="form-control" >
					</div>
					<div class="col-sm-2">
					<select name="bronzingUnit" id="bronzingUnit" class="form-control">
						<option value="0">mm</option>
						<option value="1">cm</option>
						<option value="2">dm</option>
						<option value="3">m</option>
					</select>
					</div>
					<label class="col-sm-1 control-label" >宽：</label>
					<div class="col-sm-1">
					<input id="bronzingWidth" name="bronzingWidth" type="text" class="form-control" >
					</div>
					<div class="col-sm-2">
					<select name="bronzingUnit0" id="bronzingUnit0" class="form-control">
						<option value="0">mm</option>
						<option value="1">cm</option>
						<option value="2">dm</option>
						<option value="3">m</option>
					</select>
					</div>
			</div> 
<div class="form-group" >
	<label class="col-sm-12 control-label" ></label>
</div>
		
			<div class="form-group" id="convex" style="display:none">
				<label class="col-sm-4 control-label" >击凸：</label>
				<label class="col-sm-1 control-label" >长：</label>
				<div class="col-sm-1">
					<input id="convexLength" name="convexLength" type="text" class="form-control" >
					</div>
					<div class="col-sm-2">
					<select name="convexUnit" id="convexUnit" class="form-control">
						<option value="0">mm</option>
						<option value="1">cm</option>
						<option value="2">dm</option>
						<option value="3">m</option>
					</select>
					</div>
					<label class="col-sm-1 control-label" >宽：</label>
					<div class="col-sm-1">
					<input id="convexWidth" name="convexWidth" type="text" class="form-control" >
					</div>
					<div class="col-sm-2">
					<select name="convexUnit0" id="convexUnit0" class="form-control">
						<option value="0">mm</option>
						<option value="1">cm</option>
						<option value="2">dm</option>
						<option value="3">m</option>
					</select>
					</div>
				</div> 
<div class="form-group" >
	<label class="col-sm-12 control-label" ></label>
</div>
			<div class="form-group" id="pvc" style="display:none">
				<label class="col-sm-4 control-label" >PVC：</label>
				<label class="col-sm-1 control-label" >长：</label>
				<div class="col-sm-1">
					<input id="pvcLength" name="pvcLength" type="text" class="form-control" >
					</div>
					<div class="col-sm-2">
					<select name="pvcUnit" id="pvcUnit" class="form-control">								
						<option value="0">mm</option>
						<option value="1">cm</option>
						<option value="2">dm</option>
						<option value="3">m</option>
					</select>
					</div>
					<label class="col-sm-1 control-label" >宽：</label>
					<div class="col-sm-1">
					<input id="pvcWidth" name="pvcWidth" type="text" class="form-control" >
					</div>
					<div class="col-sm-2">
					<select name="pvcUnit0" id="pvcUnit0" class="form-control">
						<option value="0">mm</option>
						<option value="1">cm</option>
						<option value="2">dm</option>
						<option value="3">m</option>
					</select>
					</div>
				</div> 
<div class="form-group" >
	<label class="col-sm-12 control-label" ></label>
</div>
				<div class="form-group" id="uv" style="display:none">
				<label class="col-sm-4 control-label" >UV：</label>
				<label class="col-sm-1 control-label" >长：</label>
				<div class="col-sm-1">
					<input id="uvLength" name="uvLength" type="text" class="form-control" >
					</div>
					<div class="col-sm-2">
					<select name="uvUnit" id="uvUnit" class="form-control">	
						<option value="0">mm</option>
						<option value="1">cm</option>
						<option value="2">dm</option>
						<option value="3">m</option>
					</select>
					</div>
					<label class="col-sm-1 control-label" >宽：</label>
					<div class="col-sm-1">
					<input id="uvWidth" name="uvWidth" type="text" class="form-control" >
					</div>
					<div class="col-sm-2">
					<select name="uvUnit0" id="uvUnit0" class="form-control">
						<option value="0">mm</option>
						<option value="1">cm</option>
						<option value="2">dm</option>
						<option value="3">m</option>
					</select>
					</div>
				</div>
<div class="form-group" >
	<label class="col-sm-12 control-label" ></label>
</div>
			<div class="form-group dowebok" id="mosha" style="display:none">
					<label class="col-sm-4 control-label" >磨砂：</label>
					<label class="col-sm-1 control-label" >长：</label>
					<div class="col-sm-1">
						<input id="moshaLength" name="moshaLength" type="text" class="form-control" >
						</div>
						<div class="col-sm-2">
						<select name="moshaUnit" id="moshaUnit" class="form-control">
							<option value="0">mm</option>
							<option value="1">cm</option>
							<option value="2">dm</option>
							<option value="3">m</option>
						</select>
						</div>
						<label class="col-sm-1 control-label" >宽：</label>
						<div class="col-sm-1">
						<input id="moshaWidth" name="moshaWidth" type="text" class="form-control" >
						</div>
						<div class="col-sm-2">
						<select name="moshaUnit0" id="moshaUnit0" class="form-control">
							<option value="0">mm</option>
							<option value="1">cm</option>
							<option value="2">dm</option>
							<option value="3">m</option>
						</select>
						</div>
				</div>
<div class="form-group" >
	<label class="col-sm-12 control-label" ></label>
</div> 
				<div class="form-group dowebok" id="zhouwen" style="display:none">
					<label class="col-sm-4 control-label" >皱纹：</label>
					<label class="col-sm-1 control-label" >长：</label>
					<div class="col-sm-1">
						<input id="zhouwenLength" name="zhouwenLength" type="text" class="form-control" >
						</div>
						<div class="col-sm-2">
						<select name="zhouwenUnit" id="zhouwenUnit" class="form-control">
							<option value="0">mm</option>
							<option value="1">cm</option>
							<option value="2">dm</option>
							<option value="3">m</option>
						</select>
						</div>
						<label class="col-sm-1 control-label" >宽：</label>
						<div class="col-sm-1">
						<input id="zhouwenWidth" name="zhouwenWidth" type="text" class="form-control" >
						</div>
						<div class="col-sm-2">
						<select name="zhouwenUnit0" id="zhouwenUnit0" class="form-control">
							<option value="0">mm</option>
							<option value="1">cm</option>
							<option value="2">dm</option>
							<option value="3">m</option>
						</select>
						</div>
				</div> 
			
			<div class="form-group dowebok" id="yawenId" >
				<label class="col-sm-3 control-label" >压纹：</label>	
			</div>
			<div class="form-group dowebok" id="zhanheId" >
				<label class="col-sm-3 control-label" >粘盒：</label>	
			</div>
			<div class="form-group dowebok" id="moqieId" style="display:none">
				<label class="col-sm-3 control-label" >粘盒：</label>	
			</div>
			<div class="form-group dowebok" id="baozhuangId" >
				<label class="col-sm-3 control-label" >包装：</label>	
			</div>
			<div class="form-group dowebok" id="receiveAreaId" >
				<label class="col-sm-3 control-label" >收货区域：</label>	
			</div>
<div class="form-group" >
	<label class="col-sm-12 control-label" ></label>
</div>
			<div class="form-group dowebok" >
				<label class="col-sm-3 control-label" >定做数量：</label>
					<div class="col-sm-3">
					<button type="button" data-btn-type="add" onclick="add()" class="btn btn-block btn-default">+</button>
					</div>
					
					<div class="col-sm-3">
					<input id="printNumber" name="printNumber" type="text" class="form-control" value="1000">
					</div>
					<div class="col-sm-3">
					<button type="button" data-btn-type="minus" onclick="minus()" class="btn btn-block btn-default">-</button>
					</div>
			</div>
<div class="form-group" >
	<label class="col-sm-12 control-label" ></label>
</div>
			<div class="form-group" style="margin-top:10px;">
				<button type="submit" data-btn-type="layout" class="btn btn-block btn-primary">排版</button>
			</div>
</form>
		</div>
     </div>
</div>
</div>
	
</section>
<!-- 查看图片的弹窗 -->
<div class="modal fade" id="modal-image" aria-labelledby="modalPhotoLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form class="form-horizontal" action="" id="form" method="post">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h4 class="modal-title" id="modalPhotoLabel">查看图片</h4>
				</div>
				
				<div class="modal-body">
					<div class="form-group" id="userImage">
						
						<div class="col-sm-8">
							<img id="imageId" src="" height="300" width="300" >
						</div>
					</div>
			   	</div>			
			</form>
		</div>
	</div>
</div>
<!-- radio -->
  <link rel="stylesheet" href="${basePath}/assets/common/css/jquery-labelauty.css">

<script src="${basePath}/assets/adminlte/plugins/bootstrap-table/bootstrap-table.js"></script>
<script src="${basePath}/assets/common/js/base.js"></script>
<script src="${basePath}/assets/common/js/jquery-labelauty.js"></script>

<!-- tooltip -->

<!-- <script type="text/javascript" language="javascript" src="${basePath}/assets/common/js/jcarousellite_1.3.min.js"></script>
<script type="text/javascript" language="javascript" src="${basePath}/assets/common/js/jquery.toolsnew.min.js"></script> -->

<script type="text/javascript">

$(function(){

	var basePath="${basePath}";
	$(":input").labelauty(); 
	//$("[data-toggle='tooltip']").tooltip(); 
	var boxId=sessionStorage.getItem("boxId");
	var params={"boxId":boxId};
	$("#papercolortype1").hide();
	$("#papercolortype0").show();
	var colorFlag="0";
	var array=null;
	var lmin=null,lmax=null,wmin=null,wmax=null,hmin=null,hmax=null;
	//单位统一
	$("#boxUnit").change(function(){
		var selected=$(this).children('option:selected').val(); 
		$("#boxUnit0").val(selected);
		$("#boxUnit1").val(selected);
		});
	$("#boxUnit0").change(function(){
		var selected=$(this).children('option:selected').val(); 
		$("#boxUnit").val(selected);
		$("#boxUnit1").val(selected);
		});
	$("#boxUnit1").change(function(){
		var selected=$(this).children('option:selected').val(); 
		$("#boxUnit0").val(selected);
		$("#boxUnit").val(selected);
		});
	
	$("#bronzingUnit").change(function(){
		var selected=$(this).children('option:selected').val(); 
		$("#bronzingUnit0").val(selected);
		});
	$("#bronzingUnit0").change(function(){
		var selected=$(this).children('option:selected').val(); 
		$("#bronzingUnit").val(selected);
		});
	$("#convexUnit").change(function(){
		var selected=$(this).children('option:selected').val(); 
		$("#convexUnit0").val(selected);
		});
	$("#convexUnit0").change(function(){
		var selected=$(this).children('option:selected').val(); 
		$("#convexUnit").val(selected);
		});
	$("#pvcUnit").change(function(){
		var selected=$(this).children('option:selected').val(); 
		$("#pvcUnit0").val(selected);
		});
	$("#pvcUnit0").change(function(){
		var selected=$(this).children('option:selected').val(); 
		$("#pvcUnit").val(selected);
		});
	$("#uvUnit").change(function(){
		var selected=$(this).children('option:selected').val(); 
		$("#uvUnit0").val(selected);
		});
	$("#uvUnit0").change(function(){
		var selected=$(this).children('option:selected').val(); 
		$("#uvUnit").val(selected);
		});
	$("#moshaUnit").change(function(){
		var selected=$(this).children('option:selected').val(); 
		$("#moshaUnit0").val(selected);
		});
	$("#moshaUnit0").change(function(){
		var selected=$(this).children('option:selected').val(); 
		$("#moshaUnit").val(selected);
		});
	$("#zhouwenUnit").change(function(){
		var selected=$(this).children('option:selected').val(); 
		$("#zhouwenUnit0").val(selected);
		});
	$("#zhouwenUnit0").change(function(){
		var selected=$(this).children('option:selected').val(); 
		$("#zhouwenUnit").val(selected);
		});
	
	//小图点击事件
	$("#img1").click(function(){
		$("#img0").attr("src",$("#img1").src);
		});
	$("#img2").click(function(){
		$("#img0").attr("src",$("#img2").src);
		});
	$("#img3").click(function(){
		$("#img0").attr("src",$("#img3").src);
		});
	
	
	ajaxPost(basePath+"/web/xiadanBox", {
		params:JSON.stringify(params)
		}, function(data) {
		console.log(JSON.stringify(data));
		$("#title").html(data.name);
		/* $("#img0").attr("src","http://139.199.159.121:8080/images/BoxType/1524627135192000/dime/1524627135192000-2018-04-25-11-32-15.jpg");//平面图
		$("#img1").attr("src","http://139.199.159.121:8080/images/BoxType/1524627135192000/dime/1524627135192000-2018-04-25-11-32-15.jpg");//平面图
		$("#img2").attr("src","http://139.199.159.121:8080/images/BoxType/1524627135192000/dime/1524627135192000-2018-04-25-11-32-15.jpg");//立体图
		$("#img3").attr("src","http://139.199.159.121:8080/images/BoxType/1524627135192000/dime/1524627135192000-2018-04-25-11-32-15.jpg");//实物图  */
	 	$("#img0").attr("src","http://139.199.159.121:8080/images/BoxType/"+data.boxId+"/plan/"+data.plan);//平面图
		$("#img1").attr("src","http://139.199.159.121:8080/images/BoxType/"+data.boxId+"/plan/"+data.plan);//平面图
		$("#img2").attr("src","http://139.199.159.121:8080/images/BoxType/"+data.boxId+"/dime/"+data.dime);//立体图
		$("#img3").attr("src","http://139.199.159.121:8080/images/BoxType/"+data.boxId+"/phy/"+data.phy);//实物图 
		lmin=parseInt(data.lmin);
		lmax=parseInt(data.lmax);
		wmin=parseInt(data.wmin);
		wmax=parseInt(data.wmax);
		hmin=parseInt(data.hmin);
		hmax=parseInt(data.hmax);
		console.log(lmin+"*"+lmax+"*"+wmin+"*"+wmax+"*"+hmin+"*"+hmax);
		});
	ajaxPost(basePath+"/web/technology", null, function(data) {
		console.log(data);
		for(var i=0,len1 = data.length;i<len1;i++){
			if(data[i].text=="收货区域"){
				var arr =data[i].nodes;
				$("#receiveAreaId").val(data[i].id);
				if(arr!=null){
			    	for(var k=0;k<arr.length;k++){
                    	 var c='<div class="col-sm-1"><input type="radio" name="receiveAreaId" id="receiveAreaId'+k+'" '
						 var c1='checked class="form-control"></div>'
						 var c2='class="form-control"></div>'
				         if(k==0){
				        	 $("#receiveAreaId").append(c+c1);	 	 
				          }else{
				        	  $("#receiveAreaId").append(c+c2);	 	  
				          }
						  $("#receiveAreaId"+k).labelauty({
								checked_label: arr[k].text,
						 		unchecked_label: arr[k].text
						   });
						   $("#receiveAreaId"+k).val(arr[k].id);
			    	}
			      
					}
				 
				}else if(data[i].text=="印刷纸质"){
				array=data[i].nodes;
				if(array!=null){
					len3 =array.length;
			        count=0;
					 for(var j=0;j<len3;j++){
					   var	array1=array[j].nodes;
					    if(array1!=null){
					    	for(var k=0;k<array1.length;k++){
					         var t=array1[k].text;
					         if(isNaN(t)){ 
		
					        	 var c='<div class="col-sm-1"><input type="radio" name="printPaperId" id="printPaperId'+count+'" '
								 var c1='checked class="form-control"></div>'
								 var c2='class="form-control"></div>'
						         if(count==0){
						        	 $("#printPaperId").append(c+c1);	 	 
						          }else{
						        	  $("#printPaperId").append(c+c2);	 	  
						          }
					        	 count=count+1;
					        
					         }
							}
					    }
					  
					 }
					  m=count;
					  ct=0;
					   for(var j=0;j<len3;j++){
						   var	array1=array[j].nodes;
						 if(array1!=null){
							 for(var k=0;k<array1.length;k++){
								 var t=array1[k].text;
						         if(isNaN(t)){
						        	if(ct<m){
									   $("#printPaperId"+ct).labelauty({
											checked_label: array1[k].text,
									 		unchecked_label: array1[k].text
									   });
								
									   $("#printPaperId"+ct).val(array1[k].id);
									   $("#printPaperId").val(array1[k].id); 
									   ct=ct+1;
						        	}
						         }
							 }
						 }
					 
					  }
					   gt=0;
					   //for(var j=0;j<len3;j++){
						   var	array1=array[0].nodes;
						    if(array1!=null){
						    	for(var k=0;k<array1.length;k++){
						         var t=array1[k].text;
						         if(!isNaN(t)){ 
                                	 var c='<div class="col-sm-1"><input type="radio" name="paperGramsId" id="paperGramsId'+gt+'" '
									 var c1='checked class="form-control"></div>'
									 var c2='class="form-control"></div>'
							         if(gt==0){
							        	 $("#paperGramsId").append(c+c1);	 	 
							          }else{
							        	  $("#paperGramsId").append(c+c2);	 	  
							          }
						        	 gt=gt+1;
						         }
								}
						  }
					  //}
					  m=gt;
				      ct=0;
						  // for(var j=0;j<len3;j++){
							   var	array1=array[0].nodes;
							 if(array1!=null){
								 for(var k=0;k<array1.length;k++){
									 var t=array1[k].text;
							         if(!isNaN(t)){
							        	if(ct<m){
										   $("#paperGramsId"+ct).labelauty({
												checked_label: array1[k].text,
										 		unchecked_label: array1[k].text
										   });
									
										   $("#paperGramsId"+ct).val(array1[k].id);
										   ct=ct+1;
							        	}
							         }
								 }
							 }
						 
						  //}

			  }
			}else if(data[i].text=="印刷颜色"){
				var arr =data[i].nodes;
				$("#printColorId").val(data[i].id);
				if(arr!=null){
			    	for(var k=0;k<arr.length;k++){
                    	 var c='<div class="col-sm-1"><input type="radio" name="color" id="color'+k+'" '
						 var c1='checked class="form-control"></div>'
						 var c2='class="form-control"></div>'
				         if(k==0){
				        	 $("#color").append(c+c1);	 	 
				          }else{
				        	  $("#color").append(c+c2);	 	  
				          }
						  $("#color"+k).labelauty({
								checked_label: arr[k].text,
						 		unchecked_label: arr[k].text
						   });
						   $("#color"+k).val(arr[k].id);
						   var arr1=arr[k].nodes;
						   var co=0;
						   if(arr1!=null){
							   if(arr[k].text=="单色"){
								   for(var j=0;j<arr1.length;j++){
									   var c='<div class="col-sm-1"><input type="radio" name="printColorId" id="printColorId'+co+'" '
										 var c1='checked class="form-control"></div>'
										 var c2='class="form-control"></div>'
								         if(j==0){
								        	 $("#papercolortype0").append(c+c1);	 	 
								          }else{
								        	  $("#papercolortype0").append(c+c2);	 	  
								          }
										  $("#printColorId"+co).labelauty({
												checked_label: arr1[j].text,
										 		unchecked_label: arr1[j].text
										   });
										   $("#printColorId"+co).val(arr1[j].id);
										   co=co+1;
								   }
								   }else if(arr[k].text=="多色"){
									   for(var j=0;j<arr1.length;j++){
									   var c='<div class="col-sm-1"><input type="radio" name="printColorId" id="printColorId'+co+'" '
										 var c1='checked class="form-control"></div>'
										 var c2='class="form-control"></div>'
								         if(j==0){
								        	 $("#papercolortype1").append(c+c1);	 	 
								          }else{
								        	  $("#papercolortype1").append(c+c2);	 	  
								          }
										  $("#printColorId"+co).labelauty({
												checked_label: arr1[j].text,
										 		unchecked_label: arr1[j].text
										   });
										   $("#printColorId"+co).val(arr1[j].id);
									   }
									   }
							   }
						 
			    	}
			      
					}
					
				}else if(data[i].text=="表面处理"){
					var arr =data[i].nodes;
					$("#surfaceTreatmentId").val(data[i].id);
					if(arr!=null){
				    	for(var k=0;k<arr.length;k++){
                        	 var c='<div class="col-sm-1"><input type="radio" name="surfaceTreatmentId" id="surfaceTreatmentId'+k+'" '
							 var c1='checked class="form-control"></div>'
							 var c2='class="form-control"></div>'
					         if(k==0){
					        	 $("#surfaceTreatmentId").append(c+c1);	 	 
					          }else{
					        	  $("#surfaceTreatmentId").append(c+c2);	 	  
					          }
							  $("#surfaceTreatmentId"+k).labelauty({
									checked_label: arr[k].text,
							 		unchecked_label: arr[k].text
							   });
							   $("#surfaceTreatmentId"+k).val(arr[k].id);
				    	}
				      
						}
				
				}else if(data[i].text=="烫金"){
					
					 var c='<div class="col-sm-1"><input type="checkbox" name="isBronzing" id="isBronzing" '
					 +'class="form-control"></div>'
					 $("#technology").append(c);
					 $("#isBronzing").labelauty({
							checked_label: data[i].text,
					 		unchecked_label: data[i].text
					   });
					 $("#isBronzing").val(data[i].id);
				}else if(data[i].text=="击凸"){			
					
					var c='<div class="col-sm-1"><input type="checkbox" name="isConvex" id="isConvex" '
						 +'class="form-control"></div>'
						 $("#technology").append(c);
						 $("#isConvex").labelauty({
								checked_label: data[i].text,
						 		unchecked_label: data[i].text
						   });
					$("#isConvex").val(data[i].id);
				}else if(data[i].text=="UV"){
					
					var c='<div class="col-sm-1"><input type="checkbox" name="isUv" id="isUv" '
						 +'class="form-control"></div>'
						 $("#technology").append(c);
						 $("#isUv").labelauty({
								checked_label: data[i].text,
						 		unchecked_label: data[i].text
						   });
						 $("#isUv").val(data[i].id);
				}else if(data[i].text=="PVC"){
					
					var c='<div class="col-sm-1"><input type="checkbox" name="isPvc" id="isPvc" '
						 +'class="form-control"></div>'
						 $("#technology").append(c);
						 $("#isPvc").labelauty({
								checked_label: data[i].text,
						 		unchecked_label: data[i].text
						   });
						 $("#isPvc").val(data[i].id);
				}else if(data[i].text=="磨砂"){
					
					var c='<div class="col-sm-1"><input type="checkbox" name="isMosha" id="isMosha" '
						 +'class="form-control"></div>'
						 $("#technology").append(c);
						 $("#isMosha").labelauty({
								checked_label: data[i].text,
						 		unchecked_label: data[i].text
						   });
						 $("#isMosha").val(data[i].id);
				}else if(data[i].text=="皱纹"){
					
					var c='<div class="col-sm-1"><input type="checkbox" name="isZhouwen" id="isZhouwen" '
						 +'class="form-control"></div>'
						 $("#technology").append(c);
						 $("#isZhouwen").labelauty({
								checked_label: data[i].text,
						 		unchecked_label: data[i].text
						   });
						 $("#isZhouwen").val(data[i].id);
				}else if(data[i].text=="压纹"){
					
					var arr =data[i].nodes;
					$("#yawenId").val(data[i].id);
					if(arr!=null){
				    	for(var k=0;k<arr.length;k++){
	                    	 var c='<div class="col-sm-1"><input type="radio" name="yawenId" id="yawenId'+k+'" '
							 var c1='checked class="form-control"></div>'
							 var c2='class="form-control"></div>'
					         if(k==0){
					        	 $("#yawenId").append(c+c1);	 	 
					          }else{
					        	  $("#yawenId").append(c+c2);	 	  
					          }
							  $("#yawenId"+k).labelauty({
									checked_label: arr[k].text,
							 		unchecked_label: arr[k].text
							   });
							   $("#yawenId"+k).val(arr[k].id);
				    	}
				      
						}
				}else if(data[i].text=="粘盒"){
					
					var arr =data[i].nodes;
					$("#zhanheId").val(data[i].id);
					if(arr!=null){
				    	for(var k=0;k<arr.length;k++){
	                    	 var c='<div class="col-sm-1"><input type="radio" name="zhanheId" id="zhanheId'+k+'" '
							 var c1='checked class="form-control"></div>'
							 var c2='class="form-control"></div>'
					         if(k==0){
					        	 $("#zhanheId").append(c+c1);	 	 
					          }else{
					        	  $("#zhanheId").append(c+c2);	 	  
					          }
							  $("#zhanheId"+k).labelauty({
									checked_label: arr[k].text,
							 		unchecked_label: arr[k].text
							   });
							   $("#zhanheId"+k).val(arr[k].id);
				    	}
				      
						}
				}else if(data[i].text=="包装"){
					
					var arr =data[i].nodes;
					$("#baozhuangId").val(data[i].id);
					if(arr!=null){
				    	for(var k=0;k<arr.length;k++){
	                    	 var c='<div class="col-sm-1"><input type="radio" name="baozhuangId" id="baozhuangId'+k+'" '
							 var c1='checked class="form-control"></div>'
							 var c2='class="form-control"></div>'
					         if(k==0){
					        	 $("#baozhuangId").append(c+c1);	 	 
					          }else{
					        	  $("#baozhuangId").append(c+c2);	 	  
					          }
							  $("#baozhuangId"+k).labelauty({
									checked_label: arr[k].text,
							 		unchecked_label: arr[k].text
							   });
							   $("#baozhuangId"+k).val(arr[k].id);
				    	}
				      
						}
				}else if(data[i].text=="模切"){
					 $("#moqieId").val(data[i].id);
					}

			}
		
		});
	//表面处理
	$(":radio[name='printPaperId']").click(function() {
		alert($(":radio[name='printPaperId']:checked").val());
		var printPaperId=$(":radio[name='printPaperId']:checked").val();
		for(var j=0,len6 = array.length;j<len6;j++){
			if(printPaperId==array[j].id){
				console.log(array);
				for(var i=0,len7 = array[j].nodes.length;i<len7;i++){
					$("#paperGramsId"+i).labelauty({
						checked_label: array[j].nodes[i].text,
						unchecked_label: array[j].nodes[i].text
						});
					$("#paperGramsId"+i).val(array[j].nodes[i].id);
					
				}
				}
			}
	});
	$(":radio[name='paperGramsId']").click(function() {
		alert($(":radio[name='paperGramsId']:checked").val());
	});
	$(":radio[name='color']").click(function() {
		alert($(":radio[name='co']:checked").val());
	});
	$(":radio[name='printColorId']").click(function() {
		alert($(":radio[name='printColorId']:checked").val());
	});
	$(":radio[name='surfaceTreatmentId']").click(function() {
		alert($(":radio[name='surfaceTreatmentId']:checked").val());
	});
	//表面处理
	$(":radio[name='receiveAreaId']").click(function() {
		alert($(":radio[name='receiveAreaId']:checked").val());
	});
	$(":checkbox[id='isBronzing']").click(function() {
		alert($(":checkbox[id='isBronzing']:checked").val());
		
		
	});
	//专色点击
	$(":radio[id='printColorId4']").click(function() {
		if($(":radio[name='printColorId4']").prop("checked")){
			$("#pantoneId").show();
			$("#attr1").show();
			$("#attr2").hide();
			$("#attr3").hide();
			}
		//alert($(":radio[name='printColorId']:checked").val());
	});
	//其他工艺
	$("#isBronzing").click(function() {
		alert($("#isBronzing").val());
		if($("#isBronzing").prop("checked")){
			$("#bronzing").show();
			}else{
				$("#bronzing").hide();
				}
		});
	$("#isConvex").click(function() {
		alert($("#isConvex").val());
		if($("#isConvex").prop("checked")){
			$("#convex").show();
			}else{
				$("#convex").hide();
				}
		});
	$("#isPvc").click(function() {
		alert($("#isPvc").val());
		if($("#isPvc").prop("checked")){
			$("#pvc").show();
			}else{
				$("#pvc").hide();
				}
		});
	$("#isUv").click(function() {
		alert($("#isUv").val());
		if($("#isUv").prop("checked")){
			$("#uv").show();
			}else{
				$("#uv").hide();
				}
		});

	$("#isMosha").click(function() {
		alert($("#isMosha").val());
		if($("#isMosha").prop("checked")){
			$("#mosha").show();
			}else{
				$("#mosha").hide();
				}
		});
	$("#isZhouwen").click(function() {
		alert($("#isZhouwen").val());
		if($("#isZhouwen").prop("checked")){
			$("#zhouwen").show();
			}else{
				$("#zhouwen").hide();
				}
		});
	//颜色
	$("#color0").click(function() {
		if($("#color0").prop("checked")){
			colorFlag="0";
			$("#papercolortype0").show();
			$("#papercolortype1").hide();
			}else{
				colorFlag="1";	
				$("#papercolortype1").show();
				$("#papercolortype0").hide();
				}
		});
	$("#color1").click(function() {
		if($("#color1").prop("checked")){
			colorFlag="1";
			$("#papercolortype1").show();
			$("#papercolortype0").hide();
			}else{
				colorFlag="0";
				$("#papercolortype0").show();
				$("#papercolortype1").hide();
				}
		});
	//pantone个数改变时
	$("#colorNumber").change(function(){
		var selected=$(this).children('option:selected').val(); 
		if(selected=="0"){
			$("#pantoneId").show();
			$("#attr1").hide();
			$("#attr2").hide();
			$("#attr3").hide();
			}else if(selected=="1"){
				$("#pantoneId").show();
				$("#attr1").show();
				$("#attr2").hide();
				$("#attr3").hide();
			}else if(selected=="2"){
				$("#pantoneId").show();
				$("#attr1").show();
				$("#attr2").show();
				$("#attr3").hide();
			}else if(selected=="3"){
				$("#pantoneId").show();
				$("#attr1").show();
				$("#attr2").show();
				$("#attr3").show();
				}else{
					$("#pantoneId").hide();
					}
		});
	//tooltip显示图片
    $('div.thumbnail-item').mouseenter(function(e) {  
  
            // Calculate the position of the image tooltip  
            x = e.pageX - $(this).offset().left;  
            y = e.pageY - $(this).offset().top;  
  
            // Set the z-index of the current item,   
            // make sure it's greater than the rest of thumbnail items  
            // Set the position and display the image tooltip  
            $(this).css('z-index','15') 
            .children("div.tooltip") 
            .css({'top': y + 10,'left': x + 20,'display':'block'}); 
             
        }).mousemove(function(e) { 
             
            // Calculate the position of the image tooltip           
            x = e.pageX - $(this).offset().left; 
            y = e.pageY - $(this).offset().top; 
             
            // This line causes the tooltip will follow the mouse pointer 
            $(this).children("div.tooltip").css({'top': y + 10,'left': x + 20}); 
             
        }).mouseleave(function() { 
             
            // Reset the z-index and hide the image tooltip  
            $(this).css('z-index','1')  
            .children("div.tooltip")  
            .animate({"opacity": "hide"}, "fast");  
        });  
	//-------------Validator from begin----------------
	$("#xiadan-form").bootstrapValidator({
		excluded: [':disabled', ':hidden', ':not(:visible)'],//排除无需验证的控件，比如被禁用的或者被隐藏的
		message : '请输入有效值',
		feedbackIcons : {
			valid : 'glyphicon glyphicon-ok',
			invalid : 'glyphicon glyphicon-remove',
			validating : 'glyphicon glyphicon-refresh'
		},
		fields : {
			boxLength : {
				validators : {
					notEmpty : {
						message : '纸盒长度不能为空'
					},
					 numeric: {message: '只能输入数字'},
					 remote : {
							url : basePath + "/web/checkBoxLength",
							message : '纸盒长度超过范围',
							data:{boxLength:$("#boxLength").val(),
								BoxId:sessionStorage.getItem("boxId")},
							delay : 2000,
							type : 'POST'
						} 
					
			 }
			},
			boxWidth : {
				validators : {
					notEmpty : {
						message : '纸盒宽度不能为空'
					},
					numeric: {message: '只能输入数字'},
					 remote : {
							url : basePath + "/web/checkBoxWidth",
							message : '纸盒宽度超过范围',
							data:{boxWidth:$("#boxWidth").val(),
								BoxId:sessionStorage.getItem("boxId")},
							delay : 2000,
							type : 'POST'
						} 
					
				 
				}
			},
			boxHeight : {
				validators : {
					notEmpty : {
						message : '纸盒宽度不能为空'
					},
					numeric: {message: '只能输入数字'},
					 remote : {
							url : basePath + "/web/checkBoxHeight",
							message : '纸盒高度超过范围',
							data:{boxHeight:$("#boxHeight").val(),
								BoxId:sessionStorage.getItem("boxId")},
							delay : 2000,
							type : 'POST'
						} 
					
				}
			},
			convexLength : {
				validators : {
					notEmpty : {
						message : '击凸长度不能为空'
					},
					numeric: {message: '只能输入数字'}
				}
			},
			convexWidth : {
				validators : {
					notEmpty : {
						message : '击凸宽度不能为空'
					},
					numeric: {message: '只能输入数字'}
				}
			},
			bronzingLength : {
				validators : {
					notEmpty : {
						message : '烫金长度不能为空'
					},
					numeric: {message: '只能输入数字'}
				}
			},
			bronzingWidth : {
				validators : {
					notEmpty : {
						message : '烫金宽度不能为空'
					},
					numeric: {message: '只能输入数字'}
				}
			},
			pvcLength : {
				validators : {
					notEmpty : {
						message : 'pvc长度不能为空'
					},
					numeric: {message: '只能输入数字'}
				}
			},
			pvcWidth : {
				validators : {
					notEmpty : {
						message : 'pvc宽度不能为空'
					},
					numeric: {message: '只能输入数字'}
				}
			},
			uvLength : {
				validators : {
					notEmpty : {
						message : 'uv长度不能为空'
					},
					numeric: {message: '只能输入数字'}
				}
			},
			uvWidth : {
				validators : {
					notEmpty : {
						message : 'uv宽度不能为空'
					},
					numeric: {message: '只能输入数字'}
				}
			},
			moshaLength : {
				validators : {
					notEmpty : {
						message : '磨砂长度不能为空'
					},
					numeric: {message: '只能输入数字'}
				}
			},
			moshaWidth : {
				validators : {
					notEmpty : {
						message : '磨砂宽度不能为空'
					},
					numeric: {message: '只能输入数字'}
				}
			},
			zhouwenLength : {
				validators : {
					notEmpty : {
						message : '皱纹长度不能为空'
					},
					numeric: {message: '只能输入数字'}
				}
			},
			zhouwenWidth : {
				validators : {
					notEmpty : {
						message : '皱纹宽度不能为空'
					},
					numeric: {message: '只能输入数字'}
				}
			}
		},
        submitHandler: function (validator, form, submitButton) {
        	var formParams = $("#xiadan-form").serializeJSON();
        	formParams.boxId=boxId;
        	formParams.colorFlag=colorFlag;
        	console.log(formParams); 
        	ajaxPost(basePath+"/web/createShoppingandLayout", {
				params:JSON.stringify(formParams)
				}, function(data) {
					if(data!=null){
						var boxid = sessionStorage.setItem("shoppingId",data);
						loadPage(basePath+"/web/layout");
						}else{
						layer.alert("操作失败");
							}
				});
        }
   
	});
			
	
	//-------------Validator from end----------------
});
	/**
	 * tab页面加载
	 * @param tabsId
	 * @param url
	 * @returns
	 */
	function showTabs(tabsId,url) {
	    $("a[href='#"+tabsId+"']").tab('show');
	    var $tabContent = $('#'+tabsId);
	    if($tabContent.length < 100) {
	        $tabContent.load(url);
	    }
	}
	function add() {
		$("#printNumber").val(parseInt($("#printNumber").val())+1000);
	}
	function minus() {
		if($("#printNumber").val()=="1000"||$("#printNumber").val()==1000){
			layer.alert("定做数量不能少于1000");
			}else{
			$("#printNumber").val(parseInt($("#printNumber").val())-1000);
				}
	    
	}
	function showphoto(urlId){
		 var imagePath = $("#"+urlId).src;
		 $("#imageId").attr('src',imagePath);
		 $('#modal-image').modal('toggle');
	 } 

</script>
