<!-- Content Header (Page header) -->
<style>  
  
.thumbnail-item {   
    /* position relative so that we can use position absolute for the tooltip */  
    position: relative;   
    float: left;    
    margin: 0px 5px;   
}  
  
.thumbnail-item a {   
    display: block;   
}  
  
.thumbnail-item img.thumbnail {  
    border:3px solid #ccc;    
}  
          
.tooltip {   
    /* by default, hide it */  
    display: none;   
    /* allow us to move the tooltip */  
    position: absolute;   
    /* align the image properly */  
    padding: 8px 0 0 8px;   
}  
  
    </style>  
<section class="content-header">
	<h1>
		我的工作台<small>Control panel</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="${basePath}/main"><i class="fa fa-dashboard"></i> 首页</a></li>
		<li class="active">我的工作台</li>
	</ol>
</section>
<br/>

<!-- Main content -->
<section class="content">
	<div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title" id="title"></h3>
			  </div>

 <div class="box-body">

	 <div class="row">
        <div class="col-md-3 col-xs-3" id="box0">
          <!-- AREA CHART -->
			  <img src="${basePath}/assets/common/images/1.jpg" id="img0" onclick="showphoto(img0)" data-toggle="tooltip"
        data-placement="bottom" title="底部的 Tooltip" alt="First slide"> 
			  <div class="row" >
					<div class="thumbnail-item"> 
						<a href="#">
							<img src="${basePath}/assets/common/images/1.jpg" id="img1" width="80" height="80" border="0"
							 class="thumbnail" alt="First slide">
						</a>
						<div class="tooltip">  
  							<img src="${basePath}/assets/common/images/1.jpg" alt="" width="225" height="431" />  
  							 
						</div>   
					</div>
					<div class="thumbnail-item"> 
						<a href="#">
							<img src="${basePath}/assets/common/images/1.jpg" id="img2"  width="80" height="80" border="0"
							 class="thumbnail" alt="First slide">
						</a>
						<div class="tooltip">  
   							<img src="${basePath}/assets/common/images/1.jpg" alt="" width="225" height="431" />  
   							
						</div>					
					</div>
					<div class="thumbnail-item"> 
						<a href="#">
							<img src="${basePath}/assets/common/images/1.jpg" id="img3"  width="80" height="80" border="0"
						 class="thumbnail" alt="First slide">
						</a>
						<div class="tooltip">  
   							<img src="${basePath}/assets/common/images/1.jpg" alt="" width="225" height="431" />  
   							 
						</div>						
			        </div>
					
				</div>

			</div>

		<div class="col-md-9 col-xs-9">
			<form id="xiadan-form" action="" class="form-horizontal" method="post">
			
			<div class="form-group">
				<label class="col-sm-4 control-label" >成品尺寸：</label> 
				<label class="col-sm-2 control-label" >长：</label>
				<div class="col-sm-4">
					<input id="boxLength" name="boxLength" type="text" class="form-control" >
					</div>
					<div class="col-sm-2">
					<select name="boxUnit" id="boxUnit" class="form-control">
						<option value="0">mm</option>
						<option value="1">cm</option>
						<option value="2">dm</option>
						<option value="3">m</option>
					</select>
					</div>
					</div>
            <div class="form-group" >
	          <label class="col-sm-12 control-label" ></label>
             </div>
				<div class="form-group">
				    <label class="col-sm-4 control-label" ></label> 
					<label class="col-sm-2 control-label" >宽：</label>
					<div class="col-sm-4">
					<input id="boxWidth" name="boxWidth"  type="text" class="form-control" >
					</div>
					<div class="col-sm-2">
					<select name="boxUnit0" id="boxUnit0" class="form-control">
						<option value="0">mm</option>
						<option value="1">cm</option>
						<option value="2">dm</option>
						<option value="3">m</option>
					</select>
					</div>
					</div>
			<div class="form-group" >
				<label class="col-sm-12 control-label" ></label>
			</div>
			<div class="form-group">
				    <label class="col-sm-4 control-label" ></label> 
					<label class="col-sm-2 control-label" >高：</label>
					<div class="col-sm-4">
					<input id="boxHeight" name="boxHeight" type="text" class="form-control" >
					</div>
					<div class="col-sm-2">
					<select name="boxUnit1" id="boxUnit1" class="form-control">
						<option value="0">mm</option>
						<option value="1">cm</option>
						<option value="2">dm</option>
						<option value="3">m</option>
					</select>
					</div>
				</div> 
			
<div class="form-group" >
	<label class="col-sm-12 control-label" ></label>
</div>

			<div class="form-group dowebok" id="printPaperId">
				<label class="col-sm-4 control-label" >纸张材质：</label>
				
				    <div class="col-sm-2">
					<input type="radio" name="printPaperId" id="printPaperId0" checked  class="form-control">
					</div>
					<div class="col-sm-2">
					<input type="radio" name="printPaperId" id="printPaperId1"  class="form-control">
					</div>
					<div class="col-sm-2">
					<input type="radio" name="printPaperId" id="printPaperId2" class="form-control">
					</div>
					<div class="col-sm-2">
					<input type="radio" name="printPaperId" id="printPaperId3" class="form-control">
					</div>
				</div> 
<div class="form-group" >
	<label class="col-sm-12 control-label" ></label>
</div>
			<div class="form-group dowebok" id="paperGramsId">
				<label class="col-sm-4 control-label" >纸张克数：</label>
				  <div class="col-sm-2">
					<input type="radio" name="paperGramsId" id="paperGramsId0" checked class="form-control">
					</div>
					<div class="col-sm-2">
					<!-- <button type="button" data-btn-type="search" id="parper1" class="btn btn-block btn-default">
					灰卡</button> -->
					<input type="radio" name="paperGramsId" id="paperGramsId1" class="form-control">
					</div>
					<div class="col-sm-2">
					<input type="radio" name="paperGramsId" id="paperGramsId2" class="form-control">
					</div>
					<div class="col-sm-2">
					<input type="radio" name="paperGramsId" id="paperGramsId3" class="form-control">
					</div>
				</div>
<div class="form-group" >
	<label class="col-sm-12 control-label" ></label>
</div>			
			<div class="form-group dowebok" id="printColorId">
				<label class="col-sm-4 control-label" >纸张颜色：</label>
				<div class="col-sm-4">
					<input type="radio" name="co" id="co0" checked data-labelauty="单色">
					</div>
					<div class="col-sm-4">
					<input type="radio" name="co" id="co1" data-labelauty="多色">
					</div>
				</div>
<div class="form-group" >
	<label class="col-sm-12 control-label" ></label>
</div>
			<div class="form-group dowebok" id="papercolortype0" style="display:none">
				<label class="col-sm-2 control-label" ></label>
				<div class="col-sm-2">
					<input type="radio" name="printColorId" id="printColorId0" checked class="form-control">
					</div>
					<div class="col-sm-2">
					<input type="radio" name="printColorId" id="printColorId1"  class="form-control">
					</div>
					<div class="col-sm-2">
					<input type="radio" name="printColorId" id="printColorId2" class="form-control">
					</div>
					<div class="col-sm-2">
					<input type="radio" name="printColorId" id="printColorId3" class="form-control">
					</div>
					<div class="col-sm-2">
					<input type="radio" name="printColorId" id="printColorId4" class="form-control">
					</div>
				</div>

				<div class="form-group " id="papercolortype1" style="display:none">
					<label class="col-sm-4 control-label" ></label>
					<div class="col-sm-2">
					<!-- <input type="checkbox" name="color" id=printColor" checked  data-labelauty="CMYK" class="form-control"> -->
					</div>				
					<label class="col-sm-2 control-label" >专色数量：</label> 
					<div class="col-sm-4">
					<select name="pantoneId" id="pantoneId" class="form-control">
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
					</select>
					</div>
					
				</div>
<div class="form-group" >
	<label class="col-sm-12 control-label" ></label>
</div>
			<div class="form-group dowebok" id="surfaceTreatmentId">
				<label class="col-sm-4 control-label" >印刷保护：</label>
					<div class="col-sm-2">
					<input type="radio" name="surfaceTreatmentId" id="surfaceTreatmentId0" checked class="form-control">
					</div>
					<div class="col-sm-2">
					<!-- <button type="button" data-btn-type="search" id="parper1" class="btn btn-block btn-default">
					灰卡</button> -->
					<input type="radio" name="surfaceTreatmentId" id="surfaceTreatmentId1"  class="form-control">
					</div>
					<div class="col-sm-2">
					<input type="radio" name="surfaceTreatmentId" id="surfaceTreatmentId2" class="form-control">
					</div>
					<div class="col-sm-2">
					<input type="radio" name="surfaceTreatmentId" id="surfaceTreatmentId3" class="form-control">
					</div>
					<!-- <div class="col-sm-2">
					<input type="radio" name="surfaceTreatmentId" id="surfaceTreatmentId4" class="form-control">
					</div> -->
				
				</div>
<div class="form-group" >
	<label class="col-sm-12 control-label" ></label>
</div>
			<div class="form-group dowebok" id="technology">
				<label class="col-sm-4 control-label" >增加其他工艺：</label>
					<div class="col-sm-2">
					<!-- <button type="button" data-btn-type="search" id="parper1" class="btn btn-block btn-default">
					灰卡</button> -->
					<input type="checkbox" name="isBronzing"  id="isBronzing"  data-labelauty="烫金">
					</div>
					<div class="col-sm-2">
					<input type="checkbox" name="isConvex" id="isConvex" data-labelauty="击凸">
					</div>
					<div class="col-sm-2">
					<input type="checkbox" name="isPvc" id="isPvc" data-labelauty="PVC">
					</div>
					<div class="col-sm-2">
					<input type="checkbox" name="isUv"  id="isUv" data-labelauty="UV">
					</div>
			</div>
<div class="form-group" >
	<label class="col-sm-12 control-label" ></label>
</div>

				<div class="form-group dowebok" id="bronzing" style="display:none">
					<label class="col-sm-4 control-label" >烫金：</label>
					<label class="col-sm-1 control-label" >长：</label>
					<div class="col-sm-1">
						<input id="bronzingLength" name="bronzingLength" type="text" class="form-control" >
						</div>
						<div class="col-sm-2">
						<select name="bronzingUnit" id="bronzingUnit" class="form-control">
							<option value="0">mm</option>
							<option value="1">cm</option>
							<option value="2">dm</option>
							<option value="3">m</option>
						</select>
						</div>
						<label class="col-sm-1 control-label" >宽：</label>
						<div class="col-sm-1">
						<input id="bronzingWidth" name="bronzingWidth" type="text" class="form-control" >
						</div>
						<div class="col-sm-2">
						<select name="bronzingUnit0" id="bronzingUnit0" class="form-control">
							<option value="0">mm</option>
							<option value="1">cm</option>
							<option value="2">dm</option>
							<option value="3">m</option>
						</select>
						</div>
				</div> 
<div class="form-group" >
	<label class="col-sm-12 control-label" ></label>
</div>
		
			<div class="form-group" id="convex" style="display:none">
				<label class="col-sm-4 control-label" >击凸：</label>
				<label class="col-sm-1 control-label" >长：</label>
				<div class="col-sm-1">
					<input id="convexLength" name="convexLength" type="text" class="form-control" >
					</div>
					<div class="col-sm-2">
					<select name="convexUnit" id="convexUnit" class="form-control">
						<option value="0">mm</option>
						<option value="1">cm</option>
						<option value="2">dm</option>
						<option value="3">m</option>
					</select>
					</div>
					<label class="col-sm-1 control-label" >宽：</label>
					<div class="col-sm-1">
					<input id="convexWidth" name="convexWidth" type="text" class="form-control" >
					</div>
					<div class="col-sm-2">
					<select name="convexUnit0" id="convexUnit0" class="form-control">
						<option value="0">mm</option>
						<option value="1">cm</option>
						<option value="2">dm</option>
						<option value="3">m</option>
					</select>
					</div>
				</div> 
<div class="form-group" >
	<label class="col-sm-12 control-label" ></label>
</div>
			<div class="form-group" id="pvc" style="display:none">
				<label class="col-sm-4 control-label" >PVC：</label>
				<label class="col-sm-1 control-label" >长：</label>
				<div class="col-sm-1">
					<input id="pvcLength" name="pvcLength" type="text" class="form-control" >
					</div>
					<div class="col-sm-2">
					<select name="pvcUnit" id="pvcUnit" class="form-control">
								
								<option value="0">mm</option>
								<option value="1">cm</option>
								<option value="2">dm</option>
								<option value="3">m</option>
							</select>
					</div>
					<label class="col-sm-1 control-label" >宽：</label>
					<div class="col-sm-1">
					<input id="pvcWidth" name="pvcWidth" type="text" class="form-control" >
					</div>
					<div class="col-sm-2">
					<select name="pvcUnit0" id="pvcUnit0" class="form-control">
								
								<option value="0">mm</option>
								<option value="1">cm</option>
								<option value="2">dm</option>
								<option value="3">m</option>
							</select>
					</div>
				</div> 
<div class="form-group" >
	<label class="col-sm-12 control-label" ></label>
</div>
				<div class="form-group" id="uv" style="display:none">
				<label class="col-sm-4 control-label" >UV：</label>
				<label class="col-sm-1 control-label" >长：</label>
				<div class="col-sm-1">
					<input id="uvLength" name="uvLength" type="text" class="form-control" >
					</div>
					<div class="col-sm-2">
					<select name="uvUnit" id="uvUnit" class="form-control">
								
								<option value="0">mm</option>
								<option value="1">cm</option>
								<option value="2">dm</option>
								<option value="3">m</option>
							</select>
					</div>
					<label class="col-sm-1 control-label" >宽：</label>
					<div class="col-sm-1">
					<input id="uvWidth" name="uvWidth" type="text" class="form-control" >
					</div>
					<div class="col-sm-2">
					<select name="uvUnit0" id="uvUnit0" class="form-control">
								
								<option value="0">mm</option>
								<option value="1">cm</option>
								<option value="2">dm</option>
								<option value="3">m</option>
							</select>
					</div>
				</div>
<div class="form-group" >
	<label class="col-sm-12 control-label" ></label>
</div>

			<div class="form-group dowebok" >
				<label class="col-sm-3 control-label" >收货区域：</label>
				<div class="col-sm-3">
					<input type="radio" name="receiveAreaId" id="receiveAreaId0" checked class="form-control">
					</div>
					<div class="col-sm-3">
					<input type="radio" name="receiveAreaId" id="receiveAreaId1" class="form-control">
					</div>
					<div class="col-sm-3">
					<input type="radio" name="receiveAreaId" id="receiveAreaId2" class="form-control">
					</div>	
			</div>

<div class="form-group" >
	<label class="col-sm-12 control-label" ></label>
</div>
			<div class="form-group dowebok" >
				<label class="col-sm-3 control-label" >定做数量：</label>
					<div class="col-sm-3">
					<button type="button" data-btn-type="add" onclick="add()" class="btn btn-block btn-default">+</button>
					</div>
					
					<div class="col-sm-3">
					<input id="printNumber" name="printNumber" type="text" class="form-control" value="1000">
					</div>
					<div class="col-sm-3">
					<button type="button" data-btn-type="minus" onclick="minus()" class="btn btn-block btn-default">-</button>
					</div>
			</div>
<div class="form-group" >
	<label class="col-sm-12 control-label" ></label>
</div>
			<div class="form-group" style="margin-top:10px;">
				<button type="submit" data-btn-type="layout" class="btn btn-block btn-primary">排版</button>
			</div>
</form>
		</div>
     </div>
</div>
</div>
	
</section>
<!-- 查看图片的弹窗 -->
<div class="modal fade" id="modal-image" aria-labelledby="modalPhotoLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form class="form-horizontal" action="" id="form" method="post">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h4 class="modal-title" id="modalPhotoLabel">查看图片</h4>
				</div>
				
				<div class="modal-body">
					<div class="form-group" id="userImage">
						
						<div class="col-sm-8">
							<img id="imageId" src="" height="300" width="300" >
						</div>
					</div>
			   	</div>			
			</form>
		</div>
	</div>
</div>
<!-- radio -->
  <link rel="stylesheet" href="${basePath}/assets/common/css/jquery-labelauty.css">

<script src="${basePath}/assets/adminlte/plugins/bootstrap-table/bootstrap-table.js"></script>
<script src="${basePath}/assets/common/js/base.js"></script>
<script src="${basePath}/assets/common/js/jquery-labelauty.js"></script>

<!-- tooltip -->

<!-- <script type="text/javascript" language="javascript" src="${basePath}/assets/common/js/jcarousellite_1.3.min.js"></script>
<script type="text/javascript" language="javascript" src="${basePath}/assets/common/js/jquery.toolsnew.min.js"></script> -->

<script type="text/javascript">

$(function(){

	var basePath="${basePath}";
	$(":input").labelauty(); 
	//$("[data-toggle='tooltip']").tooltip(); 
	var boxId=sessionStorage.getItem("boxId");
	var params={"boxId":boxId};
	$("#papercolortype1").hide();
	$("#papercolortype0").show();
	var colorFlag="0";
	var array=null;
	var lmin=null,lmax=null,wmin=null,wmax=null,hmin=null,hmax=null;
	//单位统一
	$("#boxUnit").change(function(){
		var selected=$(this).children('option:selected').val(); 
		$("#boxUnit0").val(selected);
		$("#boxUnit1").val(selected);
		});
	$("#boxUnit0").change(function(){
		var selected=$(this).children('option:selected').val(); 
		$("#boxUnit").val(selected);
		$("#boxUnit1").val(selected);
		});
	$("#boxUnit1").change(function(){
		var selected=$(this).children('option:selected').val(); 
		$("#boxUnit0").val(selected);
		$("#boxUnit").val(selected);
		});
	
	$("#bronzingUnit").change(function(){
		var selected=$(this).children('option:selected').val(); 
		$("#bronzingUnit0").val(selected);
		});
	$("#bronzingUnit0").change(function(){
		var selected=$(this).children('option:selected').val(); 
		$("#bronzingUnit").val(selected);
		});
	$("#convexUnit").change(function(){
		var selected=$(this).children('option:selected').val(); 
		$("#convexUnit0").val(selected);
		});
	$("#convexUnit0").change(function(){
		var selected=$(this).children('option:selected').val(); 
		$("#convexUnit").val(selected);
		});
	$("#pvcUnit").change(function(){
		var selected=$(this).children('option:selected').val(); 
		$("#pvcUnit0").val(selected);
		});
	$("#pvcUnit0").change(function(){
		var selected=$(this).children('option:selected').val(); 
		$("#pvcUnit").val(selected);
		});
	$("#uvUnit").change(function(){
		var selected=$(this).children('option:selected').val(); 
		$("#uvUnit0").val(selected);
		});
	$("#uvUnit0").change(function(){
		var selected=$(this).children('option:selected').val(); 
		$("#uvUnit").val(selected);
		});
	//判断长宽高范围取值
	
	
	//颜色
	$("#co0").click(function() {
		if($("#co0").prop("checked")){
			colorFlag="0";
			$("#papercolortype0").show();
			$("#papercolortype1").hide();
			}else{
				colorFlag="1";	
				$("#papercolortype1").show();
				$("#papercolortype0").hide();
				}
		});
	$("#co1").click(function() {
		if($("#co1").prop("checked")){
			colorFlag="1";
			$("#papercolortype1").show();
			$("#papercolortype0").hide();
			}else{
				colorFlag="0";
				$("#papercolortype0").show();
				$("#papercolortype1").hide();
				}
		});
	//长宽高的范围限制
/* 	$("#boxLength").change(function(){
		var selected = parseInt($("#boxLength").val());
		if(selected<lmin){
			layer.alert("纸盒长度不能小于"+lmin);
			$("#boxLength").val("");
			return;
			}if(selected>lmax){
			layer.alert("纸盒长度不能大于"+lmax);
			$('#boxLength').val("");
			return;
			}
		});
	$("#boxWidth").change(function(){
		var selected = parseInt($('#boxWidth').val());
		if(selected<wmin){
			layer.alert("纸盒宽度不能小于"+wmin);
			$("#boxWidth").val("");
			return;
			}if(selected>wmax){
			layer.alert("纸盒宽度不能大于"+wmax);
			$('#boxWidth').val("");
			return;
			}
		});
	$("#boxHeight").change(function(){
		var selected = parseInt($('#boxHeight').val());
		if(selected<hmin){
			layer.alert("纸盒高度不能小于"+hmin);
			$('#boxHeight').val("");
			return;
			}if(selected>hmax){
			layer.alert("纸盒高度不能大于"+hmax);
			$('#boxHeight').val("");
			return;
			}
		}); */
	//小图点击事件
	$("#img1").click(function(){
		$("#img0").attr("src",$("#img1").src);
		});
	$("#img2").click(function(){
		$("#img0").attr("src",$("#img2").src);
		});
	$("#img3").click(function(){
		$("#img0").attr("src",$("#img3").src);
		});
	//其他工艺
	$("#isBronzing").click(function() {
		if($("#isBronzing").prop("checked")){
			$("#bronzing").show();
			}else{
				$("#bronzing").hide();
				}
		});
	$("#isConvex").click(function() {
		if($("#isConvex").prop("checked")){
			$("#convex").show();
			}else{
				$("#convex").hide();
				}
		});
	$("#isPvc").click(function() {
		if($("#isPvc").prop("checked")){
			$("#pvc").show();
			}else{
				$("#pvc").hide();
				}
		});
	$("#isUv").click(function() {
		if($("#isUv").prop("checked")){
			$("#uv").show();
			}else{
				$("#uv").hide();
				}
		});
	
	
	ajaxPost(basePath+"/web/xiadanBox", {
		params:JSON.stringify(params)
		}, function(data) {
		console.log(JSON.stringify(data));
		$("#title").html(data.name);
		/* $("#img0").attr("src","http://139.199.159.121:8080/images/BoxType/1524627135192000/dime/1524627135192000-2018-04-25-11-32-15.jpg");//平面图
		$("#img1").attr("src","http://139.199.159.121:8080/images/BoxType/1524627135192000/dime/1524627135192000-2018-04-25-11-32-15.jpg");//平面图
		$("#img2").attr("src","http://139.199.159.121:8080/images/BoxType/1524627135192000/dime/1524627135192000-2018-04-25-11-32-15.jpg");//立体图
		$("#img3").attr("src","http://139.199.159.121:8080/images/BoxType/1524627135192000/dime/1524627135192000-2018-04-25-11-32-15.jpg");//实物图  */
	 	$("#img0").attr("src","http://139.199.159.121:8080/images/BoxType/"+data.boxId+"/plan/"+data.plan);//平面图
		$("#img1").attr("src","http://139.199.159.121:8080/images/BoxType/"+data.boxId+"/plan/"+data.plan);//平面图
		$("#img2").attr("src","http://139.199.159.121:8080/images/BoxType/"+data.boxId+"/dime/"+data.dime);//立体图
		$("#img3").attr("src","http://139.199.159.121:8080/images/BoxType/"+data.boxId+"/phy/"+data.phy);//实物图 
		lmin=parseInt(data.lmin);
		lmax=parseInt(data.lmax);
		wmin=parseInt(data.wmin);
		wmax=parseInt(data.wmax);
		hmin=parseInt(data.hmin);
		hmax=parseInt(data.hmax);
		console.log(lmin+"*"+lmax+"*"+wmin+"*"+wmax+"*"+hmin+"*"+hmax);
		});
	ajaxPost(basePath+"/web/technology", null, function(data) {
		console.log(data);
		for(var i=0,len1 = data.length;i<len1;i++){
			if(data[i].text=="收货区域"){
				for(var j=0,len2 = data[i].nodes.length;j<len2;j++){
					
					$("#receiveAreaId"+j).labelauty({
						checked_label: data[i].nodes[j].text,
						unchecked_label: data[i].nodes[j].text
						});
				$("#receiveAreaId"+j).val(data[i].nodes[j].id);
				$("#receiveAreaId").val(data[i].id);
				}
				}else if(data[i].text=="印刷纸质"){
				array=data[i].nodes;
				for(var j=0,len3 = data[i].nodes.length;j<len3;j++){
				$("#printPaperId"+j).labelauty({
						checked_label: data[i].nodes[j].text,
						unchecked_label: data[i].nodes[j].text
						});
			
				$("#printPaperId"+j).val(data[i].nodes[j].id);
				$("#printPaperId").val(data[i].id);

				}
				for(var k=0,len8 = array[0].nodes.length;k<len8;k++){
					$("#paperGramsId"+k).labelauty({
						checked_label: array[0].nodes[k].text,
						unchecked_label: array[0].nodes[k].text
						});
					$("#paperGramsId"+k).val(array[0].nodes[k].id);
					
				}
			}else if(data[i].text=="印刷颜色"){
					for(var j=0,len4 = data[i].nodes.length;j<len4;j++){
					$("#printColorId"+j).labelauty({
							checked_label: data[i].nodes[j].text,
							unchecked_label: data[i].nodes[j].text
							});
					$("#printColorId"+j).val(data[i].nodes[j].id);
					$("#printColorId").val(data[i].id);
					}
				}else if(data[i].text=="表面处理"){
					for(var j=0,len5 = data[i].nodes.length;j<len5;j++){
						$("#surfaceTreatmentId"+j).labelauty({
							checked_label: data[i].nodes[j].text,
							unchecked_label: data[i].nodes[j].text
							});
					$("#surfaceTreatmentId"+j).val(data[i].nodes[j].id);
					$("#surfaceTreatmentId").val(data[i].id);
					}
				}else if(data[i].text=="烫金"){
					$("#isBronzing").val(data[i].id);
				}else if(data[i].text=="击凸"){			
					$("#tuji").val(data[i].id);
				}else if(data[i].text=="UV"){
					$("#isUv").val(data[i].id);
				}else if(data[i].text=="PVC"){
					$("#isPvc").val(data[i].id);
				}

			}
		
		});
	//表面处理
	$(":radio[name='printPaperId']").click(function() {
		alert($(":radio[name='printPaperId']:checked").val());
		var printPaperId=$(":radio[name='printPaperId']:checked").val();
		for(var j=0,len6 = array.length;j<len6;j++){
			if(printPaperId==array[j].id){
				console.log(array);
				for(var i=0,len7 = array[j].nodes.length;i<len7;i++){
					$("#paperGramsId"+i).labelauty({
						checked_label: array[j].nodes[i].text,
						unchecked_label: array[j].nodes[i].text
						});
					$("#paperGramsId"+i).val(array[j].nodes[i].id);
					
				}
				}
			}
	});
	$(":radio[name='paperGramsId']").click(function() {
		alert($(":radio[name='paperGramsId']:checked").val());
	});
	$(":radio[name='co']").click(function() {
		alert($(":radio[name='co']:checked").val());
	});
	$(":radio[name='printColorId']").click(function() {
		alert($(":radio[name='printColorId']:checked").val());
	});
	$(":radio[name='surfaceTreatmentId']").click(function() {
		alert($(":radio[name='surfaceTreatmentId']:checked").val());
	});
	//表面处理
	$(":radio[name='receiveAreaId']").click(function() {
		alert($(":radio[name='receiveAreaId']:checked").val());
	});
	$(":checkbox[name='checkbox']").click(function() {
		alert($(":radio[name='checkbox']:checked").val());
	});
	
	//tooltip显示图片
    $('div.thumbnail-item').mouseenter(function(e) {  
  
            // Calculate the position of the image tooltip  
            x = e.pageX - $(this).offset().left;  
            y = e.pageY - $(this).offset().top;  
  
            // Set the z-index of the current item,   
            // make sure it's greater than the rest of thumbnail items  
            // Set the position and display the image tooltip  
            $(this).css('z-index','15') 
            .children("div.tooltip") 
            .css({'top': y + 10,'left': x + 20,'display':'block'}); 
             
        }).mousemove(function(e) { 
             
            // Calculate the position of the image tooltip           
            x = e.pageX - $(this).offset().left; 
            y = e.pageY - $(this).offset().top; 
             
            // This line causes the tooltip will follow the mouse pointer 
            $(this).children("div.tooltip").css({'top': y + 10,'left': x + 20}); 
             
        }).mouseleave(function() { 
             
            // Reset the z-index and hide the image tooltip  
            $(this).css('z-index','1')  
            .children("div.tooltip")  
            .animate({"opacity": "hide"}, "fast");  
        });  
	//-------------Validator from begin----------------
	$("#xiadan-form").bootstrapValidator({
		excluded: [':disabled', ':hidden', ':not(:visible)'],//排除无需验证的控件，比如被禁用的或者被隐藏的
		message : '请输入有效值',
		feedbackIcons : {
			valid : 'glyphicon glyphicon-ok',
			invalid : 'glyphicon glyphicon-remove',
			validating : 'glyphicon glyphicon-refresh'
		},
		fields : {
			boxLength : {
				validators : {
					notEmpty : {
						message : '纸盒长度不能为空'
					},
					 numeric: {message: '只能输入数字'},
					 remote : {
							url : basePath + "/web/checkBoxLength",
							message : '纸盒长度超过范围',
							data:{boxLength:$("#boxLength").val(),
								BoxId:sessionStorage.getItem("boxId")},
							delay : 2000,
							type : 'POST'
						} 
					/*  between:{
						 message: '不能少于'+lmin+',不能多于'+lmax
				            min: lmin,
				            max: lmax
						 }   */
			 }
			},
			boxWidth : {
				validators : {
					notEmpty : {
						message : '纸盒宽度不能为空'
					},
					numeric: {message: '只能输入数字'},
					 remote : {
							url : basePath + "/web/checkBoxWidth",
							message : '纸盒宽度超过范围',
							data:{boxWidth:$("#boxWidth").val(),
								BoxId:sessionStorage.getItem("boxId")},
							delay : 2000,
							type : 'POST'
						} 
					/* between:{
						 message: '不能少于'+wmin+',不能多于'+wmax
				            min: wmin,
				            max: wmax
						 } */
				 
				}
			},
			boxHeight : {
				validators : {
					notEmpty : {
						message : '纸盒宽度不能为空'
					},
					numeric: {message: '只能输入数字'},
					 remote : {
							url : basePath + "/web/checkBoxHeight",
							message : '纸盒高度超过范围',
							data:{boxHeight:$("#boxHeight").val(),
								BoxId:sessionStorage.getItem("boxId")},
							delay : 2000,
							type : 'POST'
						} 
					/* between:{
						 message: '不能少于'+hmin+',不能多于'+hmax
				            min: hmin,
				            max: hmax
						 } */
				}
			},
			convexLength : {
				validators : {
					notEmpty : {
						message : '烫金长度不能为空'
					},
					numeric: {message: '只能输入数字'}
				}
			},
			convexWidth : {
				validators : {
					notEmpty : {
						message : '烫金长度不能为空'
					},
					numeric: {message: '只能输入数字'}
				}
			},
			bronzingLength : {
				validators : {
					notEmpty : {
						message : '烫金长度不能为空'
					},
					numeric: {message: '只能输入数字'}
				}
			},
			bronzingWidth : {
				validators : {
					notEmpty : {
						message : '烫金长度不能为空'
					},
					numeric: {message: '只能输入数字'}
				}
			},
			pvcLength : {
				validators : {
					notEmpty : {
						message : '烫金长度不能为空'
					},
					numeric: {message: '只能输入数字'}
				}
			},
			pvcWidth : {
				validators : {
					notEmpty : {
						message : '烫金长度不能为空'
					},
					numeric: {message: '只能输入数字'}
				}
			},
			uvLength : {
				validators : {
					notEmpty : {
						message : '烫金长度不能为空'
					},
					numeric: {message: '只能输入数字'}
				}
			},
			uvWidth : {
				validators : {
					notEmpty : {
						message : '烫金长度不能为空'
					},
					numeric: {message: '只能输入数字'}
				}
			}
		},
        submitHandler: function (validator, form, submitButton) {
        	var formParams = $("#xiadan-form").serializeJSON();
        	formParams.boxId=boxId;
        	formParams.colorFlag=colorFlag;
        	console.log(formParams); 
        	ajaxPost(basePath+"/web/createShoppingandLayout", {
				params:JSON.stringify(formParams)
				}, function(data) {
					if(data!=null){
						var boxid = sessionStorage.setItem("shoppingId",data);
						loadPage(basePath+"/web/layout");
						}else{
						layer.alert("操作失败");
							}
					//loadPage("${basePath}/web/layout");
					//showTabs("","${basePath}/web/xiadan");
				});
        }
   
	});
			
	
	//-------------Validator from end----------------
});
	/**
	 * tab页面加载
	 * @param tabsId
	 * @param url
	 * @returns
	 */
	function showTabs(tabsId,url) {
	    $("a[href='#"+tabsId+"']").tab('show');
	    var $tabContent = $('#'+tabsId);
	    if($tabContent.length < 100) {
	        $tabContent.load(url);
	    }
	}
	function add() {
		$("#printNumber").val(parseInt($("#printNumber").val())+1000);
	}
	function minus() {
		if($("#printNumber").val()=="1000"||$("#printNumber").val()==1000){
			layer.alert("定做数量不能少于1000");
			}else{
			$("#printNumber").val(parseInt($("#printNumber").val())-1000);
				}
	    
	}
	function showphoto(urlId){
		 var imagePath = $("#"+urlId).src;
		 $("#imageId").attr('src',imagePath);
		 $('#modal-image').modal('toggle');
	 } 

</script>
