
<!-- Main content -->
<section class="content">
	<div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">盒型名称</h3>
			  </div>

 <div class="box-body">

	 <div class="row">
        <div class="col-md-3 col-xs-3">
          <!-- AREA CHART -->
			  <img src="${basePath}/assets/common/images/1.jpg" alt="First slide"> 
			  <div class="row" >
					<form class="form-inline" role="form">
						<div class="form-group">
						<img src="${basePath}/assets/common/images/1.jpg" class="form-control" alt="First slide"> 
							
						</div>
						<div class="form-group">
							<img src="${basePath}/assets/common/images/1.jpg"  class="form-control" alt="First slide">
						</div>
						<div class="form-group">
							<img src="${basePath}/assets/common/images/1.jpg"  class="form-control" alt="First slide">
						</div>
					</form>
				</div>

			</div>

		<div class="col-md-9 col-xs-9">
			<div class="form-group">
				<label class="col-sm-2 control-label" >成品尺寸：</label>
				<label class="col-sm-1 control-label" >长：</label>
				<div class="col-sm-1">
					<input id="loginName" name="loginName" type="text" class="form-control" >
					</div>
					<div class="col-sm-1">
					<select name="search-unit" id="search-unit3" class="form-control">
								
								<option value="0">mm</option>
								<option value="1">cm</option>
								<option value="2">dm</option>
								<option value="3">m</option>
							</select>
					</div>
					<label class="col-sm-1 control-label" >宽：</label>
					<div class="col-sm-1">
					<input id="loginName" name="loginName" type="text" class="form-control" >
					</div>
					<div class="col-sm-1">
					<select name="search-unit" id="search-unit2" class="form-control">
								
								<option value="0">mm</option>
								<option value="1">cm</option>
								<option value="2">dm</option>
								<option value="3">m</option>
							</select>
					</div>
					<label class="col-sm-1 control-label" >高：</label>
					<div class="col-sm-1">
					<input id="loginName" name="loginName" type="text" class="form-control" >
					</div>
					<div class="col-sm-1">
					<select name="search-unit" id="search-unit1" class="form-control">
								<option value="0">mm</option>
								<option value="1">cm</option>
								<option value="2">dm</option>
								<option value="3">m</option>
							</select>
					</div>
				</div> 
			

			<div class="form-group" style="padding:10px 0;">
				<label class="col-sm-4 control-label" >纸张材质：</label>
				
				<div class="col-sm-2">
					<button type="button" data-btn-type="search" class="btn btn-block btn-default">白卡</button>
					</div>
					
					<div class="col-sm-2">
					<button type="button" data-btn-type="search" class="btn btn-block btn-default">灰卡</button>
					</div>
					
					<div class="col-sm-2">
					<button type="button" data-btn-type="search" class="btn btn-block btn-default">金银卡</button>
					</div>
					<div class="col-sm-2">
					<button type="button" data-btn-type="search" class="btn btn-block btn-default">镭射卡</button>
					</div>
				</div> 
			

			<div class="form-group" style="padding:10px 0;">
				<label class="col-sm-4 control-label" >纸张克数：</label>
				
				<div class="col-sm-2">
					<button type="button" data-btn-type="search" class="btn btn-block btn-default">250</button>
					</div>
					
					<div class="col-sm-2">
					<button type="button" data-btn-type="search" class="btn btn-block btn-default">275</button>
					</div>
					
					<div class="col-sm-2">
					<button type="button" data-btn-type="search" class="btn btn-block btn-default">350</button>
					</div>
					<div class="col-sm-2">
					<button type="button" data-btn-type="search" class="btn btn-block btn-default">375</button>
					</div>
				</div>
			
			<div class="form-group" style="padding:10px 0;">
				<label class="col-sm-4 control-label" >纸张颜色：</label>
				
				<div class="col-sm-4">
					<button type="button" data-btn-type="search" class="btn btn-block btn-default">单色</button>
					</div>
					
					<div class="col-sm-4">
					<button type="button" data-btn-type="search" class="btn btn-block btn-default">多色</button>
					</div>
					
					
				</div>

			<div class="form-group" style="">
				<label class="col-sm-4 control-label" ></label>
				
					<div class="col-sm-2">
					<button type="button" data-btn-type="search" class="btn btn-block btn-default">C</button>
					</div>
					
					<div class="col-sm-2">
					<button type="button" data-btn-type="search" class="btn btn-block btn-default">M</button>
					</div>
					<div class="col-sm-2">
					<button type="button" data-btn-type="search" class="btn btn-block btn-default">Y</button>
					</div>
					<div class="col-sm-2">
					<button type="button" data-btn-type="search" class="btn btn-block btn-default">K</button>
					</div>
					
				</div>

				<div class="form-group" style="">
					<label class="col-sm-4 control-label" ></label>
				
					<div class="col-sm-2">
					<button type="button" data-btn-type="search" class="btn btn-block btn-default">CMYK</button>
					</div>
					<label class="col-sm-2 control-label" >专色数量：</label>
					<div class="col-sm-4">
					<select name="colorNum" id="colorNum" class="form-control">
								<option value="">请选择...</option>
								<option value="0">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
							</select>
					</div>
					
				</div>

			<div class="form-group" style="">
				<label class="col-sm-2 control-label" >印刷保护：</label>
				
					<div class="col-sm-2">
					<button type="button" data-btn-type="search" class="btn btn-block btn-default">光胶</button>
					</div>
					
					<div class="col-sm-2">
					<button type="button" data-btn-type="search" class="btn btn-block btn-default">哑胶</button>
					</div>
					<div class="col-sm-2">
					<button type="button" data-btn-type="search" class="btn btn-block btn-default">磨光</button>
					</div>
					<div class="col-sm-2">
					<button type="button" data-btn-type="search" class="btn btn-block btn-default">光油</button>
					</div>
					<div class="col-sm-2">
					<button type="button" data-btn-type="search" class="btn btn-block btn-default">不处理</button>
					</div>
				</div>
		
			<div class="form-group" style="margin-top:10px;">
				<label class="col-sm-4 control-label" >增加其他工艺：</label>
				
					<div class="col-sm-2">
					<button type="button" data-btn-type="search" class="btn btn-block btn-default">烫金</button>
					</div>
					
					<div class="col-sm-2">
					<button type="button" data-btn-type="search" class="btn btn-block btn-default">击凸</button>
					</div>
					<div class="col-sm-2">
					<button type="button" data-btn-type="search" class="btn btn-block btn-default">PVC</button>
					</div>
					<div class="col-sm-2">
					<button type="button" data-btn-type="search" class="btn btn-block btn-default">UV</button>
					</div>
			</div>

				<div class="form-group">
				<label class="col-sm-2 control-label" >烫金：</label>
				<label class="col-sm-1 control-label" >长：</label>
				<div class="col-sm-2">
					<input id="loginName" name="loginName" type="text" class="form-control" >
					</div>
					<div class="col-sm-2">
					<select name="search-unit" id="search-unit" class="form-control">
								
								<option value="0">mm</option>
								<option value="1">cm</option>
								<option value="2">dm</option>
								<option value="3">m</option>
							</select>
					</div>
					<label class="col-sm-1 control-label" >宽：</label>
					<div class="col-sm-2">
					<input id="loginName" name="loginName" type="text" class="form-control" >
					</div>
					<div class="col-sm-2">
					<select name="search-unit" id="search-unit" class="form-control">
								
								<option value="0">mm</option>
								<option value="1">cm</option>
								<option value="2">dm</option>
								<option value="3">m</option>
							</select>
					</div>
				</div> 
			
			<div class="form-group">
				<label class="col-sm-2 control-label" >击凸：</label>
				<label class="col-sm-1 control-label" >长：</label>
				<div class="col-sm-2">
					<input id="loginName" name="loginName" type="text" class="form-control" >
					</div>
					<div class="col-sm-2">
					<select name="search-unit" id="search-unit" class="form-control">
								
								<option value="0">mm</option>
								<option value="1">cm</option>
								<option value="2">dm</option>
								<option value="3">m</option>
							</select>
					</div>
					<label class="col-sm-1 control-label" >宽：</label>
					<div class="col-sm-2">
					<input id="loginName" name="loginName" type="text" class="form-control" >
					</div>
					<div class="col-sm-2">
					<select name="search-unit" id="search-unit" class="form-control">
								
								<option value="0">mm</option>
								<option value="1">cm</option>
								<option value="2">dm</option>
								<option value="3">m</option>
							</select>
					</div>
				</div> 

			<div class="form-group">
				<label class="col-sm-2 control-label" >PVC：</label>
				<label class="col-sm-1 control-label" >长：</label>
				<div class="col-sm-2">
					<input id="loginName" name="loginName" type="text" class="form-control" >
					</div>
					<div class="col-sm-2">
					<select name="search-unit" id="search-unit" class="form-control">
								
								<option value="0">mm</option>
								<option value="1">cm</option>
								<option value="2">dm</option>
								<option value="3">m</option>
							</select>
					</div>
					<label class="col-sm-1 control-label" >宽：</label>
					<div class="col-sm-2">
					<input id="loginName" name="loginName" type="text" class="form-control" >
					</div>
					<div class="col-sm-2">
					<select name="search-unit" id="search-unit" class="form-control">
								
								<option value="0">mm</option>
								<option value="1">cm</option>
								<option value="2">dm</option>
								<option value="3">m</option>
							</select>
					</div>
				</div> 

				<div class="form-group">
				<label class="col-sm-2 control-label" >UV：</label>
				<label class="col-sm-1 control-label" >长：</label>
				<div class="col-sm-2">
					<input id="loginName" name="loginName" type="text" class="form-control" >
					</div>
					<div class="col-sm-2">
					<select name="search-unit" id="search-unit" class="form-control">
								
								<option value="0">mm</option>
								<option value="1">cm</option>
								<option value="2">dm</option>
								<option value="3">m</option>
							</select>
					</div>
					<label class="col-sm-1 control-label" >宽：</label>
					<div class="col-sm-2">
					<input id="loginName" name="loginName" type="text" class="form-control" >
					</div>
					<div class="col-sm-2">
					<select name="search-unit" id="search-unit" class="form-control">
								
								<option value="0">mm</option>
								<option value="1">cm</option>
								<option value="2">dm</option>
								<option value="3">m</option>
							</select>
					</div>
				</div> 
			<div class="form-group" style="margin-top:10px;">
				<label class="col-sm-3 control-label" >收货区域：</label>
					<div class="col-sm-3">
					<button type="button" data-btn-type="search" class="btn btn-block btn-default">市内</button>
					</div>
					
					<div class="col-sm-3">
					<button type="button" data-btn-type="search" class="btn btn-block btn-default">省内</button>
					</div>
					<div class="col-sm-3">
					<button type="button" data-btn-type="search" class="btn btn-block btn-default">省外</button>
					</div>
					
					
			</div>


			<div class="form-group" style="margin-top:10px;">
				<label class="col-sm-3 control-label" >定做数量：</label>
						<div class="col-sm-3">
					<button type="button" data-btn-type="search" class="btn btn-block btn-default">+</button>
					</div>
					
					<div class="col-sm-3">
					<input id="loginName" name="loginName" type="text" class="form-control" >
					</div>
					<div class="col-sm-3">
					<button type="button" data-btn-type="search" class="btn btn-block btn-default">-</button>
					</div>
			</div>

			<div class="form-group" style="margin-top:10px;">
				<button type="button" data-btn-type="search" class="btn btn-block btn-primary">排版</button>
			</div>

		</div>
     </div>
</div>
</div>
	
</section>


<!-- 新增用户的弹窗 -->
<div class="modal fade" id="modal-admin" aria-labelledby="modalAdminLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form class="form-horizontal" action="" id="picture-form" method="post">
				<input type="hidden" id="flag" name="flag">
				<input type="hidden" id="id" name="id">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h4 class="modal-title" id="modalAdminLabel"></h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label class="col-sm-4 control-label">用户名<span style="color: red;">*</span></label>
						<div class="col-sm-8">
							<input id="loginName" name="loginName" type="text" class="form-control"
								placeholder="请输入用户名">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">手机号码<span style="color: red;">*</span></label>
						<div class="col-sm-8">
							<input id="phone" name="phone" type="text" class="form-control"
								placeholder="请输入手机号码" maxlength="11">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4 control-label">真实姓名<span style="color: red;">*</span></label>
						<div class="col-sm-8">
							<input id="name" name="name" type="text" class="form-control"
								placeholder="请输入真实姓名">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-4 control-label">出生日期<span style="color: red;">*</span></label>
						<div class="input-group date col-sm-8">
							<div class="input-group-addon">
	                        	<i class="fa fa-calendar"></i>
	                        </div>
							<input id="birthday" name="birthday" type="text" class="form-control" id="birthday" data-flag="datepicker" data-format="yyyy-MM-dd"
								placeholder="请选择出生日期">

						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-4 control-label">性别<span style="color: red;">*</span></label>
						<div class="col-sm-8">
							<select name="sex" id="sex" class="form-control">
								<option value="">请选择...</option>
								<option value="1">男</option>
								<option value="2">女</option>
							</select>
						</div>
					</div>

					<!-- <div class="form-group">
						<label class="col-sm-4 control-label">用户类别<span style="color: red;">*</span></label>
						<div class="col-sm-8">
							<select name="type" id="type" class="form-control">
								<option value="">请选择...</option>
								<option value="2">后台管理员</option>
								<option value="3">后台业务员</option>
							</select>
						</div>
					</div> -->

					<div class="form-group">
						<label class="col-sm-4 control-label">状态<span style="color: red;">*</span></label>
						<div class="col-sm-8">
							<label class="control-label"> <input type="radio"
								name="status" data-flag="icheck" value="1" checked="checked">
								启用
							</label> &nbsp; <label class="control-label"> <input type="radio"
								name="status" data-flag="icheck" value="0">
								禁用
							</label>
						</div>
					</div>
					
					<div class="modal-footer">
						<button type="submit" class="btn btn-success" id="saveBtn"><i class="fa fa-save"></i>保存</button>
						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i>关闭</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>


<script src="${basePath}/assets/adminlte/plugins/bootstrap-table/bootstrap-table.js"></script>
<script src="${basePath}/assets/common/js/base.js"></script>

<script type="text/javascript">

$(function(){
	ajaxGet(basePath+"/web/xiadanBox", null, function(data) {
		alert(JSON.stringify(data));
		
		});
});

</script>
