<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.box.boxmanage.dao.BoxTypeMapper">
  <resultMap id="BoxTypeResultMap" type="com.box.boxmanage.model.BoxType">
    <id column="boxId" jdbcType="VARCHAR" property="boxid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="dime" jdbcType="VARCHAR" property="dime" />
    <result column="pla" jdbcType="VARCHAR" property="pla" />
    <result column="plan" jdbcType="VARCHAR" property="plan" />
    <result column="phy" jdbcType="VARCHAR" property="phy" />
    <result column="dxf" jdbcType="VARCHAR" property="dxf" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="classId" jdbcType="VARCHAR" property="classid" />
    <result column="detail1" jdbcType="VARCHAR" property="detail1" />
    <result column="detail2" jdbcType="VARCHAR" property="detail2" />
    <result column="detail3" jdbcType="VARCHAR" property="detail3" />
    <result column="wmin" jdbcType="DOUBLE" property="wmin" />
    <result column="hmin" jdbcType="DOUBLE" property="hmin" />
    <result column="lmin" jdbcType="DOUBLE" property="lmin" />
    <result column="wmax" jdbcType="DOUBLE" property="wmax" />
    <result column="hmax" jdbcType="DOUBLE" property="hmax" />
    <result column="lmax" jdbcType="DOUBLE" property="lmax" />
    <result column="unit" jdbcType="INTEGER" property="unit" />
    <result column="createby" jdbcType="VARCHAR" property="createby" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="BoxType_Column_List">
    boxId, name, dime, pla, plan, phy,dxf, description, classId, detail1, detail2, detail3, 
    wmin, hmin, lmin, wmax, hmax, lmax, unit, createby, createtime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BoxTypeResultMap">
    select 
    <include refid="BoxType_Column_List" />
    from t_box_type
    where boxId = #{boxid,jdbcType=VARCHAR}
  </select>
  
  <select id="getAllBoxTypeList" resultType="map">
  SELECT a.*,b.name as className,c.`name` as detail1Name,d.`name` as detail2Name,e.`name`as detail3Name from t_box_type a
  left JOIN t_box_classification b
  on a.classId=b.id
  left JOIN t_box_classification c
  on a.detail1=c.id
  left JOIN t_box_classification d
  on a.detail2=d.id
  left JOIN t_box_classification e
  on a.detail3=e.id
  </select>
  
    
  <select id="boxTypeSearchList" resultType="map">
  SELECT a.*,b.name as className,c.`name` as detail1Name,d.`name` as detail2Name,e.`name`as detail3Name from t_box_type a
  left JOIN t_box_classification b
  on a.classId=b.id
  left JOIN t_box_classification c
  on a.detail1=c.id
  left JOIN t_box_classification d
  on a.detail2=d.id
  left JOIN t_box_classification e
  on a.detail3=e.id
  <where>
   <if test="name!=null and name !=''">
      a.name LIKE CONCAT(CONCAT('%', #{name}),'%') 
   </if>
   <if test="classId != null and classId != '' ">
    and a.classId=#{classId}
   </if>
   <if test="boxId != null and boxId != '' ">
    and a.boxId=#{boxId}
   </if>
  </where>
  </select>
  
   <select id="checkBoxTypeNameExists" parameterType="java.lang.String" resultMap="BoxTypeResultMap">
    select 
    <include refid="BoxType_Column_List" />
    from t_box_type
    where name = #{name,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_box_type
    where boxId = #{boxid,jdbcType=VARCHAR}
  </delete>
  

  <delete id="batchDeleteByIds" parameterType="java.lang.String">
    delete from t_box_type
     where boxId in
     <foreach collection="ids" item="id" open="(" separator="," close=")">
  		#{id}
  	</foreach>
  </delete>
  
  <insert id="insert" parameterType="com.box.boxmanage.model.BoxType">
    insert into t_box_type (boxId, name, dime, 
      pla, plan, phy, dxf,description, 
      classId, detail1, detail2, 
      detail3, wmin, hmin, 
      lmin, wmax, hmax, lmax, 
      unit, createby, createtime
      )
    values (#{boxid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{dime,jdbcType=VARCHAR}, 
      #{pla,jdbcType=VARCHAR}, #{plan,jdbcType=VARCHAR}, #{phy,jdbcType=VARCHAR},  #{dxf,jdbcType=VARCHAR},
      #{description,jdbcType=VARCHAR}, #{classid,jdbcType=VARCHAR}, #{detail1,jdbcType=VARCHAR}, #{detail2,jdbcType=VARCHAR}, 
      #{detail3,jdbcType=VARCHAR}, #{wmin,jdbcType=DOUBLE}, #{hmin,jdbcType=DOUBLE}, 
      #{lmin,jdbcType=DOUBLE}, #{wmax,jdbcType=DOUBLE}, #{hmax,jdbcType=DOUBLE}, #{lmax,jdbcType=DOUBLE}, 
      #{unit,jdbcType=INTEGER}, #{createby,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.box.boxmanage.model.BoxType">
    insert into t_box_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="boxid != null">
        boxId,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="dime != null">
        dime,
      </if>
      <if test="pla != null">
        pla,
      </if>
      <if test="plan != null">
        plan,
      </if>
      <if test="phy != null">
        phy,
      </if>
      <if test="dxf != null">
        dxf,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="classid != null">
        classId,
      </if>
      <if test="detail1 != null">
        detail1,
      </if>
      <if test="detail2 != null">
        detail2,
      </if>
      <if test="detail3 != null">
        detail3,
      </if>
      <if test="wmin != null">
        wmin,
      </if>
      <if test="hmin != null">
        hmin,
      </if>
      <if test="lmin != null">
        lmin,
      </if>
      <if test="wmax != null">
        wmax,
      </if>
      <if test="hmax != null">
        hmax,
      </if>
      <if test="lmax != null">
        lmax,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="createby != null">
        createby,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="boxid != null">
        #{boxid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="dime != null">
        #{dime,jdbcType=VARCHAR},
      </if>
      <if test="pla != null">
        #{pla,jdbcType=VARCHAR},
      </if>
      <if test="plan != null">
        #{plan,jdbcType=VARCHAR},
      </if>
      <if test="phy != null">
        #{phy,jdbcType=VARCHAR},
      </if>
       <if test="dxf != null">
        #{dxf,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="classid != null">
        #{classid,jdbcType=VARCHAR},
      </if>
      <if test="detail1 != null">
        #{detail1,jdbcType=VARCHAR},
      </if>
      <if test="detail2 != null">
        #{detail2,jdbcType=VARCHAR},
      </if>
      <if test="detail3 != null">
        #{detail3,jdbcType=VARCHAR},
      </if>
      <if test="wmin != null">
        #{wmin,jdbcType=DOUBLE},
      </if>
      <if test="hmin != null">
        #{hmin,jdbcType=DOUBLE},
      </if>
      <if test="lmin != null">
        #{lmin,jdbcType=DOUBLE},
      </if>
      <if test="wmax != null">
        #{wmax,jdbcType=DOUBLE},
      </if>
      <if test="hmax != null">
        #{hmax,jdbcType=DOUBLE},
      </if>
      <if test="lmax != null">
        #{lmax,jdbcType=DOUBLE},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=INTEGER},
      </if>
      <if test="createby != null">
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.box.boxmanage.model.BoxType">
    update t_box_type
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="dime != null">
        dime = #{dime,jdbcType=VARCHAR},
      </if>
      <if test="pla != null">
        pla = #{pla,jdbcType=VARCHAR},
      </if>
      <if test="plan != null">
        plan = #{plan,jdbcType=VARCHAR},
      </if>
      <if test="phy != null">
        phy = #{phy,jdbcType=VARCHAR},
      </if>
      <if test="dxf != null">
        dxf = #{dxf,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="classid != null">
        classId = #{classid,jdbcType=VARCHAR},
      </if>
      <if test="detail1 != null">
        detail1 = #{detail1,jdbcType=VARCHAR},
      </if>
      <if test="detail2 != null">
        detail2 = #{detail2,jdbcType=VARCHAR},
      </if>
      <if test="detail3 != null">
        detail3 = #{detail3,jdbcType=VARCHAR},
      </if>
      <if test="wmin != null">
        wmin = #{wmin,jdbcType=DOUBLE},
      </if>
      <if test="hmin != null">
        hmin = #{hmin,jdbcType=DOUBLE},
      </if>
      <if test="lmin != null">
        lmin = #{lmin,jdbcType=DOUBLE},
      </if>
      <if test="wmax != null">
        wmax = #{wmax,jdbcType=DOUBLE},
      </if>
      <if test="hmax != null">
        hmax = #{hmax,jdbcType=DOUBLE},
      </if>
      <if test="lmax != null">
        lmax = #{lmax,jdbcType=DOUBLE},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=INTEGER},
      </if>
      <if test="createby != null">
        createby = #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where boxId = #{boxid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.box.boxmanage.model.BoxType">
    update t_box_type
    set name = #{name,jdbcType=VARCHAR},
      dime = #{dime,jdbcType=VARCHAR},
      pla = #{pla,jdbcType=VARCHAR},
      plan = #{plan,jdbcType=VARCHAR},
      phy = #{phy,jdbcType=VARCHAR},
      dxf = #{dxf,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      classId = #{classid,jdbcType=VARCHAR},
      detail1 = #{detail1,jdbcType=VARCHAR},
      detail2 = #{detail2,jdbcType=VARCHAR},
      detail3 = #{detail3,jdbcType=VARCHAR},
      wmin = #{wmin,jdbcType=DOUBLE},
      hmin = #{hmin,jdbcType=DOUBLE},
      lmin = #{lmin,jdbcType=DOUBLE},
      wmax = #{wmax,jdbcType=DOUBLE},
      hmax = #{hmax,jdbcType=DOUBLE},
      lmax = #{lmax,jdbcType=DOUBLE},
      unit = #{unit,jdbcType=INTEGER},
    where boxId = #{boxid,jdbcType=VARCHAR}
  </update>
  <select id="getWebBoxTypeList" resultType="map">
   SELECT a.* from t_box_type a
  left JOIN t_box_classification b
  on a.classId=b.id
  left JOIN t_box_classification c
  on a.detail1=c.id
  left JOIN t_box_classification d
  on a.detail2=d.id
  left JOIN t_box_classification e
  on a.detail3=e.id
  where 1=1 
   
   <if test="classid != null and classid != '' ">
    and a.classId=#{classid}
   </if>
   <if test="detail1 != null and detail1 != '' ">
    and a.detail1=#{detail1}
    </if>
    <if test="detail2 != null and detail2 != '' ">
    and a.detail2=#{detail2}
    </if>
  <if test="detail3 != null and detail3 != '' ">
    and a.detail3=#{detail3}
    </if>
 <!--  LIMIT #{page,jdbcType=INTEGER},12 -->
  </select>
</mapper>