<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		APP用户管理<small>APP User Management</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="${basePath}/main"><i class="fa fa-dashboard"></i>首页</a></li>
		<li class="active">APP用户管理</li>
	</ol>
</section>

<!-- Main content -->
<section class="content">
<!--  
	<div class="container-fluid">
-->		
		<div class="box box-primary">
	        <form id="user-search-form" action="" class="form-horizontal" method="post">
	        <div class="box-body">
	          	<div class="col-sm-4">
	          		<div class="form-group">
						<label class="col-sm-4 control-label">绑定手机号</label>
						<div class="col-sm-8">
							<input id="search-phone" name="search-phone" type="text" class="form-control"
								placeholder="请输入手机号码" maxlength="11">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4 control-label">用户ID</label>
						<div class="col-sm-8">
							<input id="search-id" name="search-id" type="text" class="form-control"
								placeholder="请输入用户ID">
						</div>	
					</div>	
				</div>
				
				
				<div class="col-sm-4">
					<div class="form-group">
						<label class="col-sm-4 control-label">注册时间</label>
						<div class="input-group date col-sm-8">
							<div class="input-group-addon">
	                        	<i class="fa fa-calendar"></i>
	                        </div>
							<input name="createTimeBegin" type="text" class="form-control" id="search-createTimeBegin" data-flag="datepicker" data-format="yyyy-MM-dd"
								placeholder="请选择...">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4 control-label">最近登陆时间</label>
						<div class="input-group date col-sm-8">
							<div class="input-group-addon">
	                        	<i class="fa fa-calendar"></i>
	                        </div>
							<input name="lastLoginTimeBegin" type="text" class="form-control" id="search-lastLoginTimeBegin"
							 data-flag="datepicker" data-format="yyyy-MM-dd" placeholder="请选择...">
						</div>
					</div>	
				</div>
				
				<div class="col-sm-4">
	          		<div class="form-group" >
						<label for="" class="col-sm-1 control-label" >~</label>
						<div class="input-group date col-sm-8">
							<div class="input-group-addon">
	                        	<i class="fa fa-calendar"></i>
	                        </div>
							<input name="createTimeEnd" type="text" class="form-control" id="search-createTimeEnd" 
							data-flag="datepicker" data-format="yyyy-MM-dd" placeholder="请选择...">
						</div>
			        </div> 
					
					<div class="form-group">
						<label for="" class="col-sm-1 control-label" >~</label>
						<div class="input-group date col-sm-8">
							<div class="input-group-addon">
	                        	<i class="fa fa-calendar"></i>
	                        </div>
							<input name="lastLoginTimeEnd" type="text" class="form-control" id="search-lastLoginTimeEnd" data-flag="datepicker" data-format="yyyy-MM-dd"
								placeholder="请选择...">
						</div>	
					</div>	
				</div>
				
	        </div>
	        </form>
	        
	        <!-- /.box-body -->
	        <div class="box-footer">
	        	<div class="row">
	          	<div id="toolbar" class="btn-toolbar">
					<div class="btn-group pull-left">
						<button type="button" data-btn-type="detail" class="btn btn-info"><i class="fa fa-search-plus"></i>查看</button>
					</div>
					
					<div class="btn-group pull-left">
						<button type="button" data-btn-type="enable" class="btn btn-success"><i class="fa fa-check-circle-o"></i>启用</button>
						<button type="button" data-btn-type="disable" class="btn btn-danger"><i class="fa fa-ban"></i>禁用</button>
					</div>		
					
					<div class="btn-group pull-right">
						<button type="button" data-btn-type="search" class="btn btn-primary"><i class="fa fa-search"></i>查询</button>
						<button type="button" data-btn-type="reset" class="btn btn-default"><i class="fa fa-reply"></i>重置</button>
					</div>
				</div>
				</div>
				<div class="row">
					<table id="user-table" data-toggle="table" data-url="uums/appUserList" data-toolbar="#toolbar" data-pagination="true" data-search="false"
						data-striped="true" data-show-export="true" data-page-size="10" data-click-to-select="true">
						<thead>
							<tr>
								<th data-checkbox="true" class="select-checkbox"></th>
								<th data-align="center" data-field="id" data-sortable="true">用户ID</th>
								<th data-align="center" data-field="phone" data-sortable="true">绑定手机号</th>
								<th data-align="center" data-field="nickName" data-sortable="true">昵称</th>
								<th data-align="center" data-field="name" data-sortable="true">真实姓名</th>
								<th data-align="center" data-field="sex" data-sortable="true" data-formatter="sexFormatter">性别</th>
								<th data-align="center" data-field="birthday" data-sortable="true" data-formatter="formatteryyyyMMdd">出生日期</th>
								<th data-align="center" data-field="createTime" data-sortable="true" data-formatter="formatteryyyyMMddHHmmss">注册时间</th>
								<th data-align="center" data-field="lastLoginTime" data-sortable="true" data-formatter="formatteryyyyMMddHHmmss">最近登陆时间</th>
								<th data-align="center" data-field="loginCount" data-sortable="true">登陆次数</th>
								<th data-align="center" data-field="status" data-sortable="true" data-formatter="operateFormatter">是否启用</th>
							</tr>
						</thead>
					</table>
				</div>
	        </div>
	        <!-- /.box-footer-->
      </div>
    <!--  
	</div>
	-->
</section>

<!-- 查看APP用户的弹窗 -->
<div class="modal fade" id="modal-appuser" aria-labelledby="modalAPPUserLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form class="form-horizontal" action="" id="appuser-form" method="post">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h4 class="modal-title" id="modalUserLabel">查看APP用户信息</h4>
				</div>
				
				<div class="modal-body">					
					<div class="form-group">
						<label class="col-sm-4 control-label">用户ID:</label>
						<div class="col-sm-8">
							<input id="id" name="id" type="text" class="form-control" disabled="disabled">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4 control-label">真实姓名:</label>
						<div class="col-sm-8">
							<input id="name" name="name" type="text" class="form-control" disabled="disabled">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4 control-label">昵称:</label>
						<div class="col-sm-8">
							<input id="nickName" name="nickName" type="text" class="form-control" disabled="disabled">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4 control-label">手机号码:</label>
						<div class="col-sm-8">
							<input id="phone" name="phone" type="text" class="form-control" disabled="disabled">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4 control-label">出生日期:</label>
						<div class="col-sm-8">
							<input id="birthday" name="birthday" type="text" class="form-control" data-flag="datepicker" data-format="yyyy-MM-dd" disabled="disabled">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4 control-label">性别:</label>
						<div class="col-sm-8">
							<input id="sex" name="sex" type="text" class="form-control" disabled="disabled">
						</div>
					</div>
					
					<div class="form-group" id="userImage">
						<label class="col-sm-4 control-label">用户头像:</label>
						<div class="col-sm-8">
							<img id="userImageId" src="" height="67" width="67" >
						</div>
					</div>
					  
					<div class="form-group" id="imageAll">
						<label class="col-sm-4 control-label">刷脸图片:</label>
					<!-- </div>
					<div class="form-group"> -->
						<div class="col-sm-2" id="image1">
							<img id="faceImageId1" src="" height="67" width="67" >
						</div>
						<div class="col-sm-2" id="image2">
							<img id="faceImageId2" src="" height="67" width="67" >
						</div>
						<div class="col-sm-2" id="image3">
							<img id="faceImageId3" src="" height="67" width="67" >
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4 control-label">登陆次数:</label>
						<div class="col-sm-8">
							<input id="loginCount" name="loginCount" type="text" class="form-control" disabled="disabled">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4 control-label">注册时间:</label>
						<div class="col-sm-8">
							<input id="createTime" name="createTime" type="text" class="form-control" data-flag="datepicker" data-format="yyyy-MM-dd HH:mm:ss" disabled="disabled">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4 control-label">最近登陆:</label>
						<div class="col-sm-8">
							<input id="lastLoginTime" name="lastLoginTime" type="text" class="form-control" data-flag="datepicker" data-format="yyyy-MM-dd HH:mm:ss" disabled="disabled">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4 control-label">是否启用:</label>
						<div class="col-sm-8">
							<input id="status" name="status" type="text" class="form-control" disabled="disabled">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" id="closeBtn" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i>关闭</button>
					</div>
			   	</div>			
			</form>
		</div>
	</div>
</div>



<script src="${basePath}/assets/adminlte/plugins/bootstrap-table/bootstrap-table.js"></script>

<script type="text/javascript">
$(function(){
	userForm = $("#appuser-form").form();
	userSearchForm = $("#user-search-form").form();
	
	$('#closeBtn').click(function() {
		$('#user-table').bootstrapTable('refresh');
	});
			
	//-------------button event begin----------------
	$('button[data-btn-type]').click(function() {
		var selected = $('#user-table').bootstrapTable('getSelections');
		var action = $(this).attr('data-btn-type');
		switch (action) {
		case 'search':
			var formParams = $("#user-search-form").serializeJSON();
			//alert(JSON.stringify(formParams));
			if((formParams.createTimeBegin!=null && formParams.createTimeBegin!="")
					&&(formParams.createTimeEnd!=null && formParams.createTimeEnd!="")
					&&(formParams.createTimeBegin>formParams.createTimeEnd)){
				layer.alert('开始日期不能大于结束日期');
			}
			if((formParams.lastLoginTimeBegin!=null && formParams.lastLoginTimeBegin!="")
					&&(formParams.lastLoginTimeEnd!=null && formParams.lastLoginTimeEnd!="")
					&&(formParams.lastLoginTimeBegin>formParams.lastLoginTimeEnd)){
				layer.alert('开始日期不能大于结束日期');				
			}
			//$.get(basePath + "/uums/app/userlist", {
			ajaxGet(basePath + "/uums/appUserList", {
				params : JSON.stringify(formParams)
			}, function(data) {
				$('#user-table').bootstrapTable('load',data);
			});	
			break;
		case 'reset':
			userSearchForm.clearForm();
			$('#user-table').bootstrapTable('refresh');
			break;
		case 'detail':	
			if(selected == ''){
				layer.alert('请选择要查看的用户');
				return false;
			}
			if (selected.length > 1) {
				layer.alert('请选择一个用户的信息进行查看');
				return false;
			}

		      var userId = selected[0].id;
		      ajaxPost(basePath + "/uums/appUserDetail", {
					params: userId
				}, function(data){
					//alert(JSON.stringify(data));
					if(data[0].userImage!=null&&data[0].userImage!=''){
						var userImageUrl="http://ospkfic88.bkt.clouddn.com"+data[0].userImage;
						$("#userImageId").attr('src',userImageUrl);
					}else{
						$("#userImage").hide();
					}

					if((data[1]!=null&&data[1]=='')||(data[2]!=null&&data[2]!='')
							||(data[3]!=null&&data[3]!='')){
						if(data[1]!=null&&data[1]!=''){
							var faceImageUrl1="http://ospky3ulf.bkt.clouddn.com/"+data[1].imageUrl;
							$("#faceImageId1").attr('src',faceImageUrl1);
						}else{
							$("#image1").hide();
						}
						if(data[2]!=null&&data[2]!=''){
							var faceImageUrl2="http://ospky3ulf.bkt.clouddn.com/"+data[2].imageUrl;
							$("#faceImageId2").attr('src',faceImageUrl2);
						}else{
							$("#image2").hide();
						}
						if(data[3]!=null&&data[3]!=''){
							var faceImageUrl3="http://ospky3ulf.bkt.clouddn.com/"+data[3].imageUrl;
							$("#faceImageId3").attr('src',faceImageUrl3);
						}else{
							$("#image3").hide();
						}
					}else{
						$("#imageAll").hide();
					}	
									
				});		
			$('#modal-appuser').modal('toggle');	
			userForm.initFormData(selected[0]);
			var sex=selected[0].sex;
			var status=selected[0].status;
			if(sex=='1'){
	        	$('#sex').val("男");
	        }else{
	        	$('#sex').val("女");
	        }
			if(status=='1'){
	        	$('#status').val("是");
	        }else{
	        	$('#status').val("否");
	        }
			break;
		case 'enable':
			if(selected.length != 1){
				layer.alert('请选择要启用的用户,每次只能选一条!');
				return false;
			}
			if(selected[0].status == '1'){
				layer.alert('已是启用状态!');
				return false;
			}else{
				var params = {};
				params['id'] = selected[0].id;
				params['status'] = 1;
				ajaxPost(basePath + '/uums/updateStatus', {
	        		params: JSON.stringify(params)
				},  function(data){
					$('#modal-user').modal('hide');
					layer.msg(data.code, {
						icon : 1,
						time : 1500,
					});
					$('#user-table').bootstrapTable('refresh');
	        	});
			}
			break;
		case 'disable':
			if(selected.length != 1){
				layer.alert('请选择要禁用的用户,每次只能选一条!');
				return false;
			}
			if(selected[0].status == '0'){
				layer.alert('已是禁用状态!');
				return false;
			}else{
				var params = {};
				params['id'] = selected[0].id;
				params['status'] = 0;
				ajaxPost(basePath + '/uums/updateStatus', {
	        		params: JSON.stringify(params)
				},  function(data){
					$('#modal-user').modal('hide');
					layer.msg(data.code, {
						icon : 1,
						time : 1500,
					});
					$('#user-table').bootstrapTable('refresh');
	        	});
			}
			break;
		}
	});
	//-------------button event end----------------
});

	function resetForm(){
		userForm.clearForm();
		$("#appuser-form").data('bootstrapValidator').resetForm();
	}
	
	/*
	 * 得到所有选中行
	 */
	function getIdSelections() {
		return $.map($('#user-table').bootstrapTable('getSelections'),function(row) {
				return row.id;
		});
	}
	
</script>