<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		权限管理<small>Function Management</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="${basePath}/main"><i class="fa fa-dashboard"></i> 首页</a></li>
		<li class="active">权限管理</li>
	</ol>
</section>

<!-- Main content -->
<section class="content">
	<!--  
	<div class="container-fluid">
	-->
		<div class="box box-primary">
			<div id="toolbar">
				<div class="btn-group">
					<button type="button" data-btn-type="add" class="btn btn-success"><i class="fa fa-plus"></i>新增</button>
					<button type="button" data-btn-type="edit" class="btn btn-warning"><i class="fa fa-edit"></i>修改</button>
					<button type="button" data-btn-type="delete" class="btn btn-danger"><i class="fa fa-remove"></i>删除</button>
				</div>
			</div>
			<div class="row">
				<table id="function-table" data-toggle="table" data-url="uums/functionlist" data-toolbar="#toolbar" data-pagination="true" data-search="false"
					data-striped="true" data-page-size="10" data-click-to-select="true">
					<thead>
						<tr>
							<th data-checkbox="true"></th>
							<!--  
							<th data-align="center" data-formatter="seqFormatter">序号</th>
							-->
							<th data-align="center" data-field="id" data-sortable="true">菜单ID</th>
							<th data-align="center" data-field="code">菜单编码</th>
							<th data-align="center" data-field="name">菜单名</th>
							<th data-align="center" data-field="type" data-sortable="true" data-formatter="menuFormatter">菜单类型</th>
							<th data-align="center" data-field="url">菜单地址</th>
							<th data-align="center" data-field="parentId" data-sortable="true">父菜单ID</th>
							<th data-align="center" data-field="icon" data-formatter="iconFormatter">图标</th>
							<!--  
							<th data-align="center" data-field="depth" data-sortable="true">层级</th>
							-->
							<th data-align="center" data-field="status" data-sortable="true" data-formatter="operateFormatter">是否启用</th>
							<th data-align="center" data-field="sort" data-sortable="true">排序</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	<!--  
	</div>
	-->
</section>

<!-- 编辑菜单的弹窗 -->
<div class="modal fade" id="modal-function" aria-labelledby="modalFunctionLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form class="form-horizontal" action="" id="function-form" method="post">
				<input type="hidden" id="flag" name="flag">
				<input type="hidden" id="id" name="id">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h4 class="modal-title" id="modalFunctionLabel"></h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label class="col-sm-4 control-label">菜单编码<span style="color: red;">*</span></label>
						<div class="col-sm-8">
							<input id="code" name="code" type="text" class="form-control"
								placeholder="请输入菜单编码">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">菜单名称<span style="color: red;">*</span></label>
						<div class="col-sm-8">
							<input id="name" name="name" type="text" class="form-control"
								placeholder="请输入菜单名称">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">菜单类型<span style="color: red;">*</span></label>
						<div class="col-sm-8">
							<select name="type" id="type" class="form-control">
								<option value="">请选择...</option>
								<option value="0">主菜单</option>
								<option value="1">子菜单</option>
							</select>
						</div>
					</div>
					
					<div id="display" style="display:none;">
						<div class="form-group">
							<label class="col-sm-4 control-label">主菜单<span style="color: red;">*</span></label>
							<div class="col-sm-8">
								<select name="parentId" id="parentId" class="form-control">
								</select>
							</div>
						</div>
					
						<div class="form-group">
							<label class="col-sm-4 control-label">菜单URL<span style="color: red;">*</span></label>
							<div class="col-sm-8">
								<input id="url" name="url" type="text" class="form-control"
									placeholder="请输入菜单URL">
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4 control-label">菜单图标<span style="color: red;">*</span></label>
						<div class="col-sm-8">
							<input id="icon" name="icon" type="text" class="form-control" placeholder="请输入菜单图标">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4 control-label">排序<span style="color: red;">*</span></label>
						<div class="col-sm-8">
							<input id="sort" name="sort" type="text" class="form-control" placeholder="请输入序号">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4 control-label">状态<span style="color: red;">*</span></label>
						<div class="col-sm-8">
							<label class="control-label"> <input type="radio"
								name="status" data-flag="icheck" value="1" checked="checked">
								启用
							</label> &nbsp; <label class="control-label"> <input type="radio"
								name="status" data-flag="icheck" value="0">
								禁用
							</label>
						</div>
					</div>
					
					<div class="modal-footer">
						<button type="submit" class="btn btn-success" id="saveBtn"><i class="fa fa-save"></i>保存</button>
						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i>关闭</button>
					</div>
				</div>
				
			</form>
		</div>
	</div>
</div>
<script src="${basePath}/assets/adminlte/plugins/bootstrap-table/bootstrap-table.js"></script>
<script type="text/javascript">
	$(function(){
	functionForm = $("#function-form").form();
	//-------------button event begin----------------
	$('button[data-btn-type]').click(function() {
		var selected = $('#function-table').bootstrapTable('getSelections');
		var action = $(this).attr('data-btn-type');
		switch (action) {
		case 'add':
			resetForm();
			$("#flag").val("0");
			$("#modalFunctionLabel").text("新增菜单");
			$('#modal-function').modal('toggle');
			$("#display").hide();
			break;
		case 'edit':
			if(selected.length != 1){
				layer.alert('请选择要编辑的数据,每次只能选一条!');
				return false;
			}
			resetForm();
			$("#flag").val("1");
			$("#modalFunctionLabel").text("修改菜单");
			$("#modal-function").modal("toggle");
			functionForm.initFormData(selected[0]);
		   break;
		case 'delete':
			if(selected.length < 1){
				layer.alert('请选择要删除的数据');
				return false;
			}
			layer.confirm("是否要删除该行数据？",function(){
				var rowIds = getIdSelections();
				ajaxPost(basePath + "/uums/deleteFunction", {
					fids: JSON.stringify(rowIds)
				}, function(data){
					layer.msg(data.code, {
						icon : 1,
						time : 1500,
				});
					$('#function-table').bootstrapTable('remove', { field: 'id', values: rowIds});
				});
				return true;
			})
			break;
		}

	});
	//-------------button event end----------------
	
	//-------------select change begin-----------------
	$("#type").change(function(){
		var val = $("#type").val();
		if(val == '0'){
			$("#display").hide();
		}else{
			$("#display").show();
			var parentMenu = $("#parentId");
			parentMenu.empty();
			ajaxPost(basePath + "/uums/parentMenu",null,function(data){
				$.each(data,function(index,item){
					var option = $("<option>").text(item.name).val(item.id);
					parentMenu.append(option);
				});	
			});
		}
	});
	//-------------select change end------------------
	
	//-------------Validator from begin----------------
	$("#function-form").bootstrapValidator({
		message : '请输入有效值',
		feedbackIcons : {
			valid : 'glyphicon glyphicon-ok',
			invalid : 'glyphicon glyphicon-remove',
			validating : 'glyphicon glyphicon-refresh'
		},
		fields : {
			code : {
				validators : {
					notEmpty : {
						message : '请输入菜单编码'
					}
				}
			},
			name : {
				validators : {
					notEmpty : {
						message : '请输入菜单名称'
					}
				}
			},
			type : {
				validators : {
					notEmpty : {
						message : '请选择菜单类型'
					}
				}
			},
			parentId : {
				validators : {
					notEmpty : {
						message : '请选择主菜单'
					}
				}
			},
			url : {
				validators:{
					notEmpty:{
						message:'请输入菜单URL'
					}
				}
			},
			icon : {
				validators:{
					notEmpty:{
						message:'请输入菜单图标'
					}
				}
			},
			status : {
				validators:{
					notEmpty:{
						message:'请选择状态'
					}
				}				
			},
			sort : {
				validators:{
					notEmpty:{
						message:'请选择状态'
					},
					integer : {
						message : '请输入数字'
					}					
				}
			}
		},
        submitHandler: function (validator, form, submitButton) {
        	var fromParams = form.serializeJSON();
        	ajaxPost(basePath + "/uums/editFunction", {
        		params: JSON.stringify(fromParams)
			},  function(data){
				$('#modal-function').modal('hide');
				layer.msg(data.code, {
					icon : 1,
					time : 1500,
				});
				$('#function-table').bootstrapTable('refresh');
        	});
        }
	});
	
	//-------------Validator from end----------------
	});
	
	function resetForm(){
		functionForm.clearForm();
		$("#function-form").data('bootstrapValidator').resetForm();
	}
	
	/*
	 * 得到所有选中行
	 */
	function getIdSelections() {
		return $.map($('#function-table').bootstrapTable('getSelections'), function(row) {
			return row.id;
		});
	}
	
	/*
	 * 菜单图标格式化
	 */
	function iconFormatter(value, row, index) {
		if (value != undefined && value != null && $.trim(value) != '') {
			return '<i class="'+ value +'"></i>';
		}else{
			return value;
		}	
	}
	
	/*
	 * 菜单类型格式化
	 */
	function menuFormatter(value, row, index) {
		if (value != undefined && value != null && $.trim(value) != '') {
			if(value == '0'){
				return '主菜单';
			}else{
				return '子菜单';
			}
		}else{
			return value;
		}	
	}
	
	/*
	 * 状态格式化
	 */
	function statusFormatter(value, row, index) {
		if (value != undefined && value != null && $.trim(value) != '') {
			if(value == '1'){
				return '启用';
			}else{
				return '禁用';
			}
		}else{
			return value;
		}	
	}
	
</script>