<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		个人设置<small>User Setting</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="${basePath}/main"><i class="fa fa-dashboard"></i> 首页</a></li>
		<li class="active">个人设置</li>
	</ol>

	<style>
		#ex1Slider .slider-selection {
			background: #2681E6;
		}

	</style>
	
</section>

<!-- Main content -->
<section class="content">
<!--  
	<div class="container-fluid">
-->		
		<div class="box box-primary">
	        <form id="user-setting-form" action="" class="form-horizontal" method="post">
	        <input type="hidden" id="flag" name="flag" value="1">
			<input type="hidden" id="id" name="id" value="${userDtl.id}">
			<input type="hidden" id="password" name="password">
	        <div class="box-body">
	          	<!-- <div class="col-sm-7"> -->
					<div class="form-group">
						<label class="col-sm-4 control-label">用户名<span style="color: red;">*</span></label>
						<div class="col-sm-4">
							<input id="loginName" name="loginName" type="text" class="form-control" value="${userDtl.loginName}" readonly="readonly">
						</div>
					</div>
				<!-- </div>
				
				 <div class="col-sm-7"> -->
					<div class="form-group">
						<label class="col-sm-4 control-label">手机号码<span style="color: red;">*</span></label>
						<div class="col-sm-4">
							<input id="phone" name="phone" type="text" class="form-control"
								 maxlength="11" value="${userDtl.phone}" readonly="readonly" >
						</div>
						<!-- <div class="col-sm-3">
							<button type="button" data-btn-type="edit-phone" class="btn btn-warning "><i class="fa fa-edit"></i>修改</button>
						</div> -->
					</div>
				<!-- </div> 
				
				<div class="col-sm-7">-->
					<div class="form-group">
						<label class="col-sm-4 control-label">真实姓名<span style="color: red;">*</span></label>
						<div class="col-sm-4">
							<input id="name" name="name" type="text" class="form-control" value="${userDtl.name}"
								placeholder="请输入真实姓名">
						</div>
					</div>
				<!-- </div>
				
				<div class="col-sm-7"> -->
					 <div class="form-group">
						<label class="col-sm-4 control-label">生日<span style="color: red;">*</span></label>
						<div class="input-group date col-sm-4">
							<div class="input-group-addon">
	                        	<i class="fa fa-calendar"></i>
	                        </div>
							<input name="birthday" type="text" class="form-control" id="birthday" data-flag="datepicker" data-format="yyyy-MM-dd"
								placeholder="请选择...">
						</div>
					</div>
				<!-- </div>
				
				<div class="col-sm-7"> -->
					<div class="form-group">
						<label class="col-sm-4 control-label">性别<span style="color: red;">*</span></label>
						<div class="col-sm-4">
							<select name="sex" id="sex" class="form-control">
								<option value="">请选择...</option>
								<option value="M">男</option>
								<option value="F">女</option>
							</select>
						</div>
					</div>
				<!-- </div>
				
				<div class="col-sm-7"> -->
					<div class="form-group">
						<label class="col-sm-4 control-label">密码<span style="color: red;">*</span></label>
						<div class="col-sm-4">
							<input id="ogPassword" name="ogPassword" type="password" class="form-control" value="********"
								placeholder="请输入密码" readonly="readonly">
						</div>
						<div class="col-sm-3">
							<button type="button" data-btn-type="edit-password" class="btn btn-warning "><i class="fa fa-edit"></i>修改</button>
						</div>
					</div>			
				<!-- </div>
				
				<div class="col-sm-7"> -->
					<div class="form-group">
						<label class="col-sm-4 control-label">邮箱</label>
						<div class="col-sm-4">
							<input id="email" name="email" type="text" class="form-control"
								placeholder="请输入邮箱" value="${userDtl.email}">
						</div>
					</div>			
				<!-- </div> -->
	        </div>
	        
	        <!-- /.box-body -->
	         <!-- <div class="box-footer">
				<button type="submit" class="btn btn-success" id="saveBtn"><i class="fa fa-save"></i>保存</button>
	        </div> -->
	        <div class="box-footer text-center" style="height: 50px">     	
				<button type="submit" class="btn btn-success" style="margin-right: 10px" id="saveBtn"><i class="fa fa-save"></i>保存</button>
				<button type="button" class="btn btn-default" data-btn-type="cancel" style="margin-right: 10px"><i class="fa fa-close"></i>取消</button>			
	        </div>
	       </form>
	        <!-- /.box-footer-->
      </div>
    <!--  
	</div>
	-->
</section>

<!-- 修改手机号弹窗 -->
<div class="modal fade" id="modal-phone" aria-labelledby="modalPhoneLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form class="form-horizontal" action="" id="phone-form" method="post">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h4 class="modal-title" id="modalPhoneLabel"></h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label class="col-sm-4 control-label">新手机号码<span style="color: red;">*</span></label>
						<div class="col-sm-8">
							<input id="newPhone" name="phone" type="text" class="form-control"
								placeholder="请输入新手机号码" maxlength="11">
						</div>
					</div>
					
					<div class="form-group" style="display:none;">
						<label class="col-sm-4 control-label">验证码<span style="color: red;">*</span></label>
							<div class="col-sm-8">
								<input name="verify" type="text" class="form-control"
									placeholder="请输入验证码">
							</div>
						</div>
						
						<div class="modal-footer">
							<button type="submit" class="btn btn-success" id="saveBtn"><i class="fa fa-save"></i>保存</button>
							<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i>关闭</button>
						</div>
					</div>
			</form>
		</div>
	</div>
</div>

<!-- 修改密码弹窗 -->
<div class="modal fade" id="modal-password" aria-labelledby="modalPasswordLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form class="form-horizontal" action="" id="password-form" method="post">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h4 class="modal-title" id="modalPasswordLabel"></h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label class="col-sm-4 control-label">旧密码<span style="color: red;">*</span></label>
							<div class="col-sm-8 input-group" id="psw_invisible1">
							 	 <span class="input-group-addon"><span class="fa fa-eye-slash" onclick="showPsw1()"></span></span>
							    <input id="oldPassword" name="password" type="password" class="form-control"
							    placeholder="请输入旧密码" maxlength="12">
							</div>
							
							<!--明文密码输入框-->
							<div class="col-sm-8 input-group" id="psw_visible1" style="display: none;">
							 	 <span class="input-group-addon"><span class="fa fa-eye" onclick="hidePsw1()"></span></span>
							    <input id="oldPassword1" name="password" type="text" class="form-control"
							    placeholder="请输入旧密码" maxlength="12">
							</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4 control-label">新密码<span style="color: red;">*</span></label>
						<div class="col-sm-8 input-group" id="psw_invisible2">
							 	 <span class="input-group-addon"><span class="fa fa-eye-slash" onclick="showPsw2()"></span></span>
							    <input id="newPassword" name="newPassword" type="password" class="form-control"
								placeholder="请输入新密码" maxlength="12">
							</div>
						<!--明文密码输入框-->
						<div class="col-sm-8 input-group" id="psw_visible2" style="display: none;">
							 	 <span class="input-group-addon"><span class="fa fa-eye" onclick="hidePsw2()"></span></span>
							    <input id="newPassword1" name="newPassword" type="text" class="form-control"
								placeholder="请输入新密码" maxlength="12">
							</div>
								
					</div>
					
					<div class="form-group">
						<label class="col-sm-4 control-label">确认新密码<span style="color: red;">*</span></label>
						<div class="col-sm-8 input-group" id="psw_invisible3">
							 	 <span class="input-group-addon"><span class="fa fa-eye-slash" onclick="showPsw3()"></span></span>
							    <input id="confirmPassword" name="confirmPassword" type="password" class="form-control"
								placeholder="请输入新密码 " maxlength="12">
							</div>
						<!--明文密码输入框-->
						<div class="col-sm-8 input-group" id="psw_visible3" style="display: none;">
							 	 <span class="input-group-addon"><span class="fa fa-eye" onclick="hidePsw3()"></span></span>
							    <input id="confirmPassword1" name="confirmPassword" type="text" class="form-control"
								placeholder="请输入新密码" maxlength="12">
							</div>
					</div>
					
					<div class="modal-footer">
						<button type="submit" class="btn btn-success" id="saveBtn"><i class="fa fa-save"></i>保存</button>
						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i>关闭</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>




<script type="text/javascript">
$(function(){
	userSettingForm = $("#user-setting-form").form();
	phoneForm = $("#phone-form").form();
	passwordForm = $("#password-form").form();
	
	
	$('#sex').val('${userDtl.sex}');
	$('#birthday').val('${birthday}');

	$('button[data-btn-type]').click(function() {
		var action = $(this).attr('data-btn-type');
		switch (action) {
		case 'cancel':
			loadPage(basePath+"/uums/userSetting");
		   	break;
		case 'edit-phone':
			phoneForm.clearForm();
			$("#phone-form").data('bootstrapValidator').resetForm();
			$("#modalPhoneLabel").text("修改手机号码");
			$('#modal-phone').modal('toggle');
		   	break;
		case 'edit-password':
			passwordForm.clearForm();
			$("#password-form").data('bootstrapValidator').resetForm();
			$("#modalPasswordLabel").text("修改密码");
			$('#modal-password').modal('toggle');
			break;
		}
	});
	
	//-------------Validator from begin----------------
	$("#user-setting-form").bootstrapValidator({
		message : '请输入有效值',
		feedbackIcons : {
			valid : 'glyphicon glyphicon-ok',
			invalid : 'glyphicon glyphicon-remove',
			validating : 'glyphicon glyphicon-refresh'
		},
		fields : {
			sex : {
				validators : {
					notEmpty : {
						message : '请选择性别'
					}
				}
			},
			birthday : {
				validators : {
					notEmpty : {
						message : '请输入出生日期'
					},
					date : {
						format : 'YYYY-MM-DD',
						message : '请输入有效日期'
					} 
				}
			},
			name : {
				validators : {
					notEmpty : {
						message : '请输入真实姓名'
					}
				}
			},
			/* email : {
				validators : {
					notEmpty : {
						message : '请输入邮箱'
					},
					emailAddress: {
                        message: '请输入正确的邮箱地址如：123@qq.com'
                    }
				}
			} */
		},
        submitHandler: function (validator, form, submitButton) {
        	var formParams = form.serializeJSON();
        	ajaxPost(basePath + "/uums/editUserSetting", {
        		params: JSON.stringify(formParams)
			},  function(data){
				layer.msg(data.code, {
					icon : 1,
					time : 1500,
				});
				var password = $('#password').val();
				if(password == null || password == ''){
					loadPage(basePath+"/uums/userSetting");
				}else{
				   layer.msg("密码修改后需重新登录,请重新登录！", {
						time : 3000,
						shade: 0.6,
						success: function(layero,index){
						    var msg = layero.text();
						    var i = 5;
						    var timer = null;
						    var fn = function() {
							layero.find(".layui-layer-content").text(msg+'('+i+'s'+')');
							if(!i) {
							    layer.close(index);
							    clearInterval(timer);
							} 
							i--;
						    };
						    timer = setInterval(fn, 1000);
						    fn();
						},}, function() {
				            window.location.href='${basePath}/logout';
				       	});
				}
        	});
        }
	});
	

	$("#phone-form").bootstrapValidator({
		message : '请输入有效值',
		feedbackIcons : {
			valid : 'glyphicon glyphicon-ok',
			invalid : 'glyphicon glyphicon-remove',
			validating : 'glyphicon glyphicon-refresh'
		},
		fields : {
			phone : {
				validators : {
					notEmpty : {
						message : '请输入手机号码'
					},
                    regexp: {
                        regexp: /^1[3|5|8]{1}[0-9]{9}$/,
                        message: '请输入正确的手机号码'
                    },
					/* threshold : 11,
					remote : {
						url : basePath + "/uums/checkPhoneExists",
						message : '手机号码已存在',
						delay : 2000,
						type : 'POST'
					} */
				}
			}
		},
        submitHandler: function (validator, form, submitButton) {
        	$('#phone').val($('#newPhone').val());
			$('#modal-phone').modal('hide');
        }
	});	
	
	$("#password-form").bootstrapValidator({
		message : '请输入有效值',
		feedbackIcons : {
			valid : 'glyphicon glyphicon-ok',
			invalid : 'glyphicon glyphicon-remove',
			validating : 'glyphicon glyphicon-refresh'
		},
		fields : {
			password : {
				validators : {
					notEmpty : {
						message : '请输入旧密码'
					},
					threshold : 11,
					remote : {
						url : basePath + "/uums/verifyPassword",
						message : '密码不正确',
						delay : 2000,
						type : 'POST'
					}
				}
			},
			newPassword : {
				validators : {
					notEmpty : {
						message : '请输入新密码'
					},
					stringLength : {
						min: 6,
						max: 30,
						message: '密码长度必须在6到30之间'
					},
					different : {
						field : 'password',
						message : '新密码不能与旧密码相同'
					}
				}				
			},
			confirmPassword : {
				validators : {
					notEmpty : {
						message : '请确认新密码'
					},
					identical : {
						field : 'newPassword',
						message : '两次密码不一致'
					}
				}				
			}			
		},
        submitHandler: function (validator, form, submitButton) {
        	$('#password').val($('#newPassword').val());
        	$('#ogPassword').val($('#newPassword').val());
			$('#modal-password').modal('hide');
        }
	});		
});
		//隐藏text block，显示password block
		function showPsw1(){
		 	var val1=$('#oldPassword').val();
		 	$('#oldPassword1').val(val1);
		 	$('#psw_invisible1').hide();
		 	$('#psw_visible1').show();
		}
		//隐藏password，显示text  
		function hidePsw1(){
			var val1=$('#oldPassword1').val();//将text的值传给password 
			$('#oldPassword').val(val1);
			$('#psw_invisible1').show();
		 	$('#psw_visible1').hide();
		}
		
		//隐藏text block，显示password block
		function showPsw2(){
		 	var val2=$('#newPassword').val();
		 	$('#newPassword1').val(val2);
		 	$('#psw_invisible2').hide();
		 	$('#psw_visible2').show();
		}
		//隐藏password，显示text  
		function hidePsw2(){
			var val2=$('#newPassword1').val();
			$('#newPassword').val(val2);
			$('#psw_invisible2').show();
		 	$('#psw_visible2').hide();
		}
		
		//隐藏text block，显示password block
		function showPsw3(){
			var val3=$('#confirmPassword').val();
			$('#confirmPassword1').val(val3);
		 	$('#psw_invisible3').hide();
		 	$('#psw_visible3').show();
		}
		//隐藏password，显示text  
		function hidePsw3(){
			var val3=$('#confirmPassword1').val();
			$('#confirmPassword').val(val3);
			$('#psw_invisible3').show();
		 	$('#psw_visible3').hide();
		}
		
</script>