<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.box.technology.dao.TechnologyDetailMapper">
  <resultMap id="TechnologyDetailResultMap" type="com.box.technology.model.TechnologyDetail">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="parentId" jdbcType="VARCHAR" property="parentId" />
    <result column="cname" jdbcType="INTEGER" property="cname" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="enabled" jdbcType="INTEGER" property="enabled" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="createby" jdbcType="VARCHAR" property="createby" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="TechnologyDetail_Column_List">
    id, parentId, cname, name, level, enabled, description, createby, createtime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="TechnologyDetailResultMap">
    select 
    <include refid="TechnologyDetail_Column_List" />
    from t_technology_detail
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="checkTechnologyDetailNameExists" parameterType="java.lang.String" resultMap="TechnologyDetailResultMap">
    select 
    <include refid="TechnologyDetail_Column_List" />
    from t_technology_detail
    where name = #{name,jdbcType=VARCHAR}
  </select>
  
  
   <select id="getTechnologyByParentLevel" parameterType="java.util.Map" resultMap="TechnologyDetailResultMap">
    select 
    <include refid="TechnologyDetail_Column_List" />
    from t_technology_detail
    <where>
    level = #{map.level,jdbcType=VARCHAR} 
     <if test="map.cname !=null and map.cname !=''">
      and cname= #{map.cname,jdbcType=VARCHAR}
    </if>
    <if test="map.groupid !=null and map.groupid !=''">
      and parentId= #{map.groupid,jdbcType=VARCHAR}
    </if>
    </where>
      
  </select>
  
    
   <select id="getAllTechnologyList" resultType="map">
    SELECT a.*,b.name as parentName from t_technology_detail a
    left join t_technology_detail b
    on a.parentId=b.id
    order by a.cname
   </select>
  
   <select id="technologyDetailSearchList" parameterType="java.util.Map" resultType="map">
      select 
      <include refid="TechnologyDetail_Column_List" />
      from t_technology_detail
      <where>
       name LIKE CONCAT(CONCAT('%', #{map.name}),'%')
         <if test="map.parentId != null and map.parentId!= '' ">
           and parentId=#{map.parentId}
         </if>
         <if test="map.cname != null and map.cname != '' ">
           and cname=#{map.cname }
         </if>
      </where>

   </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_technology_detail
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  
  <delete id="batchDeleteByIds" parameterType="java.lang.String">
    delete from t_technology_detail
     where id in
     <foreach collection="ids" item="id" open="(" separator="," close=")">
  		#{id}
  	</foreach>
  </delete>
  
  <insert id="insert" parameterType="com.box.technology.model.TechnologyDetail">
    insert into t_technology_detail (id, parentId, cname, 
      name, level, enabled, 
      description, createby, createtime
      )
    values (#{id,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{cname,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER}, #{enabled,jdbcType=INTEGER}, 
      #{description,jdbcType=VARCHAR}, #{createby,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.box.technology.model.TechnologyDetail">
    insert into t_technology_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="parentId != null">
        parentId,
      </if>
      <if test="cname != null">
        cname,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="enabled != null">
        enabled,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="createby != null">
        createby,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="cname != null">
        #{cname,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createby != null">
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.box.technology.model.TechnologyDetail">
    update t_technology_detail
    <set>
      <if test="parentId != null">
        parentId = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="cname != null">
        cname = #{cname,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="enabled != null">
        enabled = #{enabled,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createby != null">
        createby = #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.box.technology.model.TechnologyDetail">
    update t_technology_detail
    set parentId = #{parentId,jdbcType=VARCHAR},
      cname = #{cname,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER},
      enabled = #{enabled,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectAll"  resultMap="TechnologyDetailResultMap">
    select 
    <include refid="TechnologyDetail_Column_List" />
    from t_technology_detail
  </select>
</mapper>