tr>td,tr>th{text-align: center;border: 1px solid #ddd!important;}

/*弹出框样式*/
.modal-header .close{
    font-size: 26px;
    opacity: 1;
    position: relative;
    /*color: #fff;*/
}
.modal-header{
    padding: 10px 15px;
    /*background: #3c8dbc;*/
    /*color:#fff;*/
    /*border-bottom:none;*/
}
.modal-body {
    padding: 15px 90px 10px;
    
}

/*按钮样式*/
.modal-footer .btn{
    width: 80px;
}
.modal-footer{
	border-top:none;
    padding: 25px 25px 25px 80px;
}

/*弹出框大小*/
@media (min-width: 768px){
    .modal-dialog {
        width: 500px;
    }
}
