<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.box.shopping.dao.ShoppingRateMapper">
  <resultMap id="BaseResultMap" type="com.box.shopping.model.ShoppingRate">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="value" jdbcType="REAL" property="value" />
    <result column="createby" jdbcType="VARCHAR" property="createby" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type, value, createby, createtime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_shopping_rate
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
    <select id="getAllList"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_shopping_rate
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_shopping_rate
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.box.shopping.model.ShoppingRate">
    insert into t_shopping_rate (id, type, value, 
      createby, createtime)
    values (#{id,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{value,jdbcType=REAL}, 
      #{createby,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.box.shopping.model.ShoppingRate">
    insert into t_shopping_rate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="value != null">
        value,
      </if>
      <if test="createby != null">
        createby,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="value != null">
        #{value,jdbcType=REAL},
      </if>
      <if test="createby != null">
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.box.shopping.model.ShoppingRate">
    update t_shopping_rate
    <set>
      <if test="type != null or 0 == type">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="value != null">
        value = #{value,jdbcType=REAL},
      </if>
      <if test="createby != null">
        createby = #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.box.shopping.model.ShoppingRate">
    update t_shopping_rate
    set type = #{type,jdbcType=INTEGER},
      value = #{value,jdbcType=REAL},
      createby = #{createby,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
   <select id="getRateList"  resultType="map">
	select 
	 <include refid="Base_Column_List" />
	from t_shopping_rate 
		where 1=1 
		 <if test="size != null and size!=''">
	       and size like CONCAT(CONCAT('%',#{size,jdbcType=VARCHAR}),'%') 
	      </if>
	      <if test="unit != null and unit!=''">
	       and unit = #{unit,jdbcType=INTEGER}
	      </if>
	      <if test="name != null and name!=''">
	       and name like CONCAT(CONCAT('%',#{name,jdbcType=VARCHAR}),'%') 
	      </if>
	      <if test="type != null and type!='' or 0 == type">
	       and type = #{type,jdbcType=INTEGER}
	      </if>
	 </select>
	 <delete id="batchDeleteByIds">
  	delete from t_shopping_rate where id in
  	<foreach collection="ids" item="id" open="(" separator="," close=")">
  		#{id}
  	</foreach>
  </delete>
  <select id="getByType" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  select 
	 <include refid="Base_Column_List" />
	from t_shopping_rate 
		where 1=1 
		<if test="type != null and type!='' or 0 == type">
	       and type = #{type,jdbcType=INTEGER}
	      </if>
  </select>
</mapper>