<!-- Main content -->
<section class="content">

		<div class="box box-primary">
	        <form id="technologyDetail-search-form" action="" class="form-horizontal" method="post">
	        <div class="box-body">
	          	<div class="col-sm-4">
		          	<div class="form-group">
						<label class="col-sm-4 control-label">工艺名称</label>
							<div class="col-sm-8">
								<input id="search-technologyName" name="search-technologyName" type="text" class="form-control"
								placeholder="请输入工艺名称">
							</div>
					</div>
				</div>
				
				<div class="col-sm-4">
					<div class="form-group">
						<label class="col-sm-4 control-label">工艺种类</label>
						<div class="col-sm-8">
							<select name="search-type" id="search-type" class="form-control"> </select>
						</div>	
					</div>
                </div>
                
				<div class="col-sm-4">
					<div class="form-group">
						<label class="col-sm-4 control-label">类型</label>
						<div class="col-sm-8">
						    <select name="search-cname" id="search-cname" class="form-control"> 
							  <option value="">--请选择--</option>
							  <option value="1">纸张</option>
							  <option value="2">工艺</option>
							</select>
						</div>	
					</div>
                </div>
	        </div>
	        </form>
	        
	        <!-- /.box-body -->
	        <div class="box-footer">
	        	<div class="row">
	          	<div id="technologyDetailbar" class="btn-toolbar">
					<div class="btn-group pull-left">
						<button type="button" data-btn-type="add" class="btn btn-success"><i class="fa fa-plus"></i>新增</button>
						<button type="button" data-btn-type="edit" class="btn btn-warning"><i class="fa fa-edit"></i>编辑</button>
						<button type="button" data-btn-type="delete" class="btn btn-danger"><i class="fa fa-remove"></i>删除</button>
						<button type="button" data-btn-type="scan" class="btn btn-info"><i class="fa fa-search-plus"></i>查看</button> 
					</div>

					<div class="btn-group pull-right">
						<button type="button" data-btn-type="search" class="btn btn-primary"><i class="fa fa-search"></i>查询</button>
						<button type="button" data-btn-type="reset" class="btn btn-default"><i class="fa fa-reply"></i>重置</button>
					</div>
				</div>
				</div>
				<div class="row">
					<table id="technologyDetail-table" data-toggle="table" data-url="technology/technologyDetailList" data-toolbar="#technologyDetailbar" data-pagination="true" data-search="false"
						data-striped="true" data-show-export="true" data-page-size="10" data-click-to-select="true">
						<thead>
							<tr>
								<th data-checkbox="true" class="select-checkbox"></th>
								<th data-align="center" data-field="name" data-sortable="true">工艺名称</th>
								<th data-align="center" data-field="cname" data-sortable="true" data-formatter="formatterCname">工艺类型</th>
								<th data-align="center" data-field="description" data-sortable="true">工艺描述</th>
								<th data-align="center" data-field="createtime" data-sortable="true" data-formatter="formatteryyyyMMddHHmmss">创建时间</th>
							</tr>
						</thead>
					</table>
				</div>
	        </div>
	        <!-- /.box-footer-->
      </div>
</section>

<!-- 新增弹窗 -->
<div class="modal fade col-xs-12" id="modal-technologyDetail" aria-labelledby="modalTechnologyDetailLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form class="form-horizontal" action="" id="technologyDetail-form" method="post">
				<input type="hidden" id="flag" name="flag">
				<input type="hidden" id="id" name="id">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h4 class="modal-title" id="modalTechnologyDetailLabel"></h4>
				</div>
				<div class="modal-body">
				
					<div class="form-group">
						<label class="col-sm-4 control-label" id="detail1-label">类型<span style="color: red;">*</span></label>
						<div class="col-sm-8">
							<select name="cname" id="cname" class="form-control"> 
							  <option value="">--请选择--</option>
							  <option value="1">纸张</option>
							  <option value="2">工艺</option>
							</select>
						</div>
					</div>
					
				   <div class="form-group">
						<label class="col-sm-4 control-label">工艺级别<span style="color: red;">*</span></label>
						<div class="col-sm-8">
							<select name="level" id="level" class="form-control">
								<option value="0" selected="selected">第0级</option>
								<option value="1">第1级</option>
								<option value="2">第2级</option>
							</select>
						</div>
					</div>
					
					<div class="form-group"  id="divgroupid1" style="display:none">
						<label class="col-sm-5 control-label">工艺类型第0级<span style="color: red;">*</span></label>
						<div class="col-sm-7">
							<select  id="groupid1"  class="form-control" > </select>
						</div>
					</div>
					
					<div class="form-group"  id="divgroupid2" style="display:none">
						<label class="col-sm-5 control-label">工艺类型第1级<span style="color: red;">*</span></label>
						<div class="col-sm-7">
							<select id="groupid2"  class="form-control"> </select>
						</div>
					</div>
					
                    <div class="form-group">
						<label class="col-sm-4 control-label">工艺名称<span style="color: red;">*</span></label>
						<div class="col-sm-8">
							<input id="name" name="name" type="text" class="form-control"
								placeholder="请输入工艺名称">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4 control-label">工艺描述<span style="color: red;">*</span></label>
						<div class="col-sm-8">
							<input id="description" name="description" type="text" class="form-control"
								placeholder="请输入工艺类型名称">
						</div>
					</div>
            					
					<div class="form-group">
						<label class="col-sm-4 control-label">是否有效<span style="color: red;">*</span></label>
						<div class="col-sm-8">
							<select name="enabled" id="enabled" class="form-control"> 
							  <option value="1" selected="selected">有效</option>
							  <option value="0">无效</option>
							</select>
						</div>
					</div>
					
					
            	  <div class="modal-footer">
						<button type="submit" class="btn btn-success" id="saveBtn"><i class="fa fa-save"></i>保存</button>
						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i>关闭</button>
				  </div>
				</div>
			</form>
		</div>
	</div>
</div>


<script src="${basePath}/assets/adminlte/plugins/bootstrap-table/bootstrap-table.js"></script>
<script src="${basePath}/assets/common/js/base.js"></script>


<script type="text/javascript">
$(function(){
	technologyDetailForm = $("#technologyDetail-form").form();
	technologyDetailSearchForm = $("#technologyDetail-search-form").form();
    setSelect('search-type',null,"0",null);
	//-------------button event begin----------------
	$('button[data-btn-type]').click(function() {
		var selected = $('#technologyDetail-table').bootstrapTable('getSelections');
		var action = $(this).attr('data-btn-type');
		switch (action) {
		case 'add':
			resetForm();
			$("#flag").val("1");
			$("#modalTechnologyDetailLabel").text("新增工艺类型");
			$('#modal-technologyDetail').modal('toggle');
			$('#level').val('0');
			$('#enabled').val('1');
			$("#divgroupid1").hide();
		    $("#divgroupid2").hide();
		    $('#saveBtn').show();
			break;
		case 'edit':
			if(selected.length != 1){
				layer.alert('请选择要编辑的数据,每次只能选一条!');
				return false;
			}
			resetForm();
			$("#flag").val("2");
			$("#divgroupid1").hide();
	    	$("#divgroupid2").hide();
			$("#modalTechnologyDetailLabel").text("编辑工艺类型");
			$("#modal-technologyDetail").modal("toggle");
			technologyDetailForm.initFormData(selected[0]);
			setScanSelect(selected[0]);
			$('#saveBtn').show();
		   	break;
		case 'scan':
			if(selected.length != 1){
				layer.alert('请选择要编辑的数据,每次只能选一条!');
				return false;
			}
			resetForm();
			$("#flag").val("2");
			$("#divgroupid1").hide();
	    	$("#divgroupid2").hide();
			$("#modalTechnologyDetailLabel").text("查看");
			$("#modal-technologyDetail").modal("toggle");
			technologyDetailForm.initFormData(selected[0]);
			setScanSelect(selected[0]);
			$('#saveBtn').hide();
		   	break;
		case 'delete':
			if(selected.length < 1){
				layer.alert('请选择要删除的数据');
				return false;
			}
			layer.confirm("是否要删除该行数据？",function(){
				var rowIds = getIdSelections();
				ajaxPost(basePath + "/technology/deleteTechnologyDetail", {
					techIds:JSON.stringify(rowIds)
				}, function(data){
					layer.msg(data.code, {
						icon : 1,
						time : 1500,
				});
					$('#technologyDetail-table').bootstrapTable('remove', { field: 'id', values: rowIds});
				});
				return true;
			})
			break;
		case 'search':
			var formParams = $("#technologyDetail-search-form").serializeJSON();
			ajaxGet(basePath + "/technology/technologyDetailSearchList", {
				params:JSON.stringify(formParams)
			}, function(data) {
				$('#technologyDetail-table').bootstrapTable('load',data);
			});	
			break;
		case 'reset':
			technologyDetailSearchForm.clearForm();
			$('#technologyDetail-table').bootstrapTable('refresh');
			break;

		}

	});
	//-------------button event end----------------
	
	//-------------Validator from begin----------------
	$("#technologyDetail-form").bootstrapValidator({
		message : '请输入有效值',
		feedbackIcons : {
			valid : 'glyphicon glyphicon-ok',
			invalid : 'glyphicon glyphicon-remove',
			validating : 'glyphicon glyphicon-refresh'
		},
		fields : {
			name : {
				validators : {
					notEmpty : {
						message : '请输入工艺类型名称'
					},
					threshold : 10,
					remote : {
						url : basePath + "/technology/checkTechnologyDetailNameExists",
						message : '工艺名称已存在',
						delay : 2000,
						type : 'POST'
					}
				}
			},
			cname : {
				validators : {
					notEmpty : {
						message : '请选择工艺类型'
					}
				}
			},
			description : {
				validators : {
					notEmpty : {
						message : '请输入工艺描述'
					}
				}
			}
		},

        submitHandler: function (validator, form, submitButton) {
         	var formParams = form.serializeJSON();
         	var groupid1=$('#groupid1').val();
        	var groupid2=$('#groupid2').val();
        	if(groupid2!=null){
        		formParams.parentId=groupid2;
        	}else{
        		formParams.parentId=groupid1;
        	}
        	//alert(JSON.stringify(formParams));
        	ajaxPost(basePath + "/technology/editTechnologyDetail", {
        		params:JSON.stringify(formParams)
			},  function(data){
				$('#modal-technologyDetail').modal('hide');
				layer.msg(data.code, {
					icon : 1,
					time : 1500,
				});
				$('#technologyDetail-table').bootstrapTable('refresh');
        	});
        }
	});
	//-------------Validator from end----------------
	
	 $("#level").change(function(){
		 var selected=$(this).children('option:selected').val()
		   if(selected=="0"){
	    	   $("#divgroupid1").hide();
		       $("#divgroupid2").hide();
	       }else if(selected=="1"){   
	           $("#divgroupid1").show();
	           $("#divgroupid2").hide();
	           setSelect('groupid1',null,"0",null);
	       }else if(selected=="2"){
	    	   setSelect('groupid1',null,"0",null);
	    	   $("#divgroupid1").show();
		 	   setSelect('groupid2',$('#groupid1 option:eq(1)').val(),"1",null);
		 	   $("#divgroupid2").show();
	       }
	   });
	
	 $("#groupid1").change(function(){
	       var selected=$(this).children('option:selected').val()
	       var level=$('#level').val();
	       if(selected!="" && level=="2"){
	        setSelect('groupid2',selected,"1",null);
	        $("#divgroupid2").show();
	       }
	 });
});

	
	function resetForm(){
		technologyDetailForm.clearForm();
		$("#technologyDetail-form").data('bootstrapValidator').resetForm();
	}
	
	/*
	 * 得到所有选中行
	 */
	function getIdSelections() {
		return $.map($('#technologyDetail-table').bootstrapTable('getSelections'),function(row) {
				return row.id;
		});
	}
	
	 /**
	  * 设置类型级别为0级的下拉列表
	  * @param selectid
	  * @returns
	  */
	 function setSelect(selectid,groupid,level,oneGroupid){
		var p=new Object();
		p.groupid=groupid;
		p.level=level;
	 	ajaxPost("technology/getTechonolgyLevelList", {
	 		params :JSON.stringify(p)
	 	}, function(data) {
	 		var $select = $('#'+selectid); 
	 		$select.empty();
	 		if(data.length==0){
	 			 $select.val("");
	 		}
	 		if(data.length>0){
	 			 $select.append('<option value="">请选择...</option>'); 
	 		}
	 		for(var i=0, len = data.length;i<len;i++){ 
	 		  var b=data[i];
	 		  var bid=b.id;
	 		  var bname=b.name;
	 		   $select.append('<option value="'+bid+'">'+bname+'</option>');  
	 		} 
            if(oneGroupid!=null){
            	$select.val(oneGroupid);
            }
	 	});
	 }

	 function setScanSelect(selected){
		if(selected.level==1){
			$("#divgroupid1").show();
			setSelect('groupid1',null,"0",selected.parentId);
		}else if(selected.level==2){
			$("#divgroupid1").show();
			$("#divgroupid2").show();
			//通过1级id查0级id
			ajaxPost(basePath + "/technology/getBoxClassifByGroupid", {
	        	params:JSON.stringify(selected.groupid)
			},  function(data){
				setSelect('groupid1',null,"0",data.id);
				setSelect('groupid2',data.id,"1",selected.groupid);
	        });
		}
	 }
	 
	 /**
	  * 类型
	  * @param value
	  * @param row
	  * @param index
	  * @returns
	  */
	 function formatterCname(value){
	 	if (value != undefined && value != null && $.trim(value) != '') {
	 		if(value==1){
	 			return "纸张";
	 		}else if(value==2){
	 			return "工艺";
	 		}
	 	}else{
	 		return value;
	 	}	
	 } 

</script>