<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		工艺价格管理<small>Technology Price Management</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="${basePath}/main"><i class="fa fa-dashboard"></i> 首页</a></li>
		<li class="active">工艺价格管理</li>
	</ol>

	<style>
		#ex1Slider .slider-selection {
			background: #2681E6;
		}

	</style>
	
</section>
<!-- Main content -->
<section class="content">

		<div class="box box-primary">
	        <form id="technologyPrice-search-form" action="" class="form-horizontal" method="post">
	        <div class="box-body">
	          	<div class="col-sm-4">
		          	<div class="form-group">
						<label class="col-sm-4 control-label">工艺名称</label>
							<div class="col-sm-8">
								<input id="search-technologyName" name="search-technologyName" type="text" class="form-control"
								placeholder="请输入工艺名称">
							</div>
					</div>
				</div>
				
				<div class="col-sm-4">
					<div class="form-group">
						<label class="col-sm-4 control-label">工艺种类</label>
						<div class="col-sm-8">
							<select name="search-type" id="search-type" class="form-control"> </select>
						</div>	
					</div>
                </div>
                
				<div class="col-sm-4">
					<div class="form-group">
						<label class="col-sm-4 control-label">类型</label>
						<div class="col-sm-8">
						    <select name="search-cname" id="search-cname" class="form-control"> 
							  <option value="">--请选择--</option>
							  <option value="1">纸张</option>
							  <option value="2">工艺</option>
							</select>
						</div>	
					</div>
                </div>
	        </div>
	        </form>
	        
	        <!-- /.box-body -->
	        <div class="box-footer">
	        	<div class="row">
	          	<div id="technologyPricebar" class="btn-toolbar">
					<div class="btn-group pull-left">
						<button type="button" data-btn-type="add" class="btn btn-success"><i class="fa fa-plus"></i>新增</button>
						<button type="button" data-btn-type="edit" class="btn btn-warning"><i class="fa fa-edit"></i>编辑</button>
						<button type="button" data-btn-type="delete" class="btn btn-danger"><i class="fa fa-remove"></i>删除</button>
						<button type="button" data-btn-type="scan" class="btn btn-info"><i class="fa fa-search-plus"></i>查看</button> 
					</div>

					<div class="btn-group pull-right">
						<button type="button" data-btn-type="search" class="btn btn-primary"><i class="fa fa-search"></i>查询</button>
						<button type="button" data-btn-type="reset" class="btn btn-default"><i class="fa fa-reply"></i>重置</button>
					</div>
				</div>
				</div>
				<div class="row">
					<table id="technologyPrice-table" data-toggle="table" data-url="technology/technologyPriceList" data-toolbar="#technologyPricebar" data-pagination="true" data-search="false"
						data-striped="true" data-show-export="true" data-page-size="10" data-click-to-select="true">
						<thead>
							<tr>
								<th data-checkbox="true" class="select-checkbox"></th>
								<th data-align="center" data-field="tname" data-sortable="true">工艺名称</th>
								<th data-align="center" data-field="pname" data-sortable="true">工艺类型</th>
								<th data-align="center" data-field="sname" data-sortable="true">纸质</th>
								<th data-align="center" data-field="price" data-sortable="true">工艺价格</th>
								<th data-align="center" data-field="unit" data-sortable="true">单位</th>
								<th data-align="center" data-field="createtime" data-sortable="true" data-formatter="formatteryyyyMMddHHmmss">创建时间</th>
							</tr>
						</thead>
					</table>
				</div>
	        </div>
	        <!-- /.box-footer-->
      </div>
</section>

<!-- 新增弹窗 -->
<div class="modal fade col-xs-12" id="modal-technologyPrice" aria-labelledby="modaltechnologyPriceLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form class="form-horizontal" action="" id="technologyPrice-form" method="post">
				<input type="hidden" id="flag" name="flag">
				<input type="hidden" id="id" name="id">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h4 class="modal-title" id="modaltechnologyPriceLabel"></h4>
				</div>
				<div class="modal-body">
				
					<div class="form-group">
						<label class="col-sm-4 control-label" id="detail1-label">类型<span style="color: red;">*</span></label>
						<div class="col-sm-8">
							<select name="cname" id="cname" class="form-control"> 
							  <option value="">--请选择--</option>
							  <option value="1">纸张</option>
							  <option value="2">工艺</option>
							</select>
						</div>
					</div>

					<div class="form-group"  id="divgroupid1" style="display:none">
						<label class="col-sm-5 control-label">工艺类型第0级<span style="color: red;">*</span></label>
						<div class="col-sm-7">
							<select  id="groupid1"  class="form-control" > </select>
						</div>
					</div>
					
					<div class="form-group"  id="divgroupid2" style="display:none">
						<label class="col-sm-5 control-label">工艺类型第1级<span style="color: red;">*</span></label>
						<div class="col-sm-7">
							<select id="groupid2"  class="form-control"> </select>
						</div>
					</div>
						
					<div class="form-group"  id="divgroupid3" style="display:none">
						<label class="col-sm-5 control-label">工艺类型第2级<span style="color: red;">*</span></label>
						<div class="col-sm-7">
							<select id="groupid3"  class="form-control"> </select>
						</div>
					</div>
					
					<div class="form-group"  id="divgroupid4" style="display:none">
						<label class="col-sm-5 control-label">工艺类型第3级<span style="color: red;">*</span></label>
						<div class="col-sm-7">
							<select id="style"  name="style" class="form-control"> </select>
						</div>
					</div>
                    <div class="form-group">
						<label class="col-sm-4 control-label">工艺价格<span style="color: red;">*</span></label>
						<div class="col-sm-8">
							<input id="price" name="price" type="text" class="form-control"
								placeholder="请输入工艺价格">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4 control-label">单位<span style="color: red;">*</span></label>
						<div class="col-sm-8">
						    <select name="unit" id="unit" class="form-control"> 
							  <option value="">--请选择--</option>
							  <option value="元">元</option>
							  <option value="元/吨">元/吨</option>
							  <option value="元/令">元/令</option>
							  <option value="元/色令">元/色令</option>
							  <option value="元/平方米">元/平方米</option>
							</select>
						</div>
					</div>

            	  <div class="modal-footer">
						<button type="submit" class="btn btn-success" id="saveBtn"><i class="fa fa-save"></i>保存</button>
						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i>关闭</button>
				  </div>
				</div>
			</form>
		</div>
	</div>
</div>


<script src="${basePath}/assets/adminlte/plugins/bootstrap-table/bootstrap-table.js"></script>
<script src="${basePath}/assets/common/js/base.js"></script>


<script type="text/javascript">
$(function(){
	technologyPriceForm = $("#technologyPrice-form").form();
	technologyPriceSearchForm = $("#technologyPrice-search-form").form();
	setSelect('search-type',null,"0",null);
	
	//-------------button event begin----------------
	$('button[data-btn-type]').click(function() {
		var selected = $('#technologyPrice-table').bootstrapTable('getSelections');
		var action = $(this).attr('data-btn-type');
		switch (action) {
		case 'add':
			resetForm();
			$("#flag").val("1");
			$("#modaltechnologyPriceLabel").text("新增工艺类型");
			$('#modal-technologyPrice').modal('toggle');
			$('#level').val('0');
			$('#enabled').val('1');
			$("#divgroupid1").hide();
		    $("#divgroupid2").hide();
		    $("#divgroupid3").hide();
		    $('#divgroupid4').hide();
		    $("#groupid3").empty();
		    $('#saveBtn').show();
			$('#technologyPrice-form').find('input,textarea,select').attr('readonly',false);
			break;
		case 'edit':
			if(selected.length != 1){
				layer.alert('请选择要编辑的数据,每次只能选一条!');
				return false;
			}
			resetForm();
			$("#flag").val("2");
			$("#divgroupid1").hide();
	    	$("#divgroupid2").hide();
	    	$("#divgroupid3").hide();
	    	$('#divgroupid4').hide();
	        $("#groupid3").empty();
			$("#modaltechnologyPriceLabel").text("编辑工艺类型");
			$("#modal-technologyPrice").modal("toggle");
			technologyPriceForm.initFormData(selected[0]);
			setScanSelect(selected[0]);
			$('#saveBtn').show();
			$('#technologyPrice-form').find('input,textarea,select').attr('readonly',false);
		   	break;
		case 'scan':
			if(selected.length != 1){
				layer.alert('请选择要编辑的数据,每次只能选一条!');
				return false;
			}
			resetForm();
			$("#flag").val("2");
			$("#divgroupid1").hide();
	    	$("#divgroupid2").hide();
	    	$("#divgroupid3").hide();
	    	$('#divgroupid4').hide();
	        $("#groupid3").empty();
			$("#modaltechnologyPriceLabel").text("查看");
			$("#modal-technologyPrice").modal("toggle");
			technologyPriceForm.initFormData(selected[0]);
			setScanSelect(selected[0]);
			$('#saveBtn').hide();
			$('#technologyPrice-form').find('input,textarea,select').attr('readonly',true);
		   	break;
		case 'delete':
			if(selected.length < 1){
				layer.alert('请选择要删除的数据');
				return false;
			}
			layer.confirm("是否要删除该行数据？",function(){
				var rowIds = getIdSelections();
				ajaxPost(basePath + "/technology/deleteTechnologyPrice", {
					techIds:JSON.stringify(rowIds)
				}, function(data){
					layer.msg(data.code, {
						icon : 1,
						time : 1500,
				});
					$('#technologyPrice-table').bootstrapTable('remove', { field: 'id', values: rowIds});
				});
				return true;
			})
			break;
		case 'search':
			var formParams = $("#technologyPrice-search-form").serializeJSON();
			ajaxGet(basePath + "/technology/technologyPriceSearchList", {
				params:JSON.stringify(formParams)
			}, function(data) {
				$('#technologyPrice-table').bootstrapTable('load',data);
			});	
			break;
		case 'reset':
			technologyPriceSearchForm.clearForm();
			$('#technologyPrice-table').bootstrapTable('refresh');
			break;

		}

	});
	//-------------button event end----------------
	
	//-------------Validator from begin----------------
	$("#technologyPrice-form").bootstrapValidator({
		message : '请输入有效值',
		feedbackIcons : {
			valid : 'glyphicon glyphicon-ok',
			invalid : 'glyphicon glyphicon-remove',
			validating : 'glyphicon glyphicon-refresh'
		},
		fields : {
			cname : {
				validators : {
					notEmpty : {
						message : '请选择工艺类型'
					}
				}
			},
			description : {
				validators : {
					notEmpty : {
						message : '请输入工艺描述'
					}
				}
			}
		},

        submitHandler: function (validator, form, submitButton) {
         	var formParams = form.serializeJSON();
         	var groupid1=$('#groupid1').val();
        	var groupid2=$('#groupid2').val();
        	var groupid3=$('#groupid3').val();
        	if(groupid3!=null && groupid3!=""){
        		formParams.pid=groupid2;
        		formParams.tid=groupid3;
        	}else{
        		formParams.pid=groupid1;
        		formParams.tid=groupid2;
        	}
            //console.log(JSON.stringify(formParams));
        	ajaxPost(basePath + "/technology/editTechnologyPrice", {
        		params:JSON.stringify(formParams)
			},  function(data){
				$('#modal-technologyPrice').modal('hide');
				layer.msg(data.code, {
					icon : 1,
					time : 1500,
				});
				$('#technologyPrice-table').bootstrapTable('refresh');
        	});
        }
	});
	//-------------Validator from end----------------

	 $("#cname").change(function(){
		 var selected=$(this).children('option:selected').val();
           if(selected!=""){ 
        	   //纸质
	           $("#divgroupid1").show();
	           $("#divgroupid2").show();
	           setSelect('groupid1',null,"0",null,null);
	           setSelect('groupid2',$('#groupid1 option:eq(1)').val(),"1",null,null);//再加一个cname的参数
           }
	   });
	
	 $("#groupid1").change(function(){
	       var selected=$(this).children('option:selected').val();
	       var name=$(this).children('option:selected').text();//groupid1的值     
	       if(selected!=""){
	    	$("#divgroupid3").hide();
	        $("#divgroupid4").hide();
	        setSelect('groupid2',selected,"1",null,null);
	        $("#divgroupid2").show();
	       }
	 });
	 $("#groupid2").change(function(){
	       var selected=$(this).children('option:selected').val();
	       var name=$("#groupid1").children('option:selected').text();//groupid1的值
	       var cname=$("#cname").val();
	       if(selected!=""&&name=="印刷颜色"){
	        setSelect('groupid3',selected,"2",cname,null);
	        setSelect('style',null,"1","1",null);
	        $('#divgroupid4').show();
	       }
	 });
	
});

    
    
	function resetForm(){
		technologyPriceForm.clearForm();
		$("#technologyPrice-form").data('bootstrapValidator').resetForm();
	}
	
	/*
	 * 得到所有选中行
	 */
	function getIdSelections() {
		return $.map($('#technologyPrice-table').bootstrapTable('getSelections'),function(row) {
				return row.id;
		});
	}
	 
	 function setScanSelect(selected){
			$("#divgroupid1").show();
			setSelect('groupid1',null,"0",null,selected.pid);
	        $("#divgroupid2").show();
	        setSelect('groupid2',$('#groupid1').val(),"1",null,selected.tid);
	 }
	 /**
	  * 设置类型级别为0级的下拉列表
	  * @param selectid
	  * @returns
	  */
	 function setSelect(selectid,groupid,level,cname,value){
	 	var p=new Object();
	 	p.groupid=groupid;
	 	p.level=level;
	 	p.cname=cname;
	 	ajaxPost("technology/getTechonolgyLevelList", {
	 		params :JSON.stringify(p)
	 	}, function(data) {
	 		var $select = $('#'+selectid); 
	 		$select.empty();
	 		if(data.length==0){
	 			 $select.val("");
	 			$("#divgroupid3").hide();
	 		}
	 		if(data.length>0){
	 			 $select.append('<option value="">请选择...</option>'); 
	 		}
	 		for(var i=0, len = data.length;i<len;i++){ 
	 		  var b=data[i];
	 		  var bid=b.id;
	 		  var bname=b.name;
	 		   $select.append('<option value="'+bid+'">'+bname+'</option>');  
	 		} 
	 		var val=$("#groupid3").val();
	 		if(val!=null){
	 			$("#divgroupid3").show();
	 		}
	 		if(value!=null){
	 			 $select.val(value);
	 		}
	 	});
	 }
</script>