<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		我的工作台<small>Control panel</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
		<li class="active">我的工作台</li>
	</ol>
</section>
<br/>

<!-- Main content -->
<section class="content">
<div class="row">
	<div class="col-lg-3 col-xs-6" id="userDiv">
		<!-- small box -->
		<div class="small-box bg-red">
			<div class="inner">
				<h3>用户管理</h3>
				<p>个人设置</p>
			</div>
			<div class="icon">
				<i class="ion ion-person-add"></i>
			</div>
			<a class="small-box-footer" href="#" data-url="${basePath}/uums/userSetting">更多 <i
				class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<!-- ./col -->
	<div class="col-lg-3 col-xs-6">
		<!-- small box -->
		<div class="small-box bg-aqua">
			<div class="inner">
				<h3>盒型</h3>
				<p>盒型管理</p>
			</div>
			<div class="icon">
				<i class="ion ion-bag"></i>
			</div>
			<a class="small-box-footer" href="#" data-url="${basePath}/boxmanage/boxType">更多 <i
				class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<!-- ./col -->

	<div class="col-lg-3 col-xs-6" id="comDiv">
		<!-- small box -->
		<div class="small-box bg-yellow">
			<div class="inner">
				<h3>工艺</h3>
				<p>工艺管理</p>
			</div>
			<div class="icon">
				<i class="ion ion-person-add"></i>
			</div>
			<a class="small-box-footer" href="#" data-url="${basePath}/technology/technologyDetail">更多 <i
				class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<!-- ./col -->
	<div class="col-lg-3 col-xs-6" id="machineDiv">
		<!-- small box -->
		<div class="small-box bg-red">
			<div class="inner">
				<h3>价格</h3>
				<p>价格管理</p>
			</div>
			<div class="icon">
				<i class="ion ion-pie-graph"></i>
			</div>
			<a class="small-box-footer" href="#" data-url="${basePath}/technology/technologyPrice">更多 <i
				class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<!-- ./col -->
	<div class="col-lg-3 col-xs-6" id="adDiv">
		<!-- small box -->
		<div class="small-box bg-green">
			<div class="inner">
				<h3>排版</h3>
				<p>排版管理</p>
			</div>
			<div class="icon">
				<i class="ion ion-stats-bars"></i>
			</div>
			<a class="small-box-footer" href="#" data-url="${basePath}/adserver/adserver">更多 <i
				class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<!-- ./col -->

	<div class="col-lg-3 col-xs-6" id="noticeDiv">
		<!-- small box -->
		<div class="small-box bg-yellow">
			<div class="inner">
				<h3>订单</h3>
				<p>订单管理</p>
			</div>
			<div class="icon">
				<i class="ion ion-pie-graph"></i>
			</div>
			<a class="small-box-footer" href="#" data-url="${basePath}/notice/communityNotice">更多 <i
				class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<!-- ./col -->

	
</div>

<!-- 
<div class="row">
	<div class="col-lg-6 col-xs-6">
		<div id="echartsDiv" style="height:500px;border:1px solid #ccc;padding:10px;"></div>
	</div>
	
	<div class="col-lg-6 col-xs-6">
		<div id="echartsDiv1" style="height:500px;border:1px solid #ccc;padding:10px;"></div>
	</div>
</div> -->




</section>
<!-- echarts -->
 <!--  <script src="${basePath}/assets/adminlte/plugins/echarts/theme/vintage.js"></script> 
 <script src="${basePath}/assets/adminlte/plugins/echarts/theme/macarons.js"></script>
 <script src="${basePath}/assets/adminlte/plugins/echarts/theme/dark.js"></script>
 <script src="${basePath}/assets/adminlte/plugins/echarts/echarts.js"></script> -->
<script>
$(function(){ 
   $("a[data-url]").click(function(evt){
	   loadPage($(this).data("url"));
   });
});




</script>